.xwf_folding_navContainer
{
    position:fixed;
    background-color:White;
    padding:20px;
    border:1px solid lightGray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #888888;
    background-color:	#FCFCFC;
}
.xwf_folding_tdIndicator
{
    font-size:1.2em;
    width:15px;
    height:30px;
    color:White;
    cursor:pointer;
    background-size:90%;
    background-position:center;
    background-repeat:no-repeat;
}
.xwf_folding_tdIndicator:hover
{
    background-size:100%;
}
.xwf_folding_tdTitle
{
    font-size:1em;
    font-weight:900;
    color:#5B5B5B;
    font-family:宋体;
}
.xwf_folding_navContainer a
{
    font-size:0.8em;
    font-family:宋体;
    color:#5B5B5B;
    text-decoration:none;
    --font-weight:bold;
}
.xwf_folding_navContainer a:hover
{
    color:royalBlue;
}
.xwf_folding_nav_tb
{
    width:100%;
    table-layout:fixed;
    border-collapse:collapse;
}
.xwf_folding_nav_tdCaption
{
    width:90%;
    font-family:微软雅黑;
    font-size:0.9em;
}
.xwf_folding_nav_tdImage
{
    width:30px;
    height:30px;
    background-size:cover;
}