<!DOCTYPE html>
<html>
<head>
    <title>药品入库</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style type="text/css">
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="app" style="width:1000px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="100px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="入库单号">
                        <el-input v-model="form.pk" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="仓库" required>
                        <el-select v-model="form.warehouse_id" filterable>
                            <el-option v-for="item in ds.warehouse_id" :key="item.id" :value="item.id" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="日期" required>
                        <el-date-picker v-model="form.bus_date" type="date" ref="bus_date" placeholder="入库日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="收货人">
                        <el-input v-model="form.consignee" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="金额">
                        <el-input v-model="form.amount" :disabled="true" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <!-- 添加明细 -->
        <el-row style="margin-bottom:8px;" v-show="form.astatus.equals('0')">
            <el-col style="width:688px;padding-right:0;border:solid 0px red;">
                <el-select v-model="drugId" @change="onDrugSelect" filterable default-first-option style="width:100%;" placeholder="请选择药品">
                    <el-option v-for="item in drugs" :key="item.id" :value="item.id" :label="item.label">
                        <span style="float:left">{{ item.itemText }}</span>
                        <span style="float:right;">{{ item.price + '元/' + item.unit }}</span>
                    </el-option>
                </el-select>
            </el-col>            
            <el-col style="width:120px;border:solid 0px red;">
                &nbsp;
            </el-col>
            <el-col style="width:180px;border:solid 0px red;padding-right:0px;">
                <el-button type="success" :disabled="!drugId || qty<=0" icon="el-icon-arrow-down" @click="addItem" style="width:100%;">加入明细</el-button>
            </el-col>
        </el-row>
        <el-row style="margin-bottom:8px;" v-show="form.astatus.equals('0')">
            <el-col style="width:170px;padding-right:0;border:solid 0px red;">
                <el-date-picker v-model="expDate" type="date" ref="expDate" placeholder="效期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
            </el-col>
            <el-col style="width:348px;padding-right:0;border:solid 0px red;">
                &nbsp;
            </el-col>
            <el-col style="width:75px;padding-right:0;border:solid 0px red;">
                <el-input v-model="qty" placeholder="数量" style="text-align:right;" />
            </el-col>
            <el-col style="width:95px;padding-right:0;border:solid 0px red;">
                <el-select v-model="unit" placeholder="单位">
                    <el-option v-for="item in units" :key="item" :value="item" :label="item"></el-option>
                </el-select>
            </el-col>
        </el-row>
        <!-- 明细网格 -->
        <el-row>
            <sub-view id="grid" ref="grid" style="height:420px;" @before-delete="beforeItemDelete" @after-delete="afterItemDelete"></sub-view>
        </el-row>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 10, 7, 7],
            form: {
                astatus: "0"
            },
            ds: {},

            dtbDrug: null,
            drugs: [],
            drugId: null,
            idxDrug: 0,

            units: [],
            unit: "",
            qty: 1,
            expDate: null
        },
        mounted() {
            ajax.send("/fdxyy/wi/drug_in/getDrug", {}).then(res => {
                this.dtbDrug = res.dtbDrug;

                let drugs = [];
                for (let i = 0; i < this.dtbDrug.rowCount; i++) {
                    let dataRow = this.dtbDrug.rows[i];
                    let label = dataRow["name"].value + " " + dataRow["trade_name"].value + " " + dataRow["spec"].value + " " + dataRow["pinyin"].value;
                    let itemText = dataRow["name"].value + " (" + dataRow["trade_name"].value + ") " + dataRow["spec"].value;
                    drugs.push({
                        id: dataRow["id"].value,
                        label: label,
                        itemText: itemText,
                        price: dataRow["price_buy"].value,
                        pack: dataRow["pack"].value,
                        rate: dataRow["rate"].value,
                        unit: dataRow["unit"].value
                    });
                }
                this.drugs = drugs;
            });
        },
        methods: {
            onDrugSelect: function (a, b, c) {
                for (let i = 0; i < this.drugs.length; i++) {
                    if (this.drugs[i].id == this.drugId) {
                        let units = [];
                        units.push(this.drugs[i].pack);
                        units.push(this.drugs[i].unit);
                        this.units = units;

                        this.unit = this.drugs[i].pack;
                        break;
                    }
                }
            },

            afterMove: function () {
                this.showGrid();
            },
            afterAddnew: function () {
                for (let i = 0; i < this.ds.warehouse_id.length; i++) {
                    if (this.ds.warehouse_id[i]["flag_default"].equals("true")) {
                        this.form.warehouse_id = this.ds.warehouse_id[i]["id"];
                    }
                }
                this.form.bus_date = (new Date()).toStr();
                this.form.consignee = topWin.userName;
                this.form.astatus = "0";
            },
            beforeSave: function () {
                console.log(this.form.astatus);
                return true;
            },

            addItem: async function () {
                let result;
                if (!this.form.id) {
                    result = await this.$refs.vf.save();
                    if (!result) return;
                }

                let para = {
                    drugInId: this.form.id,
                    drugId: this.drugId,
                    unit: this.unit,
                    qty: this.qty,
                    expDate: this.expDate
                }

                ajax.send("/fdxyy/wi/drug_in/addDrugInItem", para).then(res => {
                    this.form.amount = res.amount;
                    this.$refs.grid.setFilter("drug_in_id = " + this.form.id);

                })
            },
            delItem: function () {

            },

            async showGrid() {
                let drugInId = this.form.id.toInt();
                let filter = "drug_in_id = " + drugInId;
                let showDeleteColumn = this.form.astatus.equals("0");

                if (!this.$refs.grid.initialized) {
                    var para = {
                        viewPk: "drug_in_item",
                        filter: filter,
                        showDeleteColumn: showDeleteColumn
                    }
                    this.$refs.grid.init(para);
                }
                else {
                    this.$refs.grid.setFilter(filter, { showDeleteColumn: showDeleteColumn });
                }
            },
            beforeItemDelete: function (jsp, callback) {
                callback({ cancel: false });
            },
            afterItemDelete: function (jsp) {
                this.form.amount = jsp.amount;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
    }
</script>