/** 遮挡层iframe样式 **/
.xwf_context_ifrLayer {
    position: absolute;
    border: 0px solid red;
    background-color: #798BA0;
    border-radius: 4px;

}

.xwf_context_divContainer {
    position: absolute;
    padding: 6px;
    background-color: #798BA0;
    border-radius: 4px;
}

.xwf_context_ulMenu {
    margin-top: 0px;
    margin-left: 0px;
    padding: 2px;
    background-color: white;
    border-radius: 3px;
}
.xwf_context_ulMenu li {
    height: 25px;
    line-height: 25px;
    margin: 5px 2px 5px 2px;
    padding: 2px 30px 0px 5px;
    border: solid 1px White;
    cursor: pointer;
    list-style: none;
    overflow: hidden;
}
.xwf_context_ulMenu li:hover {
    background-color: #CAE1FD;
    border: solid 1px #7DA2CE;
    border-radius: 3px;
    color: Red;
}