<!DOCTYPE html>
<html>
<head>
    <title>药品维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:930px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="110px" label-position="left">
            <!-- 名称、规格、价格-->
            <el-row>
                <el-col :span="span[1]+span[2]">
                    <el-form-item label="通用名" required>
                        <el-input v-model="form.name" ref="name" placeholder="药品通用名称" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="助记码">
                        <el-input v-model="form.pinyin" placeholder="拼音缩写" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]+span[2]">
                    <el-form-item label="商品名" required>
                        <el-input v-model="form.trade_name" ref="trade_name" placeholder="药品商品名" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="进货价格">
                        <el-input v-model="form.price_buy" placeholder="采购价" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]+span[2]">
                    <el-form-item label="品规">
                        <el-input v-model="form.spec" placeholder="规格" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="门诊价格" required>
                        <el-input v-model="form.price_patient" ref="price_patient" placeholder="零售价" />
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 单位、厂商、条码 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="库房单位" required>
                        <el-select v-model="form.pack" filterable allow-create>
                            <el-option v-for="item in ds.unit" :key="item.name" :value="item.name" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="数量" required>
                        <el-input v-model="form.rate" placeholder="" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="门诊单位" required>
                        <el-select v-model="form.unit" ref="unit" filterable allow-create>
                            <el-option v-for="item in ds.unit" :key="item.name" :value="item.name" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]+span[2]">
                    <el-form-item label="生产厂商">
                        <el-select v-model="form.mfg_name" filterable allow-create>
                            <el-option v-for="item in ds.mfg_name" :key="item.name" :value="item.name" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="条形码">
                        <el-input v-model="form.barcode" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="剂型">
                        <el-input v-model="form.dosage" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="禁用">
                        <el-checkbox v-model="form.flag_inactive">禁用</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="低库存预警">
                        <el-input v-model="form.qty_low" placeholder="低库存报警线(门诊单位)" />
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 备注 -->
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 8, 8, 8],
            form: {},
            ds: {}
        },

        methods: {
            afterAddnew: function () {
                this.form.rate = "1";
                this.form.qty_low = "0";
            },
            beforeSave: function () {
                if (!this.form.price_patient) {
                    topWin.alert("门诊价格不能为空，请输入。", "warning");
                    this.$refs.price_patient.focus();
                    return;
                }

                if (this.form.pinyin.equals("")) this.form.pinyin = UtilPinyin.getPinyin(this.form.name);
                if (this.form.trade_name.equals("")) this.form.trade_name = this.form.name;                
                if (!this.form.price_buy) this.form.price_buy = this.form.price_patient;
                if (!this.form.pack) this.form.pack = this.form.unit;                
                if (!this.form.rate.toInt()) this.form.rate = "1";
                if (!this.form.qty_low) this.form.qty_low = "0";   

                if (!this.form.pack.equals(this.form.unit) && this.form.rate.toInt() <= 1) {
                    topWin.alert("库房单位和门诊单位不同，请输入正确的换算数量。", "warning");
                    this.$refs.rate.focus();
                    return;
                }
                if (this.form.pack.equals(this.form.unit) && this.form.rate.toInt() != 1) {
                    topWin.alert("库房单位和门诊单位相同，换算数量必须为 1。", "warning");
                    this.$refs.rate.focus();
                    return;
                }

                return true;
            }
        }
    });
</script>