<!DOCTYPE html>
<html>
<head>
    <title>药品维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="通用名" required>
                        <el-input v-model="form.common_name" placeholder="药品通用名称" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="助记码" required>
                        <el-input v-model="form.pinyin" placeholder="拼音缩写" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="商品名" required>
                        <el-input v-model="form.trade_name" placeholder="药品商品名" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    &nbsp;
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {},
            ds: {}
        },

        methods: {
            beforeSave: function () {
                if (!this.form.common_name) {
                }
                return true;
            }
        }
    });
</script>