<!DOCTYPE html>
<html>
<head>
    <title>DoYsUI index</title>
    <link href="plugin/element/index.css" rel="stylesheet" />

    <script src="plugin/vue.min.js"></script>
    <script src="plugin/element/index.js"></script>

    <style type="text/css">
        .el-link {
            font-size: large;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-tabs v-model="activeName">
            <el-tab-pane v-for="tab in tabs" :label="tab.name" :name="tab.name">
                <ul>
                    <li v-for="item in tab.list">
                        <el-link v-if="item.indexOf(activeLink)==0" type="danger" :href="item">{{item}}</el-link>
                        <el-link v-else type="primary" :href="item">{{item}}</el-link>
                    </li>
                </ul>
            </el-tab-pane>
        </el-tabs>
    </div>
    <div id="divLink"></div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            activeName: "aprint",
            activeLink: "project/aprint/html/login/login.html?tenantId=F118&systemKey=001&userPk=admin&autoLogin=true",
            tabs: []
        },
        mounted() {
            let tabs = [
                {
                    name: "DLabel",
                    list: [
                        "framework/control/DLabel/form/designer.html",
                        "",
                        "test/dlabel/integrate_dlabel.html",
                        "http://127.0.0.1/abc/test/dlabel/integrate_dlabel.html",
                        "",
                        "test/dlabel/integrate_bartender.html",
                        "http://127.0.0.1/abc/test/dlabel/integrate_bartender.html"
                    ]
                },
                {
                    name: "catering",
                    list: [
                        "project/catering/html/login/login.html?tenantId=F100&systemKey=X99&userPk=developer&autoLogin=true",
                        "project/catering/html/login/login.html?tenantId=F100&systemKey=001&userPk=developer&autoLogin=true",
                        "",
                        "project/catering/html/login/login.html?tenantId=F100&systemKey=001&userPk=admin&autoLogin=true",
                        "",
                        "project/catering/html/login/login.html?tenantId=F100&systemKey=001&userPk=admin"
                    ]
                },
                {
                    name: "aprint",
                    list: [
                        "project/aprint/html/login/login.html?tenantId=F100&systemKey=X99&userPk=developer&autoLogin=true",
                        "project/aprint/html/login/login.html?tenantId=F100&systemKey=001&userPk=developer&autoLogin=true",
                        "project/aprint/html/login/login.html?tenantId=F100&systemKey=001&userPk=admin&autoLogin=true",
                        "",
                        "project/aprint/html/login/login.html?tenantId=F106&systemKey=001&userPk=admin&autoLogin=true",
                        "project/aprint/html/login/login.html?tenantId=F107&systemKey=001&userPk=admin&autoLogin=true",
                        "project/aprint/html/login/login.html?tenantId=F118&systemKey=001&userPk=admin&autoLogin=true",
                        "",
                        "project/aprint/html/login/login.html?tenantId=F10&userPk=admin&password=34821015"
                    ]
                },
                {
                    name: "apo",
                    list: [
                        "project/apo/html/login/login.html?tenantId=F100&systemKey=X99&userPk=developer&autoLogin=true",
                        "project/apo/html/login/login.html?tenantId=F100&systemKey=002&userPk=developer&autoLogin=true",
                        "",
                        "project/apo/html/login/login.html?tenantId=F100&systemKey=002&userPk=admin&autoLogin=true",
                        "",
                        "project/apo/html/login/login.html?tenantId=F100&systemKey=002&userPk=LiuXuan&autoLogin=true",
                        "project/apo/html/login/login.html?tenantId=F100&systemKey=002&userPk=LvZhaoYuan"
                    ]
                },
                {
                    name: "test",
                    list: [
                        "project/.aid/html/util/postman.html",
                        "",
                        "test/temp/once.html",
                        "",
                        "project/.demo/html/barcode/gs1_scan.html",
                        "project/.demo/html/barcode/example.html"
                    ]
                },
                {
                    name: "fdxyy",
                    list: [
                        "project/fdxyy/html/login/login.html?tenantId=F100&systemKey=X99&userPk=developer&autoLogin=true",
                        "project/fdxyy/html/login/login.html?tenantId=F100&systemKey=003&userPk=admin&autoLogin=true",
                        "project/fdxyy/html/login/login.html?tenantId=F100&systemKey=003&userPk=admin"
                    ]
                }
            ];
            this.tabs = this.process(tabs);
        },
        methods: {
            process(tabs) {
                let rnd = Math.floor(Math.random() * 1000000) / 1000000;
                for (let i = 0; i < tabs.length; i++) {
                    let list = tabs[i].list;
                    for (let j = 0; j < list.length; j++) {
                        let url = list[j];

                        if (url) {
                            url += (url.indexOf("?") < 0 ? "?" : "&") + "rnd=" + rnd;
                        }
                        list[j] = url;
                    }
                }
                return tabs;
            }
        }
    });
</script>