<!DOCTYPE html>
<html>
<head>
    <title>后台任务（手工调用）</title>
    <script src="../../../../framework/core/boot.js"></script>
    <style type="text/css">
        .message {
            color: red;
            font-size: large;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-button type="primary" onclick="win.close();">关闭</el-button>
        <el-tabs v-model="activeTabName" @tab-click="tabImportClick">
            <el-tab-pane label="DI上传" name="uploadDI">
                <el-button type="primary" @click="uploadDiData">上传DI数据</el-button>
            </el-tab-pane>
            <el-tab-pane label="待定..." name="others" :disabled="true">

            </el-tab-pane>
        </el-tabs>

        <!-- message -->
        <el-divider content-position="left" v-if="listLog.length">执行结果</el-divider>
        <el-row v-show="message">
            {{message}}
        </el-row>
        <el-row>
            <ul>
                <li v-for="item in listLog" style="color:red;margin-bottom:15px;">{{item}}</li>
            </ul>
        </el-row>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            activeTabName: "uploadDI",

            message: "",
            listLog: [],

            dtStart: ""                 // -- 接口返回的接口执行开始时间 --
        },
        mounted() {
        },
        methods: {
            tabImportClick() {
                setPageCookie("activeTabName", this.activeTabName);
            },

            async uploadDiData() {
                this.message = "DI数据上传接口服务器较慢，请耐心等待...";

                ajax.send("/aprint/thirdparty/nmpa/uploadDiData", {}).then((res) => {
                    this.message = (new Date()).toString() + " DI数据上传接口服务已启动，请到“产品DI上传日志”中查询上传结果。";
                });
            }
        }
    });
</script>
<!-- winLoad -->
<script>
    function winLoad() {
        let activeTabName = getPageCookie("activeTabName");
        if (!activeTabName.equals("")) {
            app.activeTabName = activeTabName;
        }
    }
</script>