<!DOCTYPE html>
<html>
<head>
    <title>区域定义</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="区域名称" required>
                        <el-input v-model="form.name" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="序号" required>
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {}
        },

        methods: {
            beforeSave: function () {
                if (!this.form.name) {
                    topWin.alert("请输入区域名称。", "warning");
                    return false;
                }
                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    let grid = gId("grid");
    function winLoad() {
        grid.style.height = (win.p.maxHeight - 0) + "px";


    }
</script>