<!DOCTYPE html>
<html>
<head>
    <title>标准2列单表表单</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <!-- 必填字段、日期字段 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="必填字段" required>
                        <el-input v-model="form.name" ref="name" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="日期">
                        <el-date-picker v-model="form.bus_date" type="date" placeholder="续费日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 下拉框 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="静态枚举值">
                        <el-select v-model="form.method" style="width:100%;" clearable default-first-option>
                            <el-option value="GET" label="GET"></el-option>
                            <el-option value="POST" label="POST"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="序号" required>
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 跨列多行文本 -->
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="多行文本">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {
                parent_id: null
            },
            parentId: null
        },

        methods: {
            afterAddnew() {
                this.form.parent_id = this.parentId;
                this.form.bus_date = (new Date()).toStr();
            },
            beforeSave: function () {
                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        app.parentId = win.parentWindow.app.$refs.vf.getId();
    }
</script>