<!DOCTYPE html>
<html>
<head>
    <title>主表+子表(单个子表)编辑窗口</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="节点代码" required>
                        <el-input v-model="form.code" ref="code" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="序号">
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="节点名称">
                        <el-input v-model="form.name" ref="name" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <sub-view id="grid" ref="grid" style="height:340px;"></sub-view>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {}
        },

        methods: {
            afterAddnew: function () {
                this.form.sequence = "999";
            },
            afterMove: function () {
                let filter = "trace_node_id = " + this.$refs.vf.getId();
                if (this.$refs.grid.initialized) {
                    this.$refs.grid.setFilter(filter);
                }
                else {
                    var para = {
                        viewPk: "trace_node_item",
                        flowPks: "'sys_crud'",
                        filter: filter,
                        vfUrl: g.x.getPath("/") + "trace_node_item.html"
                    }
                    this.$refs.grid.init(para);
                }
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function getTraceNodeId() {
        return app.$refs.vf.getId();
    }
</script>