.xwf_tab_tbTab {
    width: 100%;
    border-collapse: collapse;
}

.xwf_tab_tbTab tr {
    border-bottom: solid 1px lightgray;
}

.xwf_tab_tbTab td {
    display: inline-block;
    padding: 0px;
    cursor: default;
    white-space: nowrap;
    font-family: 微软雅黑;
    vertical-align: bottom;
    margin-bottom: -1px;
    background: #F9F9F9;
}


/* 未选中选项卡样式 */

.xwf_tab_tdTab {}

.xwf_tab_tdTab div {
    height: 22px;
    line-height: 22px;
    border: solid 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 10px 5px 10px;
    font-size: 11pt;
}

.xwf_tab_tdTab div:hover {
    color: Blue;
}


/* 选中选项卡样式 */

.xwf_tab_tdTabSelected {
    /* border-top: 1px solid Blue; */
}

.xwf_tab_tdTabSelected div {
    color: Blue;
    height: 25px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 10px 5px 10px;
    font-size: 11pt;
}


/* divContainer参考样式 */

.xwf_tab_divContainer {
    padding: 10px;
    border: 1px solid lightGray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}