/* 垂直滚动顶级面板************************************* */

.xwf_scrollbar_divPanelV {
    position: absolute;
    background-color: #f0f0f0;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    border: solid 0px #519BE1;
}

.xwf_scrollbar_divPanelV div {
    position: absolute;
    overflow: hidden;
    cursor: default;
    padding: 0px;
    text-align: center;
    left: 0px;
}


/* 垂直滚动区组件 */

.xwf_scrollbar_divM {
    border: solid 0px blue;
}

.xwf_scrollbar_divV {
    color: Olive;
    background-color: #c1c1c1;
    border: solid 0px red;
}

.xwf_scrollbar_divV:hover {
    background-color: #a8a8a8;
}

.xwf_scrollbar_divV_Active {
    background-color: #787878;
}


/* 水平滚动顶级面板************************************* */

.xwf_scrollbar_divPanelH {
    position: absolute;
    background-color: #f0f0f0;
    vertical-align: middle;
    overflow: hidden;
    padding: 0px;
    border: solid 0px #519BE1;
}

.xwf_scrollbar_divPanelH div {
    position: absolute;
    overflow: hidden;
    cursor: default;
    padding: 0px;
    text-align: center;
    top: 0px;
}


/* 水平滚动区组件 */

.xwf_scrollbar_divC {
    border: solid 0px blue;
}

.xwf_scrollbar_divH {
    color: Olive;
    background-color: #c1c1c1;
    border: solid 0px red;
}

.xwf_scrollbar_divH:hover {
    background-color: #a8a8a8;
}

.xwf_scrollbar_divH_Active {
    background-color: #787878;
}


/* 滚动组件样式微调 */

.xwf_scrollbar_divTriangle.fa.fa-caret-left::before,
.xwf_scrollbar_divTriangle.fa.fa-caret-right::before,
.xwf_scrollbar_divTriangle.fa.fa-caret-up::before,
.xwf_scrollbar_divTriangle.fa.fa-caret-down::before {
    position: absolute;
    width: 8px;
    height: 20px;
    line-height: 20px;
    left: 50%;
    margin-left: -4px;
}

.xwf_scrollbar_divPanelV,
.xwf_scrollbar_divPanelH {
    right: 0;
    bottom: 0;
}


/* 三角按钮、模态层、透明度 */

.xwf_scrollbar_divTriangle {
    border: solid 0px pink;
}

.xwf_scrollbar_divTriangle:hover {
    background-color: #c1c1c1;
}

.xwf_scrollbar_divModal {
    position: absolute;
}

.xwf_scrollbar_out {
    opacity: 0.1;
    filter: alpha(opacity=10);
}


/* 鼠标移动到表格区域时候，显示滚动条 */

.xwf_gridview_divGrid:hover .xwf_scrollbar_divPanelH.xwf_select_none {
    opacity: 1;
    filter: alpha(opacity=100);
}

.xwf_gridview_divGrid .xwf_scrollbar_divPanelH.xwf_select_none {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.xwf_gridview_divGrid:hover .xwf_scrollbar_divPanelV.xwf_select_none {
    opacity: 1;
    filter: alpha(opacity=100);
}

.xwf_gridview_divGrid .xwf_scrollbar_divPanelV.xwf_select_none {
    opacity: 0.1;
    filter: alpha(opacity=10);
}


/* 
.xwf_gridview_divTree {
    border-top: solid 0 #c0c0c0 !important;
}
.xwf_gridview_tbMain {
	border-top: solid 1px #c0c0c0 !important;
}
#xwf_gridview_0_tdGrid {
	border-left: solid 1px #c0c0c0 !important;
}
.xwf_gridview_divStatusBar,
.xwf_grid_tbLayout {
	border-left: solid 0 #c0c0c0 !important;
}
.xwf_gridview_divGrid {
	overflow-y: auto !important;
}
.xwf_grid_tbLayout {
	position: relative;
    height: auto;
    border-top: none !important;
}
.xwf_grid_tbLayout_trH {
	position: fixed;
}
.xwf_grid_tbLayout_trH + tr {
	display: block;
	margin-top: 36px;
}
.xwf_scrollbar_divPanelH {
	bottom: 0 !important;
	position: fixed !important;
} */