/** 遮挡层iframe样式 
    1/2级菜单大小：32 * 32，3级菜单大小：24 * 24
**/
.xwf_menu2_ifrLayer2 {
    position: absolute;
    border: 0px;
    background-color: #455a70;
    border-radius: 4px;
}

/** 1级菜单样式 **/
.xwf_menu2_divMenu1 {
    position: absolute;
    padding: 8px;
    border-radius: 5px;
}

.xwf_menu2_ulMenu1 {
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 5px 0px 20px;
    border-radius: 4px;
}

    .xwf_menu2_ulMenu1 li {
        color: #455a70;
        height: 24px;
        line-height: 24px;
        font-family: 微软雅黑;
        margin: 6px 15px 6px 0px;
        padding: 1px;
        cursor: pointer;
        list-style: none;
        float: left;
    }

        .xwf_menu2_ulMenu1 li:hover {
            color: Blue;
        }

        .xwf_menu2_ulMenu1 li table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .xwf_menu2_ulMenu1 li td {
            padding: 0px;
            overflow: hidden;
            font-size: 11pt;
            font-family: 微软雅黑;
            white-space: nowrap;
        }

/** 2级菜单样式 **/
.xwf_menu2_divMenu23 {
    position: absolute;
    padding: 8px 0px 0px 8px;
    background-color: #1f3853;
    border-radius: 5px;
}

.xwf_menu2_tbMenu2 {
    table-layout: fixed;
    border-collapse: collapse;
}

.xwf_menu2_tdMenu2 {
    color: GhostWhite;
    width: 240px;
    vertical-align: top;
    padding: 0px 8px 0px 0px;
}

.xwf_menu2_divMenu2 {
    /** 2级菜单DIV **/
    margin: 0px 68px 0px 5px;
    padding-left: 10px;
    border-bottom: solid 2px #c0c0c0;
    height: 45px;
    line-height: 45px;
    font-size: 12pt;
    font-weight: bold;
    color: GhostWhite;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 32px;
    overflow: hidden;
}

.xwf_menu2_arrow_up {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent; /* 左边框的宽 */
    border-right: 5px solid transparent; /* 右边框的宽 */
    border-bottom: 5px solid #1f3853; /* 下边框的长度|高,以及背景色 */
    font-size: 0;
    line-height: 0;
}
/** 3级菜单样式 **/
.xwf_menu2_ulMenu3 {
    margin: 0px 0px 8px 0px;
    padding: 2px 12px 2px 12px;
    border-radius: 0px 0px 16px 0px;
}

    .xwf_menu2_ulMenu3 li {
        height: 28px;
        line-height: 28px;
        font-family: 微软雅黑;
        font-size: 11pt;
        cursor: pointer;
        list-style: none;
        overflow: hidden;
    }

        .xwf_menu2_ulMenu3 li:hover {
            color: #19a2d5;
        }

        .xwf_menu2_ulMenu3 li table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .xwf_menu2_ulMenu3 li td {
            padding: 0px;
            white-space: nowrap;
        }

    .xwf_menu2_ulMenu3 img {
        width: 24px;
        height: 24px;
    }

/** 3级菜单分割线 **/
.xwf_menu2_divLine {
    height: 1px;
    margin: 4px 0px 4px 28px;
}
