<!DOCTYPE html>
<html>
<head>
    <title>药品申领单</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:930px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="110px" label-position="left">
            <!-- 名称、规格、价格-->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="申请单号">
                        <el-input v-model="form.pk" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="金额">
                        <el-input v-model="form.amount" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-form-item label="日期" require>
                        <el-date-picker v-model="form.bus_date" type="date" ref="bus_date" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 备注 -->
            <el-row>
                <el-col :span="span[1]+span[2]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" />
                    </el-form-item>
                </el-col>
                <el-col style="width:90px;">
                    &nbsp;
                </el-col>
                <el-col style="width:10px;">
                    &nbsp;
                </el-col>
                <el-col style="width:150px;border:solid 0px red;padding-right:0px;">
                    <el-button type="primary" icon="el-icon-shopping-cart-full" @click="autoGenerate" style="width:100%;">一键生成</el-button>
                </el-col>
            </el-row>
        </el-form>
        <!-- 添加明细 -->
        <el-row style="margin-bottom:8px;">
            <el-col :span="span[1]+span[2]">
                <el-select v-model="drugId" @change="onDrugSelect" filterable default-first-option style="width:100%;" placeholder="请选择药品">
                    <el-option v-for="item in drugs" :key="item.id" :value="item.id" :label="item.label">
                        <span style="float:left">{{ item.itemText }}</span>
                        <span style="float:right;">{{ item.price + '元/' + item.unit }}</span>
                    </el-option>
                </el-select>
            </el-col>
            <el-col style="width:70px;padding-right:0;border:solid 0px red;">
                <el-input v-model="qty" placeholder="数量" style="text-align:right;" />
            </el-col>
            <el-col style="width:40px;">
                &nbsp;
            </el-col>
            <el-col style="width:150px;border:solid 0px red;padding-right:0px;">
                <el-button type="success" :disabled="!drugId || qty<=0" icon="el-icon-arrow-down" @click="addItem" style="width:100%;">加入明细</el-button>
            </el-col>
        </el-row>
        <!-- 明细网格 -->
        <el-row>
            <sub-view id="grid" ref="grid" style="height:420px;" @after-delete="afterItemDelete" @row-change="onRowChange"></sub-view>
        </el-row>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 10, 7, 7],
            form: {
                astatus: "0"
            },
            ds: {},

            dtbDrug: null,
            drugs: [],
            drugId: null,
            //idxDrug: 0,

            qty: 1
        },
        mounted() {
            ajax.send("/fdxyy/core/drug_apply/getDrug", {}).then(res => {
                this.dtbDrug = res.dtbDrug;

                let drugs = [];
                for (let i = 0; i < this.dtbDrug.rowCount; i++) {
                    let dataRow = this.dtbDrug.rows[i];
                    let label = dataRow["name"].value + " " + dataRow["trade_name"].value + " " + dataRow["spec"].value + " " + dataRow["pinyin"].value;
                    let itemText = dataRow["name"].value + " (" + dataRow["trade_name"].value + ") " + dataRow["spec"].value;
                    drugs.push({
                        id: dataRow["id"].value,
                        label: label,
                        itemText: itemText,
                        unit: dataRow["unit"].value,
                        price: dataRow["price_buy"].value,
                        qtyApply: dataRow["qty_apply"].value
                    });
                }
                this.drugs = drugs;
            });
        },
        methods: {
            async autoGenerate() {
                let result;
                if (!this.form.id) {
                    result = await this.$refs.vf.save();
                    if (!result) return;
                }
                if (this.form.amount) {
                    result = await topWin.confirm("当前已存在请领明细，确定要重新生成吗？");
                    if (!result) return;
                }

                let para = {
                    drugApplyId: this.form.id
                }
                ajax.send("/fdxyy/core/drug_apply/autoGenerate", para).then(res => {
                    this.$refs.grid.setFilter("drug_apply_id = " + this.form.id);
                    this.form.amount = res.amount;
                });
            },
            onDrugSelect: function (drugId) {
                for (let i = 0; i < this.drugs.length; i++) {
                    if (this.drugs[i].id == this.drugId) {
                        this.qty = this.drugs[i].qtyApply;
                        break;
                    }
                }
            },

            afterMove: function () {
                this.showGrid();
            },
            async showGrid() {
                let drugApplyId = this.form.id.toInt();
                let filter = "drug_apply_id = " + drugApplyId;
                let showDeleteColumn = this.form.astatus.equals("0");

                if (!this.$refs.grid.initialized) {
                    var para = {
                        viewPk: "drug_apply_item",
                        filter: filter,
                        showDeleteColumn: showDeleteColumn
                    }
                    this.$refs.grid.init(para);
                }
                else {
                    this.$refs.grid.setFilter(filter, { showDeleteColumn: showDeleteColumn });
                }
            },
            afterAddnew: function () {
                this.form.bus_date = (new Date()).toStr();
                this.form.astatus = "0";
            },
            beforeSave: function () {
                return true;
            },
            onClick(button) {
                if (button.name.equals("print")) {
                    topWin.message("功能开发中...", "success");
                }
                else {
                    topWin.message("button.name = " + button.name);
                }
                return false;
            },

            addItem: async function () {
                let result;
                if (!this.form.id) {
                    result = await this.$refs.vf.save();
                    if (!result) return;
                }

                let para = {
                    drugApplyId: this.form.id,
                    drugId: this.drugId,
                    qty: this.qty
                }
                ajax.send("/fdxyy/core/drug_apply/addItem", para).then(res => {
                    this.$refs.grid.setFilter("drug_apply_id = " + this.form.id);
                    this.form.amount = res.amount;
                })
            },
            afterItemDelete: function (jsp) {
                this.form.amount = jsp.amount;
            },
            onRowChange(jsp) {
                if (jsp.currentRow) {
                    this.drugId = jsp.currentRow.drug_id;
                    this.qty = jsp.currentRow.qty;
                }
                else {
                    this.drugId = null;
                    this.qty = "";
                }
            }
        }
    });
</script>