<!DOCTYPE html>
<html>
<head>
    <title>商户申请</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:900px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="125px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="申请单号">
                        <el-input v-model="form.pk" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="日期" required>
                        <el-date-picker v-model="form.bus_date" type="date" placeholder="开户日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 账户类型、账户模板 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="账户类型" required>
                        <el-select v-model="form.tenant_type">
                            <el-option value="F" label="付费企业"></el-option>
                            <el-option value="D" label="演示账户"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="模板" required>
                        <el-select v-model="form.tenant_code_templet" ref="tenant_code_templet" filterable >
                            <el-option v-for="item in ds.tenant_code_templet" :key="item.tenant_id" :value="item.tenant_id" :label="item.tenant_name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 企业代码、企业简称；企业名称-->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="企业代码">
                        <el-input v-model="form.tenant_code" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="企业简称" required>
                        <el-input v-model="form.tenant_shortname" ref="tenant_shortname" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="企业名称" required>
                        <el-input v-model="form.tenant_name" ref="tenant_name" />
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 开户费、到期日期；管理员账号、管理员密码-->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="开户费" required>
                        <el-input v-model="form.amount" ref="amount" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="到期日期" required>
                        <el-date-picker v-model="form.exp_date" type="date" placeholder="到期日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="管理员账号" required>
                        <el-input v-model="form.admin_user_pk" ref="admin_user_pk" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="管理员密码" required>
                        <el-input v-model="form.admin_password" ref="admin_password" show-password />
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 销售；备注 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="销售" required>
                        <el-input v-model="form.salesman" ref="salesman" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="">
                        &nbsp;
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="3" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {
                tenant_type: "",
                tenant_code_templet: ""
            },
            ds: {}
        },

        methods: {
            afterAddnew: function () {
                this.form.bus_date = (new Date).toStr();
                this.form.exp_date = (new Date).add(1, "year").toStr();

                this.form.tenant_type = "F";
                this.form.tenant_code_templet = this.ds.tenant_code_templet[0].tenant_id;
            },
            beforeSave: function () {
                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
    }
</script>