<!DOCTYPE html>
<html>
<head>
    <title>商户续费登记</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="续费单号">
                        <el-input v-model="form.pk" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="日期" required>
                        <el-date-picker v-model="form.bus_date" type="date" placeholder="续费日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="续费企业" required>
                        <el-select v-model="form.tenant_id" @change="onTenantIdChange" filterable :popper-append-to-body="false">
                            <el-option v-for="item in ds.tenant_id" :key="item.id" :value="item.id" :label="item.name">
                                <span style="float: left">{{ item.name }}</span>
                                <span style="float: right;">{{item.type + item.id + ' (' + item.exp_date + ')'}}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="续费金额" required>
                        <el-input v-model="form.amount" ref="amount" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="到期日期" required>
                        <el-date-picker v-model="form.exp_date" type="date" placeholder="到期日期" value-format="yyyy-MM-dd" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="销售">
                        <el-input v-model="form.salesman" ref="salesman" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="4" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {},
            ds: {}
        },

        methods: {
            onTenantIdChange(tenantId) {
                let option = this.ds.tenant_id.find((item) => {
                    return item.id === tenantId;
                });
                this.form.tenant_name = option.name;
                this.form.exp_date = option.exp_date.toDate().add(1, "year").toStr();
                this.form.salesman = option.salesman;
                this.form.amount = "";
            },
            afterAddnew: function () {
                this.form.bus_date = (new Date).toStr();
            },
            beforeSave: function () {
                if (!this.form.tenant_id) {
                    topWin.alert("请选择续费企业。", "warning");
                    return false;
                }
                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
    }
</script>