<!DOCTYPE html>
<html>
<head>
    <title>Excel导入打印</title>
    <script src="../../../../framework/core/boot.js"></script>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="8" style="padding-right:20px;">
                <el-row>
                    <el-button @click="deleteTask" :disabled="!taskId">删除数据</el-button>
                    <el-button @click="print({previewOnly: true})" :disabled="!labelId">预览</el-button>
                    <el-button @click="print({})" type="danger" :disabled="!labelId">打印</el-button>
                </el-row>
                <el-row style="margin-top:10px;">
                    <el-col :span="11">
                        <el-input v-model="taskPk" placeholder="任务单号" :disabled="true">
                            <template slot="prepend">
                                任务单号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="1">&nbsp;</el-col>
                    <el-col :span="7">
                        <el-input v-model="rowNoFrom">
                            <template slot="prepend">
                                起始行号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="rowNoTo">
                            <template slot="prepend">
                                到
                            </template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <hr />
                    </el-col>
                </el-row>
                <el-form label-width="140px" label-position="left" size1="medium">
                    <el-row>
                        <el-col>
                            <el-form-item label="标签" required>
                                <el-select v-model="labelId" @change="onLabelChange" filterable :popper-append-to-body="false" style="width:100%;">
                                    <el-option v-for="item in labels" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                        <span style="float: left">{{ item.code }}</span>
                                        <span style="float: right;">{{ item.name }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-form-item label="打印机">
                                <el-select v-model="printerName" @change="preview();onPrinterChange();" filterable style="width:100%;">
                                    <el-option v-for="printerName in printers" :key="printerName" :value="printerName" :label="printerName"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col style="text-align:right;">
                            <el-upload class="upload-demo"
                                       :action="actionUpload"
                                       :before-upload="beforeUpload"
                                       :on-success="afterUpload"
                                       accept=".xls,.xlsx"
                                       :with-credentials="true"
                                       :show-file-list="false">
                                <el-button v-show="labelId" type="primary">导入Excel数据 (.xls; .xlsx)</el-button>
                            </el-upload>
                        </el-col>
                    </el-row>
                </el-form>
            </el-col>
            <el-col :span="16">
                <sub-view id="grid" ref="grid"></sub-view>
            </el-col>
        </el-row>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            dtbLabel: null,
            dtbTask: null,

            labels: [],

            labelId: null,
            actionUpload: "",
            uploadFields: "",           // -- 当前导入的Excel列集合 --
            dataPreview: null,          // -- 当前导入的数据集(仅预览部分) --

            labelType: "",              // -- 标签类型(DLabel/BarTender/NiceLabel etc.) --
            taskId: null,
            labelContent: "",           // -- 标签内容 --

            taskPk: null,
            rowNoFrom: null,
            rowNoTo: null,

            printerName: "",
            printers: []
        },
        mounted() {
            let postData = { viewPk: this.viewPk, flowPks: this.flowPks };
            ajax.send("/aprint/quick_print/getInitData", postData).then(res => {
                if (res.ok) {
                    let labels = [];
                    let dtbLabel = res.dtbLabel;
                    for (let i = 0; i < dtbLabel.rowCount; i++) {
                        let dataRow = dtbLabel.rows[i];
                        labels.push({ id: "" + dataRow["id"].value, code: dataRow["code"].value, name: dataRow["name"].value, dataRow: dataRow });
                    }
                    this.labels = labels;
                }
                else {
                }
            });
        },
        methods: {
            reset() {
                this.taskId = 0;
                this.taskPk = "";
                this.variables = {};
                this.dataPreview = null;
                this.rowNoFrom = 0;
                this.rowNoTo = 0;
                this.copies = 1;
            },
            onLabelChange() {
                this.reset();

                this.actionUpload = g.prefix + "/aprint/print/ExcelPrint/uploadExcel?labelId=" + this.labelId;
                ajax.send("/aprint/quick_print/getLabelAndLabelVariableById", { labelId: this.labelId }).then(res => {
                    this.dtbLabel = res.dtbLabel;
                    this.labelType = this.dtbLabel.rows[0]["type"].value;
                    this.labelContent = this.dtbLabel.rows[0]["content"].value;

                    this.print({ previewOnly: true });
                    this.initGrid();
                });
            },
            getLabelSummary() {
                let dataRow = this.dtbLabel.rows[0];
                let arr = new Array();

                arr.push("标签代码：" + dataRow["code"].value);
                arr.push("名称：" + dataRow["name"].value);
                arr.push("宽高：" + dataRow["width"].value + "×" + dataRow["height"].value);
                arr.push("备注：" + dataRow["remark"].value);

                return arr.join("    ");
            },

            beforeUpload(a, b, c) {
                if (!this.labelId) {
                    topWin.alert("请先选择标签。", "error");
                }
            },
            afterUpload(res, b, c) {
                res = ajax.parseResponseData(res);
                if (res.ok) {
                    this.dtbTask = res.dtbTask;
                    this.taskId = this.dtbTask.rows[0]["id"].value;
                    this.taskPk = this.dtbTask.rows[0]["pk"].value;
                    this.uploadFields = res.uploadFields;

                    this.initGrid();

                    this.rowNoFrom = 1;
                    this.rowNoTo = res.qty;

                    this.print({ previewOnly: true });
                }
                else {
                    topWin.alert(res.error);
                }
            },

            deleteTask() {
                topWin.confirm("确定要删除当前已生成的打印数据吗？").then((ok) => {
                    if (!ok) return;
                    let postData = {
                        taskId: this.taskId
                    };
                    ajax.send("/aprint/quick_print/deleteTask", postData).then(res => {
                        this.taskId = null;
                        this.taskPk = null;
                        this.rowNoFrom = null;
                        this.rowNoTo = null;

                        this.initGrid();
                    });
                });
            },

            async print(jsp = { previewOnly: false }) {
                let para = {
                    taskId: this.taskId,
                    labelId: this.labelId,
                    rowNoFrom: this.rowNoFrom,
                    rowNoTo: jsp.previewOnly ? this.rowNoFrom : this.rowNoTo
                };
                let res = await ajax.send("/aprint/print/print_query/getForPrint", para);
                this.dtbLabel = res.dtbLabel;
                this.dtbTaskData = res.dtbTaskData;
                this.labelContent = this.dtbLabel.rows[0]["content"].value;

                // ----------------------------------------
                para = {
                    labelType: this.labelType,
                    previewOnly: jsp.previewOnly,
                    printerName: this.printerName,
                    copies: this.copies
                }
                if (this.labelType.equals("BarTender")) {
                    para.urlLabelFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["label_file_name"].value;
                    para.urlDataFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["data_file_name"].value;
                    para.dataString = this.getPrintData_BarTender();
                }
                else {
                    await this.previewDLabel();

                    para.labelString = this.labelContent;
                    para.dataString = this.getPrintData();
                    if (para.previewOnly) {
                        return;
                    }
                }

                // ----------------------------------------
                top.edge.printLabel(para);
            },
            async preview() {
                if (this.labelType.equals("BarTender")) {
                    await this.print({ previewOnly: true });
                }
                else {
                    await this.previewDLabel();
                }
            },
            async previewDLabel() {
                if (winPreview) {
                    if (!this.labelId.equals(winPreview.window.labelId)) {
                        winPreview.close({ callerIsParent: true });
                        winPreview = null;
                    }
                }

                if (winPreview == null) {
                    let prop = {
                        url: g.path.framework + "/control/DLabel/form/preview.html",
                        left: win.p.maxWidth / 2,
                        parent: win,
                        modal: false
                    };
                    let para = {
                        labelWidth: this.dtbLabel.rows[0]["width"].value,
                        labelHeight: this.dtbLabel.rows[0]["height"].value
                    };
                    winPreview = topWin.openWindow(prop, para);
                    while (!winPreview.window) {
                        await sleep(50);
                    }

                    // -- 加载标签 --
                    winPreview.window.labelId = this.labelId;
                    let lbl = winPreview.window.getLabel();
                    lbl.loadLabel(this.labelContent, {
                        imageBaseUrl: topWin.cfg.labelVariableImageBaseUrl,
                        labelId: this.labelId,
                        readonly: true
                    });
                    lbl.compute(true);
                }
                else {
                    winPreview.show();
                }
            },

            getPrintData() {
                let data = [], dataString;
                let lbl = winPreview.window.getLabel();

                let rowCount = this.dtbTaskData.rowCount;
                let columnCount = this.dtbTaskData.columnCount;
                // ----------------------------------------
                for (let i = 0; i < rowCount; i++) {
                    for (let j = 0; j < columnCount; j++) {
                        name = this.dtbTaskData.columns[j].name;
                        if (name.equals("task_id") || name.equals("id")
                            || name.equals("$row_no") || name.equals("$cdate")) {
                            continue;
                        }
                        value = this.dtbTaskData.rows[i][j].value;
                        lbl.setValue(name, value);
                    }
                    lbl.compute(i == rowCount - 1);
                    data.push(lbl.getData());
                }
                // ----------------------------------------
                dataString = JSON.stringify(data, null, " ");
                return dataString;
            },
            getPrintData_BarTender() {
                let DATA = [];
                let rowCount = this.dtbTaskData.rowCount;
                let columnCount = this.dtbTaskData.columnCount;

                let arr = [];
                for (let i = 0; i < columnCount; i++) {
                    arr.push(this.dtbTaskData.columns[i].name);
                }
                DATA.push(arr.join(g.c.CHAR2));

                for (let i = 0; i < rowCount; i++) {
                    let arr = [];
                    for (let j = 0; j < columnCount; j++) {
                        arr.push(this.dtbTaskData.rows[i][j].value);
                    }
                    DATA.push(arr.join(g.c.CHAR2));
                }
                return DATA.join(g.c.CHAR1);
            },

            initGrid() {
                var para = {
                    viewPk: "x_label",
                    controller: "/aprint/print/x_label_view",
                    filter: "task_id = " + (this.taskId || 0),
                    extUserDef: {
                        labelId: this.labelId || 0
                    }
                }
                this.$refs.grid.init(para);
            },
            onPrinterChange() {
                setLocalItem(ckLatestPrinter, this.printerName);
            },
        }
    });
</script>
<!-- winLoad -->
<script>
    var ckLatestPrinter = "excel_print_latest_printer";
    var winPreview;
    // ------------------------------------------------------------------------
    function winLoad() {
        gId("grid").style.height = (win.p.maxHeight - 0) + "px";

        for (let i = 0; i < topWin.printers.length; i++) {
            app.printers.push(topWin.printers[i]);
        }
        app.printerName = getLocalItem(ckLatestPrinter);

        app.initGrid();
    }
</script>