<!DOCTYPE html>
<html>
<head>
    <title>历史任务单查询</title>
    <script src="../../../../framework/core/doys.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style type="text/css">
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="app" style="width:1200px;">
            <view-form-bar id="vf" ref="vf"></view-form-bar>
            <el-form :model="form" ref="form" label-width="145px" label-position="left">
                <el-row>
                    <el-col :span="span[1]">
                        <el-form-item label="任务单号">
                            <el-input v-model="form.task_pk" :disabled="true" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[2]">
                        <el-form-item label="起始行号" required>
                            <el-input v-model="rowNoFrom" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[3]">
                        <el-form-item label="到" required>
                            <el-input v-model="rowNoTo" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <sub-view id="grid" ref="grid"></sub-view>
        </div>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 10, 7, 7],
            form: {},

            dtbLabel: null,
            rowNoFrom: 1,
            rowNoTo: 100
        },
        methods: {
            afterMove: function () {
                var para = {
                    viewPk: "x_label",
                    controller: "/aprint/print/x_label_view",
                    filter: "task_id = " + this.form.id,
                    extUserDef: {
                        labelId: this.form.label_id
                    }
                }
                this.$refs.grid.init(para);

                ajax.send("/aprint/quick_print/getLabelAndLabelVariableById", { labelId: this.form.label_id }).then(res => {
                    this.dtbLabel = res.dtbLabel;
                });

                this.rowNoTo = this.form.qty ? this.form.qty : 0;
            },
            onClick: function (button) {
                if (button.name.equals("task_print")) {
                    this.print();
                }
                else {
                    topWin.alert("name = " + button.name + ", text = " + button.text);
                }
            },

            initLabel(para) {
                let paraInvoke = {
                    action: "initLabel",
                    labelId: this.form.label_id,
                    labelContent: this.dtbLabel.rows[0]["content"].value,
                    labelType: this.dtbLabel.rows[0]["type"].value,
                    labelSummary: this.getLabelSummary(),
                    variables: [],
                    quickPrint: (para.quickPrint ? "1" : "0"),
                    taskId: this.form.id,
                    taskData: para.taskData
                }
                if (this.dtbLabel.rows[0]["type"].value.equals("BarTender")) {
                    if (this.dtbLabel.rows[0]["label_file_name"].value.equals("")) {
                        topWin.alert("尚未上传BarTender标签文件，请检查。", "warning");
                        return;
                    }
                    paraInvoke.urlLabelFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["label_file_name"].value;

                    if (this.dtbLabel.rows[0]["data_file_name"].value.equals("")) {
                        topWin.alert("尚未上传BarTender标签数据源模板文件，请检查。", "warning");
                        return;
                    }
                    paraInvoke.urlDataFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["data_file_name"].value;
                }

                top.initLabel(paraInvoke);
            },
            getLabelSummary() {
                let dataRow = this.dtbLabel.rows[0];
                let arr = new Array();

                arr.push("标签代码：" + dataRow["code"].value);
                arr.push("名称：" + dataRow["name"].value);
                arr.push("宽高：" + dataRow["width"].value + "×" + dataRow["height"].value);
                arr.push("备注：" + dataRow["remark"].value);

                return arr.join("    ");
            },

            preview() {
                this.initLabel({});
            },
            print() {
                if (this.rowNoFrom.toInt() < 1 || this.rowNoTo.toInt() < 1 || this.rowNoTo.toInt() < this.rowNoFrom.toInt()) {
                    topWin.alert("请输入正确的起始行号。");
                    return;
                }

                let postData = {
                    labelId: this.form.label_id,
                    taskId: this.form.id,
                    rowNoFrom: this.rowNoFrom,
                    rowNoTo: this.rowNoTo
                };
                ajax.send("/aprint/quick_print/getTaskData", postData).then(res => {
                    if (res.ok) {
                        let DATA = [];
                        let dtbTaskData = res.dtbTaskData;

                        let rowCount = dtbTaskData.rowCount;
                        let columnCount = dtbTaskData.columnCount;

                        let arr = [];
                        for (let i = 0; i < columnCount; i++) {
                            arr.push(dtbTaskData.columns[i].name);
                        }
                        DATA.push(arr.join(g.c.CHAR2));

                        for (let i = 0; i < rowCount; i++) {
                            let arr = [];
                            for (let j = 0; j < columnCount; j++) {
                                arr.push(dtbTaskData.rows[i][j].value);
                            }
                            DATA.push(arr.join(g.c.CHAR2));
                        }

                        this.initLabel({ quickPrint: false, taskData: DATA.join(g.c.CHAR1) });
                    }
                    else {
                    }
                });
            }
        }
    });

    // ------------------------------------------------------------------------
    function winLoad() {
        gId("grid").style.height = (win.p.maxHeight - 200) + "px";
    }
</script>