<!DOCTYPE html>
<html>
<head>
    <title>历史任务单</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style type="text/css">
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="app" style="width:1200px;">
            <view-form-bar id="vf" ref="vf"></view-form-bar>
            <el-form :model="form" ref="form" label-width="90px" label-position="left">
                <el-row>
                    <el-col :span="span[1]">
                        <el-form-item label="打印机">
                            <el-select v-model="printerName" @change="preview();onPrinterChange();" filterable style="width:100%;">
                                <el-option v-for="printerName in printers" :key="printerName" :value="printerName" :label="printerName"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[2]">
                        <el-form-item label="打印份数" required>
                            <el-input v-model="copies" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[3]">
                        <el-form-item label="起始行号" required>
                            <el-input v-model="rowNoFrom" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[4]">
                        <el-form-item label="到" required>
                            <el-input v-model="rowNoTo" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <sub-view id="grid" ref="grid"></sub-view>
        </div>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 9, 5, 5, 5],
            form: {},

            dtbLabel: null,
            dtbTaskData: null,

            taskId: 0,
            labelId: 0,
            labelType: "",
            labelContent: "",

            rowNoFrom: 1,
            rowNoTo: 100,
            copies: 1,

            printerName: "",
            printers: []
        },
        methods: {
            afterMove: function () {
                this.taskId = this.form.id;
                this.labelId = this.form.label_id;
                this.labelType = this.form.label_type;
                this.rowNoTo = this.form.qty ? this.form.qty : 0;

                var para = {
                    viewPk: "x_label",
                    controller: "/aprint/print/x_label_view",
                    filter: "task_id = " + this.form.id,
                    extUserDef: {
                        labelId: this.form.label_id
                    }
                }
                this.$refs.grid.init(para);

                if (winPreview) {
                    winPreview.hide();
                }
            },
            onClick: function (button) {
                if (button.name.equals("preview")) {
                    this.print({ previewOnly: true });
                }
                else if (button.name.equals("print")) {
                    this.print();
                }
                else {
                    topWin.alert("name = " + button.name + ", text = " + button.text);
                }
            },

            async print(jsp = { previewOnly: false }) {
                if (this.rowNoFrom.toInt() < 1 || this.rowNoTo.toInt() < 1 || this.rowNoTo.toInt() < this.rowNoFrom.toInt()) {
                    topWin.alert("请输入正确的起始行号。");
                    return;
                }
                if (this.copies.toInt() < 1) {
                    topWin.alert("请输入正确的打印份数。");
                    return;
                }

                let para = {
                    taskId: this.form.id,
                    labelId: this.form.label_id,
                    rowNoFrom: this.rowNoFrom,
                    rowNoTo: this.rowNoTo
                };
                let res = await ajax.send("/aprint/print/print_query/getForPrint", para);
                this.dtbLabel = res.dtbLabel;
                this.dtbTaskData = res.dtbTaskData;
                this.labelContent = this.dtbLabel.rows[0]["content"].value;

                // ----------------------------------------
                para = {
                    labelType: this.labelType,
                    previewOnly: jsp.previewOnly,
                    printerName: this.printerName,
                    copies: this.copies
                }
                if (this.labelType.equals("BarTender")) {
                    para.urlLabelFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["label_file_name"].value;
                    para.urlDataFile = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + this.dtbLabel.rows[0]["data_file_name"].value;
                    para.dataString = this.getPrintData_BarTender();
                }
                else {
                    await this.previewDLabel();
                    if (para.previewOnly) {
                        return;
                    }

                    para.labelString = this.labelContent;
                    para.dataString = this.getPrintData();
                }

                // ----------------------------------------
                top.edge.printLabel(para);
            },
            async previewDLabel() {
                if (winPreview) {
                    if (!this.labelId.equals(winPreview.window.labelId)) {
                        winPreview.close({ callerIsParent: true });
                        winPreview = null;
                    }
                }

                if (winPreview == null) {
                    let prop = {
                        url: g.path.framework + "/control/DLabel/form/preview.html",
                        left: win.p.maxWidth / 2,
                        parent: win,
                        modal: false
                    };
                    let para = {
                        labelWidth: this.dtbLabel.rows[0]["width"].value,
                        labelHeight: this.dtbLabel.rows[0]["height"].value
                    };
                    winPreview = topWin.openWindow(prop, para);
                    while (!winPreview.window) {
                        await sleep(50);
                    }
                }
                else {
                    winPreview.show();
                }

                // -- 加载标签 --
                winPreview.window.labelId = this.labelId;
                let lbl = winPreview.window.getLabel();
                lbl.loadLabel(this.labelContent, {
                    imageBaseUrl: topWin.cfg.labelVariableImageBaseUrl,
                    labelId: this.labelId,
                    readonly: true
                });
                lbl.compute(true);
            },

            getPrintData() {
                let data = [], dataString;
                let lbl = winPreview.window.getLabel();

                let rowCount = this.dtbTaskData.rowCount;
                let columnCount = this.dtbTaskData.columnCount;
                // ----------------------------------------
                for (let i = 0; i < rowCount; i++) {
                    for (let j = 0; j < columnCount; j++) {
                        name = this.dtbTaskData.columns[j].name;
                        if (name.equals("task_id") || name.equals("id")
                            || name.equals("$row_no") || name.equals("$cdate")) {
                            continue;
                        }
                        value = this.dtbTaskData.rows[i][j].value;

                        lbl.setValue(name, value);
                    }
                    lbl.compute(i == rowCount - 1);
                    data.push(lbl.getData());
                }
                // ----------------------------------------
                dataString = JSON.stringify(data, null, " ");
                return dataString;
            },
            getPrintData_BarTender() {
                let DATA = [];
                let rowCount = this.dtbTaskData.rowCount;
                let columnCount = this.dtbTaskData.columnCount;

                let arr = [];
                for (let i = 0; i < columnCount; i++) {
                    arr.push(this.dtbTaskData.columns[i].name);
                }
                DATA.push(arr.join(g.c.CHAR2));

                for (let i = 0; i < rowCount; i++) {
                    let arr = [];
                    for (let j = 0; j < columnCount; j++) {
                        arr.push(this.dtbTaskData.rows[i][j].value);
                    }
                    DATA.push(arr.join(g.c.CHAR2));
                }
                return DATA.join(g.c.CHAR1);
            },

            getLabelSummary() {
                let dataRow = this.dtbLabel.rows[0];
                let arr = new Array();

                arr.push("标签代码：" + dataRow["code"].value);
                arr.push("名称：" + dataRow["name"].value);
                arr.push("宽高：" + dataRow["width"].value + "×" + dataRow["height"].value);
                arr.push("备注：" + dataRow["remark"].value);

                return arr.join("    ");
            },
        }
    });

</script>

<!-- winLoad -->
<script>
    var ckLatestPrinter = "quick_print_latest_printer";

    var winPreview;
    // ------------------------------------------------------------------------
    function winLoad() {
        gId("grid").style.height = (win.p.maxHeight - 200) + "px";

        for (let i = 0; i < topWin.printers.length; i++) {
            app.printers.push(topWin.printers[i]);
        }
        app.printerName = getLocalItem(ckLatestPrinter);
    }
</script>