<!DOCTYPE html>
<html>
<head>
    <title>标签打印窗口</title>
    <script src="../../../../framework/core/doys.js"></script>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="8">
                <el-row>
                    <el-button @click="createTask" type="primary">生成数据</el-button>
                    <el-button @click="deleteTask" v-show="taskId">删除数据</el-button>
                    <el-button @click="print" type="danger" v-show="taskId">打印</el-button>
                </el-row>
                <el-row style="margin-top:10px;">
                    <el-col :span="11">
                        <el-input v-model="taskId" placeholder="任务单ID" :disabled="true">
                            <template slot="prepend">
                                任务单号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="1">&nbsp;</el-col>
                    <el-col :span="7">
                        <el-input v-model="rowNoFrom">
                            <template slot="prepend">
                                起始行号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="rowNoTo">
                            <template slot="prepend">
                                到
                            </template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <hr />
                    </el-col>
                </el-row>
                <el-form label-width="140px" label-position="left" size1="medium">
                    <el-row>
                        <el-col>
                            <el-form-item label="标签" required>
                                <el-select v-model="labelId" @change="onLabelChange" filterable :popper-append-to-body="false" style="width:100%;">
                                    <el-option v-for="item in labels" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                        <span style="float: left">{{ item.code }}</span>
                                        <span style="float: right;">{{ item.name }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-form-item label="客户">
                                <el-select v-model="customerId" @change="onCustomerChange" filterable :popper-append-to-body="false" style="width:100%;">
                                    <el-option v-for="item in customers" :key="item.id" :value="item.id" :label="item.name"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-form-item label="产品料号(PN)">
                                <el-select v-model="productPnId" @change="onProductPnChange" filterable :popper-append-to-body="false" style="width:100%;">
                                    <el-option v-for="item in productPns" :key="item.id" :value="item.id" :label="item.productName + '    ' + item.pn">
                                        <span style="float: left">{{ item.productName }}</span>
                                        <span style="float: right;">{{ item.pn }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="打印数量" required>
                                <el-input v-model="qty" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="份数" required>
                                <el-input v-model="copies" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <hr />
                        </el-col>
                    </el-row>
                    <el-row v-for="item in variables" :key="item.name">
                        <el-col>
                            <el-form-item :label="item.name">
                                <el-input v-model="item.value" @change="onVarChange" placeholder="打印前请赋值..." />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-col>
            <el-col :span="1">&nbsp;</el-col>
            <el-col :span="15">
                <sub-view id="grid" ref="grid" @ondetailclick="onDetailClick"></sub-view>
            </el-col>
        </el-row>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            dtbLabel: null,
            dtbLabelVariable: null,

            variables: [],              // -- 标签变量集合 --
            customerId: null,
            productPnId: null,
            labels: [],
            customers: [],
            productPns: [],

            labelId: null,
            qty: null,
            copies: 1,
            taskId: null,
            rowNoFrom: null,
            rowNoTo: null
        },
        mounted() {
            let postData = { viewPk: this.viewPk, flowPks: this.flowPks };
            ajax.send("/aprint/quick_print/getInitData", postData).then(res => {
                if (res.ok) {
                    let labels = [];
                    let dtbLabel = res.dtbLabel;
                    for (let i = 0; i < dtbLabel.rowCount; i++) {
                        let dataRow = dtbLabel.rows[i];
                        labels.push({ id: "" + dataRow["id"].value, code: dataRow["code"].value, name: dataRow["name"].value, dataRow: dataRow });
                    }
                    this.labels = labels;

                    let customers = [];
                    let dtbCustomer = res.dtbCustomer;
                    for (let i = 0; i < dtbCustomer.rowCount; i++) {
                        let dataRow = dtbCustomer.rows[i];
                        customers.push({ id: "" + dataRow["id"].value, name: dataRow["name"].value, dataRow: dataRow });
                    }
                    this.customers = customers;

                    let productPns = [];
                    let dtbProductPn = res.dtbProductPn;
                    for (let i = 0; i < dtbProductPn.rowCount; i++) {
                        let dataRow = dtbProductPn.rows[i];
                        productPns.push({ id: "" + dataRow["id"].value, productName: dataRow["product_name"].value, pn: dataRow["pn"].value, dataRow: dataRow });
                    }
                    this.productPns = productPns;
                }
                else {
                }
            });
        },
        methods: {
            onLabelChange() {
                ajax.send("/aprint/quick_print/getLabelAndLabelVariableById", { labelId: this.labelId }).then(res => {
                    this.dtbLabel = res.dtbLabel;
                    this.dtbLabelVariable = res.dtbLabelVariable;

                    let variables = [];
                    for (let i = 0; i < this.dtbLabelVariable.rowCount; i++) {
                        variables.push({
                            name: this.dtbLabelVariable.rows[i]["name"].value,
                            value: this.dtbLabelVariable.rows[i]["value"].value
                        });
                    }
                    this.variables = variables;

                    this.initLabel();
                });
            },
            onCustomerChange() {
                ajax.send("/aprint/label/getCustomerParaByCustomerId", { customerId: this.customerId }).then(res => {
                    this.dtbCustomerPara = res.dtbCustomerPara;
                    this.initLabel();
                });
            },
            onProductPnChange() {
                ajax.send("/aprint/label/getProductPnParaByProductPnId", { productPnId: this.productPnId }).then(res => {
                    this.dtbProductPnPara = res.dtbProductPnPara;
                    this.initLabel();
                });
            },
            onVarChange() {
                this.initLabel();
            },
            initLabel(quickPrint = false, taskData = "") {
                if (!this.labelId) return;
                for (let i = 0; i < this.dtbLabelVariable.rowCount; i++) {
                    let name = this.dtbLabelVariable.rows[i]["name"].value;
                    let type = this.dtbLabelVariable.rows[i]["type"].value;

                    if (type.equals("quote")) {
                        let quoteFrom = this.dtbLabelVariable.rows[i]["quote_from"].value;
                        if (quoteFrom.equals("customer") && this.dtbCustomerPara) {
                            for (let j = 0; j < this.dtbCustomerPara.rowCount; j++) {
                                let paraCode = this.dtbCustomerPara.rows[j]["para_code"].value;
                                if (paraCode.equals(name)) {
                                    this.variables[i]["value"] = this.dtbCustomerPara.rows[j]["para_value"].value;
                                    break;
                                }
                            }
                        }
                        else if (quoteFrom.equals("product") && this.dtbProductPnPara) {
                            for (let j = 0; j < this.dtbProductPnPara.rowCount; j++) {
                                let paraCode = this.dtbProductPnPara.rows[j]["para_code"].value;
                                if (paraCode.equals(name)) {
                                    this.variables[i]["value"] = this.dtbProductPnPara.rows[j]["para_value"].value;
                                    break;
                                }
                            }
                        }
                    }
                }

                let para = {
                    action: "initLabel",
                    labelId: this.labelId,
                    labelContent: this.dtbLabel.rows[0]["content"].value,
                    variables: this.variables,
                    quickPrint: (quickPrint ? "1" : "0"),
                    taskData: taskData
                }
                top.initLabel(para);
            },
            syncLabel() {

            },

            createTask() {
                if (!this.labelId) {
                    topWin.alert("请先选择要打印的标签。");
                    return;
                }
                if (!this.qty || this.qty < 0) {
                    topWin.alert("请输入打印数量。");
                    return;
                }

                let postData = {
                    labelId: this.labelId,
                    qty: this.qty,
                    copies: this.copies,
                    variables: this.variables
                };
                ajax.send("/aprint/quick_print/createTask", postData).then(res => {
                    if (res.ok) {
                        this.taskId = res.taskId;
                        this.$refs.grid.setFilter("task_id = " + this.taskId);

                        this.onLabelChange();
                        this.rowNoFrom = 1;
                        this.rowNoTo = this.qty; 
                    }
                    else {
                    }
                });
            },
            deleteTask() {
                if (!this.taskId) return;

                topWin.confirm("确定要删除当前已生成的打印数据吗？", "", () => {
                    let postData = {
                        taskId: this.taskId
                    };
                    ajax.send("/aprint/quick_print/deleteTask", postData).then(res => {
                        if (res.ok) {
                            this.taskId = 0;
                            this.$refs.grid.setFilter("task_id = " + this.taskId);
                        }
                        else {
                        }
                    });
                });
            },
            print() {
                let postData = {
                    labelId: this.labelId,
                    taskId: this.taskId,
                    rowNoFrom: this.rowNoFrom,
                    rowNoTo: this.rowNoTo
                };
                ajax.send("/aprint/quick_print/getTaskData", postData).then(res => {
                    if (res.ok) {
                        let DATA = [];
                        let dtbTaskData = res.dtbTaskData;

                        let rowCount = dtbTaskData.rowCount;
                        let columnCount = dtbTaskData.columnCount;

                        let arr = [];
                        for (let i = 0; i < columnCount; i++) {                            
                            arr.push(dtbTaskData.columns[i].name);
                        }
                        DATA.push(arr.join(g.c.CHAR2));

                        for (let i = 0; i < rowCount; i++) {
                            let arr = [];
                            for (let j = 0; j < columnCount; j++) {
                                arr.push(dtbTaskData.rows[i][j].value);
                            }
                            DATA.push(arr.join(g.c.CHAR2));
                        }
                         
                        this.initLabel(false, DATA.join(g.c.CHAR1));
                    }
                    else {
                    }
                });
            },
            onDetailClick: function (dataRow, callback) {
                callback(true);
                topWin.alert(dataRow["id"].value);
            }
        }
    });

    // ------------------------------------------------------------------------
    function winLoad() {
        gId("grid").style.height = (win.p.maxHeight - 0) + "px";

        var para = {
            viewPk: "x_label",
            controller: "/aprint/print/x_label_view",
            filter: "1 = 0"
        }
        app.$refs.grid.init(para);
    }
</script>