<!DOCTYPE html>
<html>
<head>
    <title>按订单打印</title>
    <script src="../../../../framework/core/doys.js?v=20200703"></script>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="8">
                <el-row>
                    <el-button @click="createTask" type="primary">生成数据</el-button>
                    <el-button @click="deleteTask" v-show="taskId">删除数据</el-button>
                    <el-button @click="preview" v-show="labelId">预览</el-button>
                    <el-button @click="print" type="danger" v-show="taskId">打印</el-button>
                </el-row>
                <el-row style="margin-top:10px;">
                    <el-col :span="11">
                        <el-input v-model="taskPk" placeholder="任务单号" :disabled="true">
                            <template slot="prepend">
                                任务单号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="1">&nbsp;</el-col>
                    <el-col :span="7">
                        <el-input v-model="rowNoFrom">
                            <template slot="prepend">
                                起始行号
                            </template>
                        </el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="rowNoTo">
                            <template slot="prepend">
                                到
                            </template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <hr />
                    </el-col>
                </el-row>
                <el-form label-width="140px" label-position="left" size1="medium">
                    <el-row>
                        <el-form-item label="订单单号" required>
                            <el-input placeholder="请输入订单单号， 测试样例:1230001、2、3" v-model="orderNumber" @change="searchOrderNumber">
                                <el-button slot="append" icon="el-icon-search" @click="searchOrderNumber"></el-button>
                            </el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-form-item label="标签" required>
                                <el-select v-model="labelId" @change="onLabelChange" filterable :popper-append-to-body="false" style="width:100%;">
                                    <el-option v-for="item in labels" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                        <span style="float: left">{{ item.code }}</span>
                                        <span style="float: right;">{{ item.name }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="打印数量" required>
                                <el-input v-model="qty" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            &nbsp;
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <hr />
                        </el-col>
                    </el-row>
                    <el-row v-for="item in variables" :key="item.name">
                        <el-col>
                            <el-form-item :label="item.name">
                                <el-input v-model="item.value" @change="onVarChange" :disabled="item.disabled" placeholder="打印前请赋值..." />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-col>
            <el-col :span="1">&nbsp;</el-col>
            <el-col :span="15">
                <sub-view id="grid" ref="grid"></sub-view>
            </el-col>
        </el-row>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            orderNumber: "",

            dtbOrder: null,
            dtbLabel: null,
            dtbLabelVariable: null,
            dtbTask: null,

            variables: [],              // -- 标签变量集合 --
            labels: [],

            labelId: null,
            qty: null,

            taskId: null,
            taskPk: null,
            rowNoFrom: null,
            rowNoTo: null
        },
        mounted() { },
        methods: {
            reset() {
                this.variables = [];

                this.qty = 0;

                this.taskId = null;
                this.taskPk = null;
                this.rowNoFrom = null;
                this.rowNoTo = null;
            },
            async searchOrderNumber() {
                this.reset();

                let res = await ajax.send("/aprint/projects/renben/order_print/getOrderByOrderNumber", { orderNumber: this.orderNumber });

                this.dtbOrder = res.dtbOrder;
                if (this.dtbOrder.rowCount == 0) {
                    topWin.alert("订单不存在，请检查。");
                    return;
                }

                //this.loadLabels();
                this.setVariables();
            },
            loadLabels() {
                let postData = { viewPk: this.viewPk, flowPks: this.flowPks };
                ajax.send("/aprint/quick_print/getInitData", postData).then(res => {
                    let labels = [];
                    let dtbLabel = res.dtbLabel;
                    for (let i = 0; i < dtbLabel.rowCount; i++) {
                        let dataRow = dtbLabel.rows[i];
                        labels.push({ id: "" + dataRow["id"].value, code: dataRow["code"].value, name: dataRow["name"].value, dataRow: dataRow });
                    }
                    this.labels = labels;
                });
            },

            onLabelChange() {
                this.reset();

                ajax.send("/aprint/quick_print/getLabelAndLabelVariableById", { labelId: this.labelId }).then(res => {
                    this.dtbLabel = res.dtbLabel;
                    this.dtbLabelVariable = res.dtbLabelVariable;

                    this.setVariables();
                });
            },
            onVarChange() {
                this.initLabel({});
            },

            setVariables() {
                let variables = [];
                // -- 加载标签变量 --
                if (this.dtbLabelVariable && this.dtbLabelVariable.rowCount > 0) {
                    for (let i = 0; i < this.dtbLabelVariable.rowCount; i++) {
                        let name = this.dtbLabelVariable.rows[i]["name"].value;
                        let value = this.dtbLabelVariable.rows[i]["value"].value;
                        let type = this.dtbLabelVariable.rows[i]["type"].value;
                        let disabled = (this.dtbLabelVariable.rows[i]["flag_manual_modify"].value == 0);

                        // -- 已订单变量值为准(如果有) --
                        if (this.dtbOrder.rowCount == 1) {
                            for (let i = 0; i < this.dtbOrder.columnCount; i++) {
                                let columnName = this.dtbOrder.columns[i].name;
                                let columnValue = this.dtbOrder.rows[0][columnName].value;

                                if (columnName.equals(name)) {
                                    value = columnValue;
                                    disabled = true;    // -- 订单变量值不允许修改 --
                                    break;
                                }
                            }
                        }
                        // -- 加入变量集合 --
                        variables.push({
                            name: name,
                            value: value,
                            type: type,
                            disabled: disabled
                        });
                    }
                }

                // -- 保留用户修改过的值(仅限字符类型的变量，并且允许手工修改) --
                for (let i = 0; i < this.variables.length; i++) {
                    if (variables[i].type.equals("string") && !variables[i].disabled) {
                        variables[i].value = this.variables[i].value;
                    }
                }
                this.variables = variables;

                this.initLabel({});
                this.initGrid();
            },
            initLabel(para) {
                if (!this.labelId) return;

                let para1 = {
                    action: "initLabel",
                    labelId: this.labelId,
                    labelContent: this.dtbLabel.rows[0]["content"].value,
                    labelType: this.dtbLabel.rows[0]["type"].value,
                    labelSummary: this.getLabelSummary(),
                    variables: this.variables,
                    quickPrint: (para.quickPrint ? "1" : "0"),
                    taskId: this.taskId,
                    taskData: para.taskData
                }
                if (this.dtbLabel.rows[0]["type"].value.equals("BarTender")) {
                    if (this.dtbLabel.rows[0]["label_file_name"].value.equals("")) {
                        topWin.alert("尚未上传BarTender标签文件，请检查。", "warning");
                        return;
                    }
                    para.urlLabelFile = g.path.resRun + "/aprint/label_file/" + this.dtbLabel.rows[0]["label_file_name"].value;

                    if (this.dtbLabel.rows[0]["data_file_name"].value.equals("")) {
                        topWin.alert("尚未上传BarTender标签数据源模板文件，请检查。", "warning");
                        return;
                    }
                    para.urlDataFile = g.path.resRun + "/aprint/label_file/" + this.dtbLabel.rows[0]["data_file_name"].value;
                }

                top.initLabel(para1);
            },
            getLabelSummary() {
                let dataRow = this.dtbLabel.rows[0];
                let arr = new Array();

                arr.push("标签代码：" + dataRow["code"].value);
                arr.push("名称：" + dataRow["name"].value);
                arr.push("宽高：" + dataRow["width"].value + "×" + dataRow["height"].value);
                arr.push("备注：" + dataRow["remark"].value);

                return arr.join("    ");
            },

            createTask() {
                if (!this.labelId) {
                    topWin.alert("请先选择要打印的标签。");
                    return;
                }
                if (!this.qty || this.qty < 0) {
                    topWin.alert("请输入打印数量。");
                    return;
                }

                let postData = {
                    labelId: this.labelId,
                    qty: this.qty,
                    copies: this.copies,
                    variables: this.variables
                };
                ajax.send("/aprint/quick_print/createTask", postData).then(res => {
                    if (res.ok) {
                        this.dtbTask = res.dtbTask;
                        this.taskId = this.dtbTask.rows[0]["id"].value;
                        this.taskPk = this.dtbTask.rows[0]["pk"].value;
                        this.dtbLabelVariable = res.dtbLabelVariable;

                        this.setVariables();

                        this.initGrid();

                        this.rowNoFrom = 1;
                        this.rowNoTo = this.qty;
                    }
                    else {
                    }
                });
            },
            deleteTask() {
                if (!this.taskId) return;

                topWin.confirm("确定要删除当前已生成的打印数据吗？", "", () => {
                    let postData = {
                        taskId: this.taskId
                    };
                    ajax.send("/aprint/quick_print/deleteTask", postData).then(res => {
                        if (res.ok) {
                            this.taskId = null;
                            this.taskPk = null;
                            this.rowNoFrom = null;
                            this.rowNoTo = null;
                            this.initGrid();
                        }
                        else {
                        }
                    });
                });
            },
            initGrid() {
                var para = {
                    viewPk: "x_label",
                    controller: "/aprint/print/x_label_view",
                    filter: "task_id = " + this.taskId,
                    extUserDef: {
                        labelId: this.labelId
                    }
                }
                this.$refs.grid.init(para);
            },

            print() {
                let postData = {
                    labelId: this.labelId,
                    taskId: this.taskId,
                    rowNoFrom: this.rowNoFrom,
                    rowNoTo: this.rowNoTo
                };
                ajax.send("/aprint/quick_print/getTaskData", postData).then(res => {
                    if (res.ok) {
                        let DATA = [];
                        let dtbTaskData = res.dtbTaskData;

                        let rowCount = dtbTaskData.rowCount;
                        let columnCount = dtbTaskData.columnCount;

                        let arr = [];
                        for (let i = 0; i < columnCount; i++) {
                            arr.push(dtbTaskData.columns[i].name);
                        }
                        DATA.push(arr.join(g.c.CHAR2));

                        for (let i = 0; i < rowCount; i++) {
                            let arr = [];
                            for (let j = 0; j < columnCount; j++) {
                                arr.push(dtbTaskData.rows[i][j].value);
                            }
                            DATA.push(arr.join(g.c.CHAR2));
                        }

                        this.initLabel({ quickPrint: false, taskData: DATA.join(g.c.CHAR1) });
                    }
                    else {
                    }
                });
            },
            preview() {
                this.initLabel({});
            }
        }
    });

    // ------------------------------------------------------------------------
    function winLoad() {
        gId("grid").style.height = (win.p.maxHeight - 0) + "px";

        app.initGrid();
        app.loadLabels();
    }
</script>