<!DOCTYPE html>
<html>
<head>
    <title>标签元素定义</title>
    <script src="../../../core/doys.js?v=1"></script>
    <script>
        importFrameworkRes("d-label");
    </script>
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .el-col-base {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px;height:500px;">
        <el-tabs v-model="activeTabName" type="card">
            <el-tab-pane label="基本信息" name="base">
                <el-form label-width="120px" label-position="right">
                    <el-row>
                        <el-col :span="10" class="el-col-base">
                            <el-form-item label="元素类型" required>
                                <el-select v-model="head.elementType" @change="elementTypeChange()" style="width:100%;">
                                    <el-option value="barcode" label="条形码"></el-option>
                                    <el-option value="text" label="文本"></el-option>
                                    <el-option value="image" label="图片"></el-option>
                                    <el-option value="shape" label="形状"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="14" class="el-col-base">
                            <el-form-item label="名称">
                                <el-input v-model="head.name"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-show="head.elementType=='barcode'">
                        <el-col :span="10" class="el-col-base">
                            <el-form-item label="符号体系">
                                <el-select v-model="head.barcodeType" filterable style="width:100%;">
                                    <el-option-group label="一维码">
                                        <el-option value="CODE_128" label="Code 128"></el-option>
                                        <el-option value="CODE_39" label="Code 39"></el-option>
                                    </el-option-group>
                                    <el-option-group label="二维码">
                                        <el-option value="QR_CODE" label="QR Code"></el-option>
                                        <el-option value="DATA_MATRIX" label="DataMatrix"></el-option>
                                        <el-option value="PDF_417" label="PDF_417" :disabled="true"></el-option>
                                    </el-option-group>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="条码文本">
                                <el-checkbox v-model="head.pureBarcode">隐藏</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="GS1">
                                <el-checkbox v-model="head.gs1">GS1条码</el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="10" class="el-col-base">
                            &nbsp;
                        </el-col>
                        <el-col :span="14" class="el-col-base">
                            <el-form-item label="锁定状态">
                                <el-checkbox v-model="head.locked">锁定</el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <!-- 条码、文本、图片 -->
            <el-tab-pane label="条码内容(机器识读)" name="segments" v-if="head.elementType=='barcode'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{head._segmentsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="segment in segments" :key="segment.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="segment.type" @change="segmentTypeChange(segment.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="segment.value" v-if="segment.type=='fixed'" type="textarea" @change="segmentValueChange(segment.pos)" autosize></el-input>
                        <el-select v-model="segment.value" v-if="segment.type=='field'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :segment="segment"></el-option>
                        </el-select>
                        <el-select v-model="segment.value" v-if="segment.type=='symbol'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="segment.format" @change="segmentValueChange(segment.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="segment.type!=''" @click="segmentDelete(segment.pos)" :segment="segment" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="segment.pos<segments.length-1 && segment.pos>0" @click="segmentMoveUp(segment.pos)" :segment="segment" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="segment.pos<segments.length-2" @click="segmentMoveUp(segment.pos+1)" :segment="segment" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="文本内容" name="sections" v-if="head.elementType=='barcode' || head.elementType=='text'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{head._sectionsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="section in sections" :key="section.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="section.type" @change="sectionTypeChange(section.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="section.value" v-if="section.type=='fixed'" type="textarea" @change="sectionValueChange(section.pos)" autosize></el-input>
                        <el-select v-model="section.value" v-if="section.type=='field'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :section="section"></el-option>
                        </el-select>
                        <el-select v-model="section.value" v-if="section.type=='symbol'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="section.format" @change="sectionValueChange(section.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="section.type!=''" @click="sectionDelete(section.pos)" :section="section" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="section.pos<sections.length-1 && section.pos>0" @click="sectionMoveUp(section.pos)" :section="section" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="section.pos<sections.length-2" @click="sectionMoveUp(section.pos+1)" :section="section" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="图片" name="image" v-if="head.elementType=='image'">
                <el-form label-width="135px" label-position="right">
                    <el-row>
                        <el-col :span="12" class="el-col-base">
                            <el-form-item label="图片">
                                <el-select v-model="image.value" @change="imgChange();" clearable style="width:100%;">
                                    <el-option v-for="item in images" :value="item.k" :label="item.k" :key="item.k" :title="item.k + '  (' + item.v + ')'" style="height:52px;padding-top:2px;">
                                        <slot>
                                            <image :src="item.url" style="height:48px;" />
                                        </slot>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" class="el-col-base">
                            <el-form-item label="尺寸选项">
                                <el-select v-model="image.deformation" style="width:100%;">
                                    <el-option value="stretch" label="拉伸填充"></el-option>
                                    <el-option value="zoom" label="同比缩放"></el-option>
                                    <el-option value="none" label="图片原始大小"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24" class="el-col-base">
                            <el-form-item label="url">
                                <el-input v-model="image.url" @change="imgChange();" :disabled="image.value!=''"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <!-- 字体、边框、位置 -->
            <el-tab-pane label="字体" name="font" v-if="head.elementType=='barcode' || head.elementType=='text'">
                <el-form label-width="120px" label-position="right">
                    <el-row>
                        <el-col :span="10" class="el-col-base">
                            <el-form-item label="字体">
                                <el-select v-model="font.name" @change="reComputer();" style="width:100%;" filterable>
                                    <el-option v-for="name in fontNames" :value="name" :label="name" :key="name">
                                        <slot>
                                            <div style="width:350px;">
                                                <span style="float:left">{{name}}</span>
                                                <span :style="'float:right;font-family:' + name">简体中文AaBbCc123</span>
                                            </div>
                                        </slot>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="字号">
                                <el-select v-model="font.size" @change="reComputer();" style="width:100%;" filterable>
                                    <el-option v-for="size in fontSizes" :value="size" :label="size" :key="size"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="颜色">
                                <el-color-picker v-model="font.color" @change="reComputer();"></el-color-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="10" class="el-col-base">
                            <el-form-item label="样式">
                                <el-checkbox v-model="font.bold">粗体</el-checkbox>
                                <el-checkbox v-model="font.italic">斜体</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="换行">
                                <el-checkbox v-model="font.wordWrap">自动换行</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7" class="el-col-base">
                            <el-form-item label="行高">
                                <el-input v-model="font.lineHeight"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="边框" name="frame">
                <el-form label-width="120px" label-position="right">
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="类型">
                                <el-select v-model="frame.type" style="width:100%;">
                                    <el-option value="" label="无"></el-option>
                                    <el-option value="rectangle" label="矩形"></el-option>
                                    <el-option value="ellipse" label="椭圆" :disabled="true"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="粗细(mm)">
                                <el-input v-model="frame.width"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="边框颜色">
                                <el-color-picker v-model="frame.color"></el-color-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="16" class="el-col-base">&nbsp;</el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="填充色">
                                <el-color-picker v-model="frame.fillColor"></el-color-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="位置" name="position">
                <el-form label-width="135px" label-position="right">
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="图层">
                                <el-select v-model="position.layer" style="width:100%;">
                                    <el-option value="0" label="底层"></el-option>
                                    <el-option value="1" label="1层"></el-option>
                                    <el-option value="2" label="2层"></el-option>
                                    <el-option value="3" label="3层"></el-option>
                                    <el-option value="4" label="4层"></el-option>
                                    <el-option value="5" label="5层"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="隐藏">
                                <el-checkbox v-model="position.hidden"></el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="位置X">
                                <el-input v-model="position.left"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="宽度">
                                <el-input v-model="position.width"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="水平位置">
                                <el-select v-model="position.textAlign" style="width:100%;" filterable>
                                    <el-option value="left" label="居左"></el-option>
                                    <el-option value="center" label="居中"></el-option>
                                    <el-option value="right" label="居右"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="位置Y">
                                <el-input v-model="position.top"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="高度">
                                <el-input v-model="position.height"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="垂直位置">
                                <el-select v-model="position.verticalAlign" style="width:100%;" filterable>
                                    <el-option value="top" label="居上"></el-option>
                                    <el-option value="middle" label="居中"></el-option>
                                    <el-option value="bottom" label="居下"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="左边距">
                                <el-input v-model="position.marginLeft"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="右边距">
                                <el-input v-model="position.marginRight"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="上边距">
                                <el-input v-model="position.marginTop"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8" class="el-col-base">
                            <el-form-item label="下边距">
                                <el-input v-model="position.marginBottom"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
        </el-tabs>
        <hr />
        <el-button @click="reComputer();">preview</el-button>
        <el-button @click="test1();">测试一</el-button>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            activeTabName: "base",

            fields: [],
            images: [],

            head: {},
            segments: [],
            sections: [],
            font: {},
            frame: {},
            position: {},
            image: {},

            symbols: UtilElement.getAI(),
            sectionTypes: UtilElement.getSectionTypes(),

            fontNames: UtilFont.getNames(),
            fontSizes: UtilFont.getSizes(),

            remark: ""
        },
        methods: {
            elementTypeChange() {
                if (this.head.elementType.equals("barcode")) {
                    if (!this.head.barcodeType) {
                        this.head.barcodeType = "CODE_128";
                        this.position.textAlign = "center";
                    }

                    if (!this.segments || this.segments.length == 0) {
                        this.segments = [
                            UtilElement.getFixedSegment({ pos: 0 }),
                            UtilElement.getBlankSegment({ pos: 1 })
                        ];
                    }
                }
                if (this.head.elementType.equals("barcode") || this.head.elementType.equals("text")) {
                    if (!this.sections || this.sections.length == 0) {
                        this.sections = [
                            UtilElement.getFixedSection({ pos: 0 }),
                            UtilElement.getBlankSection({ pos: 1 })
                        ];
                    }
                }
                if (this.head.elementType.equals("image")) {                    
                    if (!this.image) {
                        this.image = {
                            "value": this.images.length > 0 ? this.images[0].k : "",
                            "deformation": "zoom"
                        };
                    }
                }

                this.reComputer();
            },

            sectionTypeChange(pos) {
                let section = this.sections[pos];
                if (section.type != "" && pos == this.sections.length - 1) {
                    let sectionBlank = UtilElement.getBlankSection({ pos: pos + 1 });
                    this.sections.push(sectionBlank);
                }

                this.reComputer();
            },
            sectionValueChange(pos) {
                this.reComputer();
            },
            sectionDelete(pos) {
                this.sections.splice(pos, 1);
                for (let i = 0; i < this.sections.length; i++) {
                    this.sections[i].pos = i;
                }

                this.reComputer();
            },
            sectionMoveUp(pos) {
                let section0 = this.sections.slice(pos - 1, pos)[0];
                let section1 = this.sections.slice(pos, pos + 1)[0];

                section0.pos = pos;
                section1.pos = pos - 1;

                this.sections.splice(pos - 1, 2, section1, section0);

                this.reComputer();
            },

            segmentTypeChange(pos) {
                let segment = this.segments[pos];
                if (segment.type != "" && pos == this.segments.length - 1) {
                    let segmentBlank = UtilElement.getBlankSegment({ pos: pos + 1 });
                    this.segments.push(segmentBlank);
                }

                this.reComputer();
            },
            segmentValueChange(pos) {
                this.reComputer();
            },
            segmentDelete(pos) {
                this.segments.splice(pos, 1);
                for (let i = 0; i < this.segments.length; i++) {
                    this.segments[i].pos = i;
                }

                this.reComputer();
            },
            segmentMoveUp(pos) {
                let segment0 = this.segments.slice(pos - 1, pos)[0];
                let segment1 = this.segments.slice(pos, pos + 1)[0];

                segment0.pos = pos;
                segment1.pos = pos - 1;

                this.segments.splice(pos - 1, 2, segment1, segment0);

                this.reComputer();
            },

            imgChange() { 
                this.reComputer();
            },
            reComputer() {
                win.para.callback({
                    canvasId: win.para.canvasId,
                    head: app.head,
                    segments: app.segments,
                    sections: app.sections,
                    font: app.font,
                    frame: app.frame,
                    position: app.position,
                    image: app.image
                });
            },

            test1() {
                this.reComputer();
                topWin.message("test1 执行完毕");
            },
            toString() {
                // -- --
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        let fields = [], k, v, url, images = [];
        for (k in win.para.fields) {
            v = win.para.fields[k];
            fields.push({ k: k, v: v });

            if (g.x.isImageUrl(v)) {
                url = v;
                if (!url.startWith("http")) {
                    url = topWin.cfg.labelVariableImageBaseUrl + v;
                }
                images.push({ k: k, v: v, url: url });
            }
        }
        app.fields = fields;
        app.images = images;

        app.head = win.para.head;
        app.segments = win.para.segments;
        app.sections = win.para.sections;
        app.font = win.para.font;
        app.frame = win.para.frame;
        app.position = win.para.position;
        app.image = win.para.image;

        if (app.head.elementType.equals("barcode")) {
            app.activeTabName = "segments";
        }
        else if (app.head.elementType.equals("text")) {
            app.activeTabName = "sections";
        }
        else if (app.head.elementType.equals("image")) {
            app.activeTabName = "image";
        }

        // ------------------------------------------------
        win.addEventListener("afterClose", () => {
            app.reComputer();
            app.$destroy();
        });
    }
</script>