<!DOCTYPE html>
<html>
<head>
    <title>标签元素定义</title>
    <script src="../../../core/doys.js"></script>
</head>
<body>
    <div id="app" style="width:900px;height:500px;">
        <div>
            <el-button @click="preview();">预览</el-button>
        </div>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row :gutter="8">
                <el-col :span="8">
                    <el-form-item label="元素类型" required>
                        <el-select v-model="form.elementType">
                            <el-option value="barcode" label="条形码"></el-option>
                            <el-option value="text" label="文本"></el-option>
                            <el-option value="image" label="图片"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="符号体系" required>
                        <el-select v-model="form.barcodeType" :disabled="form.elementType!='barcode'" filterable>
                            <el-option-group label="一维码">
                                <el-option value="Code128" label="Code 128"></el-option>
                                <el-option value="GS1_128" label="GS1-128" :disabled="true"></el-option>
                            </el-option-group>
                            <el-option-group label="二维码">
                                <el-option value="GS1_QrCode" label="GS1 QR Code" :disabled="true"></el-option>
                                <el-option value="GS1_DataMatrix" label="GS1 DataMatrix" :disabled="true"></el-option>
                            </el-option-group>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-collapse>
                <el-collapse-item title="条码内容" name="1" v-if="form.elementType=='barcode'">
                    <el-row :gutter="8" style="margin-bottom:12px;">
                        <el-col :span="19">
                            <el-tag>{{barcodeValue}}</el-tag>
                        </el-col>
                    </el-row>
                    <el-row v-for="segment in segments" :key="segment.pos" :gutter="8" style="margin-bottom:5px;">
                        <el-col :span="5">
                            <el-select v-model="segment.type" @change="segmentTypeChange(segment.pos)">
                                <el-option v-for="st in segmentTypes" :value="st.k" :label="st.v" :key="st.k" :segment="segment"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="9">
                            <el-input v-model="segment.value" v-if="segment.type=='fixed'" type="textarea" @change="segmentValueChange(segment.pos)" autosize></el-input>
                            <el-select v-model="segment.value" v-if="segment.type=='field'" @change="segmentValueChange(segment.pos)" style="width:100%">
                                <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :segment="segment"></el-option>
                            </el-select>
                            <el-select v-model="segment.value" v-if="segment.type=='symbol'" @change="segmentValueChange(segment.pos)" style="width:100%">
                                <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :segment="segment"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-input v-model="segment.format" @change="segmentValueChange(segment.pos)"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-button-group>
                                <el-button type="danger" v-if="segment.type!=''" @click="deleteSegment(segment.pos)" :segment="segment" title="删除" icon="el-icon-delete"></el-button>
                                <el-button type="primary" v-if="segment.pos<segments.length-1 && segment.pos>0" @click="upSegment(segment.pos)" :segment="segment" title="上移" icon="el-icon-arrow-up"></el-button>
                                <el-button type="primary" v-if="segment.pos<segments.length-2" @click="upSegment(segment.pos+1)" :segment="segment" title="下移" icon="el-icon-arrow-down"></el-button>
                            </el-button-group>
                        </el-col>
                    </el-row>
                </el-collapse-item>
            </el-collapse>
        </el-form>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {
                elementType: "",
                borcodeType: ""                
            },
            segmentTypes: [
                { k: "fixed", v: "固定值" },
                { k: "field", v: "变量字段" },
                { k: "symbol", v: "特殊字符" }
            ],
            segments: [
                { pos: 0, type: "fixed", value: "固定值1", format:"" },
                { pos: 1, type: "field", value: "客户代码", format: "" },
                { pos: 2, type: "symbol", value: "GS", format: ""},
                { pos: 3, type: "" }
            ],
            fields: [
                { k: "客户代码", v: "C001001" },
                { k: "客户名称", v: "上海样例科技有限公司" },
                { k: "地址", v: "上海样例路1234号" }
            ],
            symbols: [
                { k: "GS", v: "GS1分组符" }
            ],
            barcodeValue: "",
            remark: ""
        },
        methods: {
            segmentTypeChange(pos) {
                let segment = this.segments[pos];
                if (segment.type != "" && pos == this.segments.length - 1) {
                    this.segments.push({
                        pos: pos + 1,
                        type: ""
                    });
                }

                this.preview();
            },
            segmentValueChange(pos) {
                this.preview();
            },
            deleteSegment(pos) {
                this.segments.splice(pos, 1);
                for (let i = 0; i < this.segments.length; i++) {
                    this.segments[i].pos = i;
                }

                this.preview();
            },
            upSegment(pos) {
                let segment0 = this.segments.slice(pos - 1, pos)[0];
                let segment1 = this.segments.slice(pos, pos + 1)[0];

                segment0.pos =  pos;
                segment1.pos =  pos - 1;

                this.segments.splice(pos - 1, 2, segment1, segment0);

                this.preview();
            },
            preview() {
                let values = new Array();
                for (let i = 0; i < this.segments.length - 1; i++) {
                    let segment = this.segments[i];
                    let value = segment.value;
                    let type = segment.type;

                    if (type.equals("fixed")) {
                        values.push(value);
                    }
                    else if (type.equals("field")) {
                        for (let j = 0; j < this.fields.length; j++) {
                            if (value.equals(this.fields[j].k)) {
                                values.push(this.fields[j].v);
                                break;
                            }
                        }                        
                    }
                    else if (type.equals("symbol")) {
                        if (value.equals("GS")) {
                            values.push("<GS>");
                        }
                        else {
                            values.push(value);
                        }
                    }
                }
               this.barcodeValue = values.join("");
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        app.preview();
    }
</script>