<!DOCTYPE html>
<html>
<head>
    <title>标签元素定义</title>
    <script src="../../../core/doys.js"></script>
    <style type="text/css">
        .el-col-base {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px;height:500px;">
        <el-tabs v-model="activeTabName" type="card">
            <el-tab-pane label="基本信息" name="base">
                <el-form label-width="135px" label-position="right">
                    <el-row>
                        <el-col :span="12" class="el-col-base">
                            <el-form-item label="元素类型" required>
                                <el-select v-model="EL.elementType" style="width:100%;">
                                    <el-option value="barcode" label="条形码"></el-option>
                                    <el-option value="text" label="文本"></el-option>
                                    <el-option value="image" label="图片"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" class="el-col-base">
                            <el-form-item label="符号体系" required>
                                <el-select v-model="EL.barcodeType" :disabled="EL.elementType!='barcode'" filterable style="width:100%;">
                                    <el-option-group label="一维码">
                                        <el-option value="Code128" label="Code 128"></el-option>
                                        <el-option value="GS1_128" label="GS1-128" :disabled="true"></el-option>
                                    </el-option-group>
                                    <el-option-group label="二维码">
                                        <el-option value="GS1_QrCode" label="GS1 QR Code" :disabled="true"></el-option>
                                        <el-option value="GS1_DataMatrix" label="GS1 DataMatrix" :disabled="true"></el-option>
                                    </el-option-group>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="条码内容(机器识读)" name="EL.segments" v-if="EL.elementType=='barcode'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{EL.segmentsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="segment in EL.segments" :key="segment.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="segment.type" @change="segmentTypeChange(segment.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="segment.value" v-if="segment.type=='fixed'" type="textarea" @change="segmentValueChange(segment.pos)" autosize></el-input>
                        <el-select v-model="segment.value" v-if="segment.type=='field'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :segment="segment"></el-option>
                        </el-select>
                        <el-select v-model="segment.value" v-if="segment.type=='symbol'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="segment.format" @change="segmentValueChange(segment.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="segment.type!=''" @click="segmentDelete(segment.pos)" :segment="segment" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="segment.pos<EL.segments.length-1 && segment.pos>0" @click="segmentMoveUp(segment.pos)" :segment="segment" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="segment.pos<EL.segments.length-2" @click="segmentMoveUp(segment.pos+1)" :segment="segment" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="文本内容" name="EL.sections" v-if="EL.elementType=='barcode' || EL.elementType=='text'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{EL.sectionsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="section in EL.sections" :key="section.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="section.type" @change="sectionTypeChange(section.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="section.value" v-if="section.type=='fixed'" type="textarea" @change="sectionValueChange(section.pos)" autosize></el-input>
                        <el-select v-model="section.value" v-if="section.type=='field'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :section="section"></el-option>
                        </el-select>
                        <el-select v-model="section.value" v-if="section.type=='symbol'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="section.format" @change="sectionValueChange(section.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="section.type!=''" @click="sectionDelete(section.pos)" :section="section" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="section.pos<EL.sections.length-1 && section.pos>0" @click="sectionMoveUp(section.pos)" :section="section" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="section.pos<EL.sections.length-2" @click="sectionMoveUp(section.pos+1)" :section="section" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="字体" name="font" v-if="EL.elementType=='barcode' || EL.elementType=='text'">
                字体
            </el-tab-pane>
            <el-tab-pane label="位置" name="position">
                位置
            </el-tab-pane>
        </el-tabs>
        <hr />
        <el-button @click="segmentPreview();">预览</el-button>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {},
            activeTabName: "base",

            fields: [
                { k: "客户代码", v: "C001001" },
                { k: "客户名称", v: "上海样例科技有限公司" },
                { k: "地址", v: "上海样例路1234号" }
            ],
            symbols: [
                { k: "GS", v: "GS1分组符" }
            ],
            sectionTypes: [
                { k: "fixed", v: "固定值" },
                { k: "field", v: "变量字段" },
                { k: "symbol", v: "特殊字符" }
            ],

            EL: {},                         // -- element --

            remark: ""
        },
        methods: {
            sectionTypeChange(pos) {
                let section = this.EL.sections[pos];
                if (section.type != "" && pos == this.EL.sections.length - 1) {
                    this.EL.sections.push({
                        pos: pos + 1,
                        type: ""
                    });
                }

                this.sectionPreview();
            },
            sectionValueChange(pos) {
                this.sectionPreview();
            },
            sectionDelete(pos) {
                this.EL.sections.splice(pos, 1);
                for (let i = 0; i < this.EL.sections.length; i++) {
                    this.EL.sections[i].pos = i;
                }

                this.sectionPreview();
            },
            sectionMoveUp(pos) {
                let section0 = this.EL.sections.slice(pos - 1, pos)[0];
                let section1 = this.EL.sections.slice(pos, pos + 1)[0];

                section0.pos = pos;
                section1.pos = pos - 1;

                this.EL.sections.splice(pos - 1, 2, section1, section0);

                this.sectionPreview();
            },
            sectionPreview() {
                let values = new Array();
                for (let i = 0; i < this.EL.sections.length - 1; i++) {
                    let section = this.EL.sections[i];
                    let value = section.value;
                    let type = section.type;

                    if (type.equals("fixed")) {
                        values.push(value);
                    }
                    else if (type.equals("field")) {
                        for (let j = 0; j < this.fields.length; j++) {
                            if (value.equals(this.fields[j].k)) {
                                values.push(this.fields[j].v);
                                break;
                            }
                        }
                    }
                    else if (type.equals("symbol")) {
                        if (value.equals("GS")) {
                            values.push("<GS>");
                        }
                        else {
                            values.push(value);
                        }
                    }
                }
                this.EL.sectionsText = values.join("");
            },

            segmentTypeChange(pos) {
                let segment = this.EL.segments[pos];
                if (segment.type != "" && pos == this.EL.segments.length - 1) {
                    this.EL.segments.push({
                        pos: pos + 1,
                        type: ""
                    });
                }

                this.segmentPreview();
            },
            segmentValueChange(pos) {
                this.segmentPreview();
            },
            segmentDelete(pos) {
                this.segments.splice(pos, 1);
                for (let i = 0; i < this.segments.length; i++) {
                    this.segments[i].pos = i;
                }

                this.segmentPreview();
            },
            segmentMoveUp(pos) {
                let segment0 = this.segments.slice(pos - 1, pos)[0];
                let segment1 = this.segments.slice(pos, pos + 1)[0];

                segment0.pos = pos;
                segment1.pos = pos - 1;

                this.segments.splice(pos - 1, 2, segment1, segment0);

                this.segmentPreview();
            },
            segmentPreview() {
                let values = new Array();
                for (let i = 0; i < this.EL.segments.length - 1; i++) {
                    let segment = this.EL.segments[i];
                    let value = segment.value;
                    let type = segment.type;

                    if (type.equals("fixed")) {
                        values.push(value);
                    }
                    else if (type.equals("field")) {
                        for (let j = 0; j < this.fields.length; j++) {
                            if (value.equals(this.fields[j].k)) {
                                values.push(this.fields[j].v);
                                break;
                            }
                        }
                    }
                    else if (type.equals("symbol")) {
                        if (value.equals("GS")) {
                            values.push("<GS>");
                        }
                        else {
                            values.push(value);
                        }
                    }
                }
                this.EL.segmentsText = values.join("");
            },

            toString() {
                // -- --
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        let element = win.para.element;

        app.EL = element;

        app.segmentPreview();
        app.sectionPreview();
    }
</script>