<!DOCTYPE html>
<html>
<head>
    <title>通用视图窗口</title>
    <script src="../../core/doys.js?v=20200721"></script>
    <script>
        importFrameworkRes("main-view-bar");
        importFrameworkRes("main-view");
    </script>

    <style type="text/css">
        #mview {
            --padding: 0px;
            --background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <div id="app">
        <main-view id="mview" ref="mview" :attrs="viewProps"></main-view>
    </div>
</body>
</html>

<!-- winLoad -->
<script>
    let view = new Vue({
        el: '#app',
        data: {
            mviewHeight: 500,
            flag: true,
            viewProps: {

            }
        },
        mounted() {
            //this.abc();
        },
        methods: {
            abc() {
                if (this.flag) {
                    gId("mview").style.height = "800px";
                }
                else {
                    gId("mview").style.height = "500px";
                }
                this.flag = !this.flag;
            }
        }
    });

    // ------------------------------------------------------------------------
    function winLoad() {
        gId("mview").style.height = (win.p.maxHeight + 0) + "px";
        
        var para = {
            viewPk: win.para.viewPk,  
            controller: win.para.controller,
            flowPks: win.para.flowPks,
            vfUrl: win.para.vfUrl,
            vfWindowState: win.para.vfWindowState
        }
        view.$refs.mview.init(para);
    }
</script>