<!DOCTYPE html>
<html>
<head>
    <title>菜品价格维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style type="text/css">
        bodyyy {
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div id="app" style="width:600px;height:550px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-row>
            <el-form :model="form" ref="form" label-width="110px" label-position="right">
                <el-row v-show="!flagBasePrice">
                    <el-col :span="24">
                        <el-form-item label="选配项组名称" required>
                            <el-input v-model="form.group_name" ref="group_name" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-show="!flagBasePrice">
                    <el-col :span="16">
                        <el-form-item label="">
                            <el-checkbox v-model="form.flag_multiple" @change="itemSelect(-1)">允许多选</el-checkbox>
                            <el-checkbox v-model="form.flag_required">必选</el-checkbox>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="序号">
                            <el-input v-model="form.sequence" />
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-divider content-position="left">选配项列表：</el-divider>
                <el-row style="margin-bottom:3px;">
                    <el-col :span="span[1]">
                        <el-tag>选配项名称</el-tag>
                    </el-col>
                    <el-col :span="span[2]">
                        <el-tag>默认选中</el-tag>
                    </el-col>
                    <el-col :span="span[3]">
                        <el-tag>价格</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="(item,index) in prices" :key="index" style="margin-bottom:5px;">
                    <el-col :span="span[1]">
                        <el-input v-model="item.name" @input="nameInput(item)" />
                    </el-col>
                    <el-col :span="span[2]" style="text-align:center;padding-top:5px;">
                        <el-checkbox v-model="item.selected" @change="itemSelect(index)"></el-checkbox>
                    </el-col>
                    <el-col :span="span[3]">
                        <el-input v-model="item.price" style="text-align:right;" />
                    </el-col>
                </el-row>
            </el-form>
        </el-row>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            foodId: 0,
            flagBasePrice: false,

            form: {
                food_id: 0,
                group_name: "",
                flag_base_price: false,
                flag_multiple: false,
                sequence: 1
            },

            span: [24, 16, 4, 4],
            prices: []
        },
        methods: {
            afterMove() {
                let prices = [];
                if (this.form.id) {
                    prices = JSON.parse(this.form.prices || "[]");
                }
                prices.push({
                    "name": "",
                    "price": 0
                });
                this.prices = prices;
            },
            afterAddnew() {
                this.form.food_id = this.foodId;
                if (this.flagBasePrice) {
                    this.form.group_name = "MAIN-SIZE";
                    this.form.flag_base_price = true;
                    this.form.flag_required = true;
                    this.form.flag_multiple = false;
                    this.form.sequence = 0;
                }
            },

            beforeSave() {
                this.prices.pop();
                this.prices.sort(function (item1, item2) {
                    try {
                        let price1 = parseFloat(item1.price);
                        let price2 = parseFloat(item2.price);
                        return price2 - price1;
                    }
                    catch (e) {
                        return 0;
                    }
                });
                for (let key in this.prices) {
                    this.prices[key].price = parseFloat(this.prices[key].price);
                }
                this.form.prices = JSON.stringify(this.prices);

                return true;
            },
            afterSave() {
                if (win.para.callback) {
                    let price = 0;
                    if (this.prices.length > 1) {
                        price = this.prices[0].price;
                    }
                    win.para.callback({ foodPriceId: this.form.id, price: price });
                }
            },
            afterDelete() {
                if (win.para.callback) {
                    win.para.callback({ foodPriceId: 0 });
                }
            },

            nameInput(item) {
                if (this.prices[this.prices.length - 1].name) {
                    this.prices.push({
                        "name": "",
                        "selected": false,
                        "price": 0
                    });
                }
                else {
                    for (let i = this.prices.length - 2; i >= 0; i--) {
                        if (!this.prices[i].name) {
                            this.prices.splice(i, 1);
                        }
                    }
                }
            },
            itemSelect(idx) {
                if (this.form.flag_multiple) return;
                for (let i = 0; i < this.prices.length; i++) {
                    if (i == idx) continue;
                    if (this.prices[i].selected) {
                        this.prices[i].selected = false;
                    }
                }
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        app.foodId = win.parentWindow.app.$refs.vf.getId();
        app.flagBasePrice = win.para.flagBasePrice;
    }
</script>