<!DOCTYPE html>
<html>
<head>
    <title>菜品价格维护</title>
    <script src="../../../../framework/core/boot.js"></script>
</head>
<body>
    <div id="app" style="width:500px;height:360px;">
        <el-row style="margin-bottom:10px;">
            <el-button onclick="win.close();">关闭</el-button>
        </el-row>
        <el-row v-for="item in prices">
            <el-col :span="18">
                <el-input v-model="item.name" @input="nameInput(item)"></el-input>
            </el-col>
            <el-col :span="6">
                <el-input v-model="item.price" style="text-align:right;"></el-input>
            </el-col>
        </el-row>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            prices: []
        },
        methods: {
            setMorePrice(morePrice) {
                this.prices = JSON.parse(morePrice || "[]");
                this.prices.push({
                    "name": "",
                    "price": 0
                });
            },
            nameInput(item) {
                if (this.prices[this.prices.length - 1].name) {
                    this.prices.push({
                        "name": "",
                        "price": 0
                    });
                }
                else {
                    for (let i = this.prices.length - 2; i >= 0; i--) {
                        if (!this.prices[i].name) {
                            this.prices.splice(i, 1);
                        }
                    }
                }
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        app.setMorePrice(win.para.morePrice);

        win.addEventListener("afterClose", () => {            
            app.prices.pop();
            app.prices.sort(function (item1, item2) {
                try {
                    let price1 = parseFloat(item1.price);
                    let price2 = parseFloat(item2.price);
                    return price2 - price1;
                }
                catch (e) {
                    return 0;
                }
            });
            let morePrice = JSON.stringify(app.prices);

            win.para.callback({ "morePrice": morePrice });
            return true;
        });
    }

</script>