<!DOCTYPE html>
<html>
<head>
    <title>菜品定义</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style>
        .imgFood {
            background-color: white;
            width: 450px;
            height: 450px;
        }
    </style>
</head>
<body>
    <div id="app" style="width:800px;height:330px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-tabs v-model="activeTabName">
                <el-tab-pane label="基本信息" name="base">
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="菜品代码" required>
                                <el-input v-model="form.code" ref="code" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="序号">
                                <el-input v-model="form.sequence" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="菜品名称" required>
                                <el-input v-model="form.name" ref="name" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="价格" required>
                                <el-input v-model="form.price" ref="price" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            &nbsp;
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="简介">
                                <el-input v-model="form.brief" type="textarea" :rows="4" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="备注">
                                <el-input v-model="form.remark" type="textarea" :rows="6" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="图片" name="image">
                    <el-row>
                        <el-col :span="18">
                            <el-image class="imgFood" fit="contain" :src="imgOriginal"
                                      placeholder="请上传菜品图片"></el-image>
                        </el-col>
                        <el-col :span="6">
                            <el-upload :action="actionUploadImg"
                                       :with-credentials="true" :show-file-list="false"
                                       :before-upload="beforeUpload"
                                       :on-success="afterUpload">
                                <el-button type="primary" plain>上传图片</el-button>
                            </el-upload>
                        </el-col>

                    </el-row>
                </el-tab-pane>
            </el-tabs>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            activeTabName: "base",

            form: {},
            ds: {},
            foodCategoryList: [],

            actionUploadImg: "",
            imgOriginal: ""
        },

        mounted() {
            ajax.send("/catering/base/food_category/getFoodCategoryList", {}).then(res => {
                debugger;
                this.foodCategoryList = res.foodCategoryList;
            });
        },
        methods: {
            afterAddnew: function (jsp) {
                this.form.code = "";
                this.form.name = "";
                this.form.price = "0";
                this.form.sequence = "999";
                if (!jsp.copy) {

                }
            },
            afterMove: function () {
                let foodId = this.$refs.vf.getId();
                let imgOriginal = this.$refs.vf.getValue("img_original");

                this.actionUploadImg = g.prefix + "/catering/base/food/uploadImage?foodId=" + foodId;
                if (imgOriginal) {
                    this.imgOriginal = g.path.resRun + "/" + topWin.tenantId + "/catering/food_image/" + imgOriginal;
                }
                else {
                    this.imgOriginal = "";
                }
            },

            beforeUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            afterUpload(res, file) {
                if (res.ok) {
                    win.flashTitle("菜品图片上传成功", "success");
                    this.imgOriginal = g.path.resRun + "/" + topWin.tenantId + "/catering/food_image/" + res.filename + "?rnd=" + Math.random();
                }
                else {
                    topWin.alert(res.error, "error");
                }
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {

    }
</script>