/* 顶级节点(根节点的上一级) */
.xwf_tree_tbTop {
    border-collapse: collapse;
}
.xwf_tree_tbTop td {
    height: 24px;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center center;
}
.xwf_tree_tbTop_tdImg {
    padding: 0px 0px 0px 20px;
}

/* 子节点集容器DIV */
.xwf_tree_divNodes {
    padding: 0px 0px 0px 0px;
}

/* 节点 */
.xwf_tree_tbNode {
    border-collapse: collapse;
}
.xwf_tree_tbNode td {
    border: dotted 0px blue;
    height: 20px;
    font-size: 11pt;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.xwf_tree_tbNode_tdImg {
    padding: 0px 0px 0px 20px;
}

.xwf_tree_tbNode_tdText {
    color: #224b8f;
}
.xwf_tree_tbNode_tdText:hover {
    color: Red;
    cursor: pointer;
}
.xwf_tree_tbNode_tdTextH {  /* 高亮选中节点 */
    color: White;
    background-color: #224b8f;
    cursor: pointer;
}
