/* -- main layout -- */
body {
    overflow: hidden;
}

.tbMain {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: gray;
}

.tdProp {
    width: 330px;
    padding: 10px 0px 0px 10px;
    vertical-align: top;
    --background-color: gray;
}

.tdCanvas {
    padding: 10px 0px 0px 10px;
    vertical-align: top;
    --background-color: gray;
}

.tdAux {
    width: 52px;
    vertical-align: top;
    overflow: hidden;
}