/* -- main layout -- */
body {
    overflow: hidden;
}

.tbMain {
    width: 100%;
    --table-layout: fixed;
    border-collapse: collapse;
}

.tdMain {
    padding: 0px;
    vertical-align: top;
    background-color: gray;
    --border: dotted 1px green;
}

/** --属性区 -- */
.divPropGrouName {
    padding-left: 3px;
    padding-right: 5px;
    font-weight: bold;
    font-size: large;
    color: darkgreen;
}

.divPropName {
    line-height: 36px;
    padding-left: 8px;
}

/* -- container -- */
.doys_label_container {
    position: relative;
    box-shadow: 2px 2px 15px black;
    border-radius: 5px;
}
