/* -- main layout -- */
body {
    overflow: hidden;
}

.tbMain {
    width: 100%;
    --table-layout: fixed;
    border-collapse: collapse;
}

.tdMain {
    padding: 0px;
    border: dotted 1px green;
}

/* -- properties area -- */
#tbProp {
    border: 1px dashed red;
    width: 100%;
}

.tdPropName {
    border: 1px dashed green;
    color: green;
}

.tdPropValue {
    border: 1px dashed blue;
    color: blue;
}

/* -- container -- */
.doys_label_continer {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 15px gray;
    border-radius: 5px;
    --margin-left: 80px;
    --padding-left: 70px;
    --border-left: 200px solid lightgreen;
}
