<!DOCTYPE html>
<html>
<head>
    <title>医疗器械名称维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:1100px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="170px" label-position="left">
            <!-- 产品名称/通用名称、商品名称、分类编码 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="产品名称/通用名称" required>
                        <el-input v-model="form.cpmctymc" ref="cpmctymc" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="分类编码" required>
                        <el-input v-model="form.flbm" ref="flbm" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="商品名称" required>
                        <el-input v-model="form.spmc" ref="spmc" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="原器械目录代码">
                        <el-input v-model="form.yflbm" />
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 备案信息，注册证-->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="注册/备案人名称" required>
                        <el-input v-model="form.ylqxzcrbarmc" ref="spmc" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="注册人/备案人英文名称">
                        <el-input v-model="form.ylqxzcrbarywmc" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="注册证/备案凭证编号" required>
                        <el-input v-model="form.zczbhhzbapzbh" ref="zczbhhzbapzbh" />
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 器械类别 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="产品类别" required>
                        <el-radio v-model="form.hchzsb" label="0">耗材</el-radio>
                        <el-radio v-model="form.hchzsb" label="1">设备</el-radio>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="器械类别" required>
                        <el-radio v-model="form.cplx" label="1">器械</el-radio>
                        <el-radio v-model="form.cplx" label="2">体外诊断试剂</el-radio>
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- 是否包含批量、序列号，生产日期、失效效期 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="是否包含批号" required>
                        <el-checkbox v-model="form.scbssfbhph">包含批号</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="是否包含序列号" required>
                        <el-checkbox v-model="form.scbssfbhxlh">包含序列号</el-checkbox>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="是否包含生产日期" required>
                        <el-checkbox v-model="form.scbssfbhscrq">包含生产日期</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="是否包含失效日期" required>
                        <el-checkbox v-model="form.scbssfbhsxrq">包含失效日期</el-checkbox>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 灭菌信息 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="是否为无菌包装" required>
                        <el-checkbox v-model="form.sfwwjbz">是无菌包装</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="使用前是否需要灭菌" required>
                        <el-checkbox v-model="form.syqsfxyjxmj">使用前需要灭菌</el-checkbox>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="灭菌方式">
                        <el-tooltip effect="dark" placement="bottom-end">
                            <div slot="content">使用前需要接菌的情况下必填</div>
                            <el-input v-model="form.mjfs" ref="mjfs" placeholder="使用前需要接菌的情况下必填" />
                        </el-tooltip>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 磁共振(MR)安全信息 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="磁共振(MR)安全信息" required>
                        <el-select v-model="form.cgzmraqxgxx" style="width:100%;" default-first-option>
                            <el-option value="0" label="安全"></el-option>
                            <el-option value="1" label="条件安全"></el-option>
                            <el-option value="2" label="不安全"></el-option>
                            <el-option value="3" label="说明书或标签上面不包含MR安全性信息"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    &nbsp;
                </el-col>
            </el-row>

            <!-- 医保编码、其它信息的网址链接 -->
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="医保耗材分类编码">
                        <el-tooltip effect="dark" placement="bottom-start">
                            <div slot="content">填写27位的国家医保耗材分类编码<br />若存在多个医保耗材分类编码，以英文逗号分隔</div>
                            <el-input v-model="form.ybbm" />
                        </el-tooltip>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="其他信息的网址链接">
                        <el-tooltip effect="dark" placement="bottom-start">
                            <div slot="content">输入其他信息的网址链接地址<br />填报用户企业可以填写本产品相关网址信息<br />有利于于行业其他机构的相关信息查询</div>
                            <el-input v-model="form.qtxxdwzlj" />
                        </el-tooltip>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="退市日期">
                        <el-date-picker v-model="form.tsrq" type="date" value-format="yyyy-MM-dd" style="width:100%;" placeholder="医疗器械停止进入流通领域的时间"></el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col>
                    &nbsp;
                </el-col>
            </el-row>
            <!-- 备注 -->
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {

            },
            activeTabName: "first"
        },

        methods: {
            afterAddnew(jsp) {
                this.form.cpmctymc = "";
                this.form.spmc = "";

                if (!jsp.copy) {
                    this.form.hchzsb = "0";
                    this.form.cplx = "1";

                    this.form.scbssfbhph = true;
                    this.form.scbssfbhscrq = true;
                    this.form.scbssfbhsxrq = true;
                }
            },
            beforeSave: function () {
                if (this.form.syqsfxyjxmj) {
                    if (this.form.mjfs.equals("")) {
                        topWin.message("请填写灭菌方式。", "warning");
                        this.$refs.mjfs.focus();
                        return false;
                    }
                }
                else {
                    this.form.mjfs = "";
                }
                this.form.zczbhhzbapzbh = this.form.zczbhhzbapzbh.replaceAll("，", ",");

                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        if (win.p.maxWidth < 1200) {
            gId("app").style.width = "980px";
        }
        let marginLeft = (win.p.maxWidth - gId("app").offsetWidth) / 2;
        gId("app").style.marginLeft = marginLeft + "px";
    }
</script>