<!DOCTYPE html>
<html>
<head>
    <title>医疗器械名称维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>

    <style type="text/css">
        .divTitle {
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="app" style="width:1100px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="170px" label-position="left">
            <!-- 产品名称/通用名称、商品名称 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="产品名称/通用名称" required>
                        <el-input v-model="form.cpmctymc" ref="cpmctymc" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="商品名称" required>
                        <el-input v-model="form.spmc" ref="spmc" />
                    </el-form-item>
                </el-col>
            </el-row>

            <el-collapse v-model="activeNames">
                <el-collapse-item name="1">
                    <template slot="title">
                        <div class="divTitle">备案及注册证<i class="el-icon-s-check"></i></div>
                    </template>
                    <!-- 备案信息，注册证 -->
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="注册证/备案凭证编号" required>
                                <el-select v-model="certs" ref="certs" @change="onCodeChange" multiple clearable>
                                    <el-option v-for="item in certificates" :key="item.code" :value="item.code" :label="item.code" :disabled="item.disabled">
                                        <span style="float: left">{{ item.code }}&nbsp;&nbsp;&nbsp;&nbsp;效期: {{item.expDate}}</span>
                                        <span style="float: right;">{{ item.name }} </span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="注册/备案人名称" required>
                                <el-input v-model="form.ylqxzcrbarmc" ref="ylqxzcrbarmc" :disabled="true" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="注册人/备案人英文名称">
                                <el-input v-model="form.ylqxzcrbarywmc" :disabled="true" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-collapse-item>
                <el-collapse-item name="2">
                    <template slot="title">
                        <div class="divTitle">分类信息<i class="el-icon-s-help"></i></div>
                    </template>
                    <!-- 分类，产品类别、器械类别，包类组套类产品 -->
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="分类编码" required>
                                <el-input v-model="form.flbm" ref="flbm" :disabled="true" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="器械类别" required>
                                <el-radio v-model="form.cplx" label="1" :disabled="true">器械</el-radio>
                                <el-radio v-model="form.cplx" label="2" :disabled="true">体外诊断试剂</el-radio>
                            </el-form-item>
                        </el-col>                        
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="原器械目录代码">
                                <el-input v-model="form.yflbm" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="产品类别" required>
                                <el-radio v-model="form.hchzsb" label="0">耗材</el-radio>
                                <el-radio v-model="form.hchzsb" label="1">设备</el-radio>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="是否为包类/组套类产品" required>
                                <el-tooltip effect="dark" placement="bottom-start" content="包括手术包、体外诊断试剂、套装、组套类等情况">
                                    <el-checkbox v-model="form.sfwblztlcp">是包类/组套类</el-checkbox>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            &nbsp;
                        </el-col>
                    </el-row>
                </el-collapse-item>
                <el-collapse-item name="3">
                    <template slot="title">
                        <div class="divTitle">生产信息<i class="el-icon-s-tools"></i></div>
                    </template>
                    <!-- 是否包含批量、序列号，生产日期、失效效期 -->
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="是否包含批号" required>
                                <el-checkbox v-model="form.scbssfbhph">包含批号</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="是否包含序列号" required>
                                <el-checkbox v-model="form.scbssfbhxlh">包含序列号</el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="是否包含生产日期" required>
                                <el-checkbox v-model="form.scbssfbhscrq">包含生产日期</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="是否包含失效日期" required>
                                <el-checkbox v-model="form.scbssfbhsxrq">包含失效日期</el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-collapse-item>
                <el-collapse-item name="4">
                    <template slot="title">
                        <div class="divTitle">产品安全信息<i class="el-icon-warning"></i></div>
                    </template>
                    <!-- 磁共振(MR)安全信息，一次性使用 -->
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="磁共振(MR)安全信息" required>
                                <el-select v-model="form.cgzmraqxgxx" style="width:100%;" default-first-option>
                                    <el-option value="0" label="安全"></el-option>
                                    <el-option value="1" label="条件安全"></el-option>
                                    <el-option value="2" label="不安全"></el-option>
                                    <el-option value="3" label="说明书或标签上面不包含MR安全性信息"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            &nbsp;
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="是否标记为一次性使用" required>
                                <el-tooltip effect="dark" placement="bottom-start">
                                    <div slot="content">一次性使用是指在医疗器械说明书或标签已注明“一次性使用”字样或者符号的情形；<br />一次性使用包含使用一次即丢弃和同一患者在一次治疗过程中多次使用的情形。</div>
                                    <el-checkbox v-model="form.sfbjwycxsy">一次性使用</el-checkbox>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="最大重复使用次数" required>
                                <el-tooltip effect="dark" placement="bottom-end">
                                    <div slot="content">输入最大重复次数；<br />当产品说明书或者标签上载明最大重复使用次数时，必选</div>
                                    <el-input v-model="form.zdcfsycs" ref="zdcfsycs" :disabled="form.sfbjwycxsy"></el-input>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <!-- 灭菌信息 -->
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="是否为无菌包装" required>
                                <el-checkbox v-model="form.sfwwjbz">是无菌包装</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="使用前是否需要灭菌" required>
                                <el-checkbox v-model="form.syqsfxyjxmj">使用前需要灭菌</el-checkbox>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="灭菌方式">
                                <el-tooltip effect="dark" placement="bottom-end">
                                    <div slot="content">使用前需要接菌的情况下必填</div>
                                    <el-input v-model="form.mjfs" ref="mjfs" placeholder="使用前需要接菌的情况下必填" />
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-collapse-item>
                <el-collapse-item name="5">
                    <template slot="title">
                        <div class="divTitle">其它必填项<i class="el-icon-star-on"></i></div>
                    </template>
                    <!-- 标识载体 -->
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="标识载体" required>
                                <el-checkbox v-model="bszt.BARCODE_1D" label="一维码"></el-checkbox>
                                <el-checkbox v-model="bszt.BARCODE_2D" label="二维码"></el-checkbox>
                                <el-checkbox v-model="bszt.RFID" label="RFID"></el-checkbox>
                                <el-checkbox v-model="bszt.OTHERS" label="其它"></el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            &nbsp;
                        </el-col>
                    </el-row>
                </el-collapse-item>
                <el-collapse-item name="6">
                    <template slot="title">
                        <div class="divTitle">选填项(药监上传非必填项)<i class="el-icon-star-off"></i></div>
                    </template>
                    <!-- 医保编码、其它信息的网址链接、退市日期 -->
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="医保耗材分类编码">
                                <el-tooltip effect="dark" placement="bottom-start">
                                    <div slot="content">填写27位的国家医保耗材分类编码<br />若存在多个医保耗材分类编码，以英文逗号分隔</div>
                                    <el-input v-model="form.ybbm" />
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="其他信息的网址链接">
                                <el-tooltip effect="dark" placement="bottom-start">
                                    <div slot="content">输入其他信息的网址链接地址<br />填报用户企业可以填写本产品相关网址信息<br />有利于于行业其他机构的相关信息查询</div>
                                    <el-input v-model="form.qtxxdwzlj" />
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="退市日期">
                                <el-date-picker v-model="form.tsrq" type="date" value-format="yyyy-MM-dd" style="width:100%;" placeholder="医疗器械停止进入流通领域的时间"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col>
                            &nbsp;
                        </el-col>
                    </el-row>
                    <!-- 备注 -->
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="备注">
                                <el-input v-model="form.remark" type="textarea" :rows="3" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-collapse-item>
            </el-collapse>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {
                zczbhhzbapzbh: "",          // -- 注册证/备案凭证编号 --
            },
            bszt: {
                BARCODE_1D: false, BARCODE_2D: false, RFID: false, OTHERS: false
            },
            activeNames: ["1", "2", "3", "4", "5"],

            dtbCertificate: null,           // -- 注册证记录集 --
            certificates: [],               // -- 注册证集合 --
            certs: []                       // -- 当前记录选中的注册证集合 --
        },

        mounted() {
            ajax.send("/aprint/bus/md_common/getMdCertificateList", {}).then(res => {
                let code, name, namePre = "", count = 0;
                let certificates = [];
                this.dtbCertificate = res.dtbCertificate;

                this.dtbCertificate.sort("cpmctymc, exp_date DESC");
                for (let i = 0; i < this.dtbCertificate.rowCount; i++) {
                    let dataRow = this.dtbCertificate.rows[i];
                    let disabled;

                    code = dataRow["zczbhhzbapzbh"].value;
                    name = dataRow["cpmctymc"].value;
                    if (name.equals(namePre)) {
                        count++;
                        disabled = count > 2;       // -- 相同产品名称，前两个注册证有效 --
                    }
                    else {
                        namePre = name;
                        count = 1;
                        disabled = false;
                    }

                    certificates.push({
                        code: code,
                        name: name,
                        expDate: dataRow["exp_date"].value,
                        disabled: disabled
                    });
                }
                this.certificates = certificates;
            });
        },
        methods: {
            onCodeChange() {
                if (this.certs.length > 0) {
                    this.certs = this.certs.sort().reverse();

                    let code = this.certs[0];
                    for (let i = 0; i < this.dtbCertificate.rowCount; i++) {
                        let dataRow = this.dtbCertificate.rows[i];
                        if (dataRow["zczbhhzbapzbh"].value.equals(code)) {
                            this.form.cpmctymc = dataRow["cpmctymc"].value;                 // -- 产品名称/通用名称 --
                            this.form.ylqxzcrbarmc = dataRow["ylqxzcrbarmc"].value;         // -- 注册/备案人名称 --
                            this.form.ylqxzcrbarywmc = dataRow["ylqxzcrbarywmc"].value;     // -- 注册/备案人英文名称 --
                            this.form.flbm = dataRow["flbm"].value;                         // -- 分类编码 --
                            this.form.cplx = dataRow["cplx"].value.toString();              // -- 器械类别 --
                            break;
                        }
                    }
                }
                else {
                    this.form.cpmctymc = "";
                    this.form.ylqxzcrbarmc = "";
                    this.form.ylqxzcrbarywmc = "";
                    this.form.flbm = "";
                    this.form.cplx = "";
                }
                this.form.zczbhhzbapzbh = this.certs.join(",");
            },

            afterAddnew(jsp) {
                this.form.cpmctymc = "";
                this.form.spmc = "";

                if (!jsp.copy) {
                    this.form.hchzsb = "0";
                    this.form.cgzmraqxgxx = "0";                // -- 核磁安全 --
                    this.form.zdcfsycs = "0";                   // -- 重复使用次数，0表示不确定次数 --

                    this.form.scbssfbhph = true;
                    this.form.scbssfbhscrq = true;
                    this.form.scbssfbhsxrq = true;
                    this.form.sfbjwycxsy = true;               // -- 是否标记为一次性使用 --
                }
            },
            beforeSave() {
                if (this.form.zczbhhzbapzbh.equals("")) {
                    topWin.message("请先选择“注册证/备案凭证编号”。", "warning");
                    this.$refs.certs.focus();
                    return false;
                }
                if (this.form.spmc.equals("")) {
                    this.form.spmc = this.form.cpmctymc;
                }

                if (this.form.syqsfxyjxmj) {
                    if (this.form.mjfs.equals("")) {
                        topWin.message("请填写灭菌方式。", "warning");
                        this.$refs.mjfs.focus();
                        return false;
                    }
                }
                else {
                    this.form.mjfs = "";
                }
                this.form.zczbhhzbapzbh = this.form.zczbhhzbapzbh.replaceAll("，", ",");

                // -- 一次性使用 --
                if (this.form.sfbjwycxsy) {
                    this.form.zdcfsycs = "";
                }
                else {
                    if (this.form.zdcfsycs.toInt() < 0) {
                        topWin.message("请填写最大重复使用次数。", "warning");
                        this.$refs.zdcfsycs.focus();
                        return false;
                    }
                }

                // -- 标识载体 --
                let bszts = [];
                if (this.bszt.BARCODE_1D) bszts.push("1");
                if (this.bszt.BARCODE_2D) bszts.push("2");
                if (this.bszt.RFID) bszts.push("3");
                if (this.bszt.OTHERS) bszts.push("4");
                this.form.bszt = bszts.join(",");

                return true;
            },
            afterMove() {
                if (this.form.zczbhhzbapzbh) {
                    this.certs = this.form.zczbhhzbapzbh.split(",");
                }
                else {
                    this.certs = [];
                }

                // -- 标识载体 --
                let bszt = this.form.bszt;
                this.bszt.BARCODE_1D = bszt.indexOf("1") >= 0;
                this.bszt.BARCODE_2D = bszt.indexOf("2") >= 0;
                this.bszt.RFID = bszt.indexOf("3") >= 0;
                this.bszt.OTHERS = bszt.indexOf("4") >= 0;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        if (win.p.maxWidth < 1200) {
            gId("app").style.width = "980px";
        }
        let marginLeft = (win.p.maxWidth - gId("app").offsetWidth) / 2;
        gId("app").style.marginLeft = marginLeft + "px";
    }
</script>