<!DOCTYPE html>
<html>
<head>
    <title>JavaScript 脚本测试</title>
    <script src="../../../../framework/core/doys.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
    <div id="app" style="width:1000px;">
        <el-row>
            <el-col :span="4">
                <el-button onclick="win.close();">关闭</el-button>
            </el-col>
        </el-row>
        <hr />
        <el-form :model="form" label-width="120px" label-position="left">
            <el-row :gutter="20">
                <el-col :span="span[1]">
                    <el-form-item label="原始变量值">
                        <el-input v-model="form.variable_value" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="新变量值">
                        <el-input v-model="form.variable_value_new" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[3]">
                    <el-button @click="afterInput_test();" type="primary">afterInput</el-button>
                </el-col>
            </el-row>
            <el-row>
                <el-col>
                    <el-input v-model="jsonString" type="textarea" :rows="jsonStringRows" placeholder="序列化的JSON字符串"></el-input>
                </el-col>
            </el-row>
            <el-row style="margin-top:12px;">
                <el-col>
                    <el-button @click="initJsonString();">初始化</el-button>
                    <el-button @click="JSON_parse();" type="primary">JSONparse(string to object)</el-button>
                    <el-button @click="addMethod();" type="warning">addMethod to JsonObject</el-button>
                    <el-button @click="JSON_stringify();" type="primary">JSONstringify(object to string)</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <div style="border:solid 1px green;margin:30px;">
        <img src="../../../aprint/image/main/doys.png" />
        <br /><br />
        <img src="http://www.masocloud.com/DoYsUI/project/aprint/image/main/sub_system.png" />
        <br /><br />
        <img src="file:///E:/Pictures/images/png/sap.png" crossOrigin="anonymous" />
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 10, 10, 4],
            form: {
                variable_value: "SN:AOS-BX006D15",
                variable_value_new: ""
            },

            objJSON: null,
            jsonString: "",
            jsonStringRows: 2
        },
        methods: {
            afterInput_test() {
                try {
                    let value = this.form.variable_value;
                    let valueNew = afterInput(value);
                    this.form.variable_value_new = valueNew;
                }
                catch (e) {
                    topWin.alert(e.toString(), "error");
                }
            },
            initJsonString() {
                this.jsonString = getDefaultJsonString();
                this.jsonStringRows = 20;
            },

            JSON_parse() {
                this.objJSON = JSON.parse(this.jsonString);
            },

            addMethod() {
                debugger;
                this.objJSON.method1 = abc;
            },

            JSON_stringify() {
                this.jsonString = this.JsonObjectToJsonString(this.objJSON);
                debugger;
            },
            JsonObjectToJsonString(objectJSON) {
                return JSON.stringify(objectJSON,
                    (k, v) => {
                        if (k.equals("") || k.equals("method1")) {
                            debugger;
                        }
                        if (k.equals("dom") || k.equals("doc")) {
                            return undefined;
                        }
                        else if (k.equals("instance")) {
                            return undefined;
                        }
                        return v;
                    }, "  "
                );
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {

    }
</script>

<!-- afterInput -->
<script>
    function afterInput(value, options) {
        let valueNew = value.substring(3).replace("-", "");
        if (options) {
            options.print = true;
        }
        return valueNew;
    }
</script>

<!-- 序列化 -->
<script>
    function abc() {
        console.log("abc haha");
    }
    function getDefaultJsonString() {
        return `
            {
              "width": 100,
              "height": 80,
              "elements": [
                {
                  "width": 80,
                  "height": 40,
                  "left": 242,
                  "top": 21,
                  "type": "text",
                  "text": "hello1"
                },
                {
                  "width": 70,
                  "height": 50,
                  "left": 40,
                  "top": 40,
                  "type": "text",
                  "text": "hello2"
                },
                {
                  "width": 170,
                  "height": 50,
                  "left": 40,
                  "top": 140,
                  "type": "barcode",
                  "value": "12345678",
                  "format": ""
                }
              ]
            }
        `;
    }
</script>