/* 标准视图按钮样式 */
.uvButtons {
    margin: 1px 0px 2px 0px;
}
.uvButtons input[type='button'] {
    font-size: 11pt;
    background-color: White;
    width: auto;
    min-width: 70px;
    height: 30px;
    line-height: 26px;
    overflow: visible;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    border: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
}
.uvButtons input[type='button']:hover {
    color: White;
    background-color: #19a2d5;
}
.uvButtons input[type='button']:disabled {
    color: Gray;
}

.uvButtons_ {
    color: #455a70;
}
.uvButtons_extra {
    color: Orange;
}
.uvButtons_flow {
    color: #B22222;
}
.uvButtons_select {
    color: Blue; /* 选择视图的选择按钮 */
}

/* 标准按钮组(DIV布局)*/
.divButtons {
    background-color: #EFEFEF;
}
.divButtons input[type='button'] {
    font-size: 11pt;
    width: auto;
    min-width: 70px;
    height: 30px;
    line-height: 26px;
    overflow: visible;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    border: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
}
.divButtons input[type='button']:hover {
    color: White;
    background-color: #19a2d5;
}
.divButtons input[type='button']:disabled {
    color: Gray;
}
/* 标准按钮组(DIV布局)*/
.pageButtons {
    padding: 5px;
}
.pageButtons input[type='button'] {
    font-size: 10pt;
    font-family: 微软雅黑;
    width: auto;
    min-width: 80px;
    height: 30px;
    line-height: 26px;
    overflow: visible;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    border: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    color: White;
    background-color: #19A2D5;
}
.pageButtons input[type='button']:hover {
    background-color: #28BDE6;
}
.pageButtons input[type='button']:disabled {
    background-color: #d0d0d0;
    cursor: default;
}

/* 标准按钮组(TABLE布局)(reportview页面采用) */
.tbButtons {
    border-collapse: collapse;
    margin: 1px 0px 2px 0px;
}
.tbButtons td {
    padding: 0px;
}
.tbButtons input[type='button'] {
    width: auto;
    min-width: 60px;
    overflow: visible;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    height: 30px;
    font-size: 11pt;
    line-height: 26px;
    border: 1px solid gray;
    border-top-right-radius: 4px;
}
.tbButtons input[type='button']:hover {
    color: Red;
}
/* div模拟按钮“放大镜查询” */
.queryButton {
    width: 24px;
    height: 24px;
    background-image: url(../../images/button/query.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: right;
}
/* 通用样式 */
.noData {
    padding: 15px;
    color: Red;
}
/* 选择框下拉图标 */
.combo {
    position: relative;
}
.combo div {
    position: absolute;
    font-size: 1.1em;
    color: darkgray;
    cursor: pointer;
    text-align: center;
}
.combo div:hover {
    color: royalblue;
}
.combo input:disabled {
    background-color: White;
}
/* 按钮样式 */
.buttonA {
    width: auto;
    min-width: 60px;
    overflow: visible;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    height: 30px;
    font-size: 11pt;
    line-height: 26px;
    border: 1px solid gray;
    border-top-right-radius: 4px;
}
.buttonA:hover {
    color: Red;
}
/* 一种底版样式 */
.PanelA {
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid lightGray;
    border-radius: 3px;
}
/* 链接样式 */
.aA {
    color: Blue;
    text-decoration: none;
}
.aA:hover {
    color: Red;
}
.aB {
    color: Blue;
    font-size: 1em;
    cursor: pointer;
}
.aB:hover {
    color: #19a2d5;
}
/* 保持在屏幕中央 */
.ScreenCenter {
    margin-left: auto;
    margin-right: auto;
}

/* 页面按钮系列(default)*/

.page-btn {
    font-size: 10pt;
    font-family: 微软雅黑;
    width: auto;
    min-width: 80px;
    height: 30px;
    line-height: 26px;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: White;
    border: 0px;
    background-color: #19A2D5;
}
.page-btn:hover {
    background-color: #28BDE6;
}
.page-btn:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}
/* 页面按钮系列(warning)*/

.page-btn-warning {
    font-size: 10pt;
    font-family: 微软雅黑;
    width: auto;
    min-width: 80px;
    height: 30px;
    line-height: 26px;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: White;
    border: 0px;
    background-color: #F39C12;
}
.page-btn-warning:hover {
    background-color: #F1C40F;
}
.page-btn-warning:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}