@charset "UTF-8";
html,
body {
    height: 100%;
}

ul,
li {
    list-style: none;
}

.login-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #673AB7 50%, #6231b9 50%);
    background-size: cover;
    background-attachment: fixed;
    background-color: #6231b9; 
}

.login-topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 100px;
}

.login-topbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.1;
    filter: alpha(opacity=10);
    filter: "alpha(opacity=10)";
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=10);
}

.login-topbar a {
    color: #3280fc;
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2px;
}

.login-topbar a:hover {
    text-decoration: none;
}

.login-topbar-logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.login-main {
    width: 780px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -200px;
    overflow: hidden;
    border-radius: 4px;
    z-index:99;
}

.login-left,
.login-right {
    float: left;
    height: 100%;
    text-align: center;
    display: table;
}

.login-left {
    width: 55%;
    background: url("../images/login-info-bg.png") no-repeat;
    background-size: cover;
}

.login-right {
    width: 45%;
    background: #f8f8f4;
    color: #000;
    padding: 40px;
}

.login-info,
.login-form {
    display: table-cell;
    vertical-align: middle;
}

.login-info h2 {
    margin: 10px 0 30px 0;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    letter-spacing: 2px;
}

.login-info-item {
    font-size: 14px;
    line-height: 2.5;
    color: #fff;
}

.login-form {
    width: 100%;
}

.login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px;
    color: #3280fc;
}

.login-form .form-control {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;
    height: 38px;
    background: #fff;
    color: #333;
    font-size: 14px;
}

.login-form .input-control .help-block {
    position: absolute;
    top: 0;
    right: 0;
    color: #EA644A;
}

.login-form input:FOCUS {
    border-color: #145ccd;
    border-bottom: 0px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(20, 92, 205, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(20, 92, 205, .6)
}

.login-form .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-form .input-control-icon-left,
.login-form .input-control-icon-right {
    height: 38px;
    line-height: 38px;
}

.login-form .login-btn {
    margin-top: 15px;
}

.login-form .login-btn .btn {
    padding: 10px 12px;
    font-size: 16px;
    letter-spacing: 2px;
    box-shadow: rgba(152, 22, 244, 0.19);
    -webkit-box-shadow: rgba(152, 22, 244, 0.19) 0px 5px 10px 2px;
}

.marquee-box {
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.marquee {
    width: 8000%;
    height: 60px
}

.wave-list-box {
    float: left
}

.wave-list-box ul {
    float: left;
    height: 60px;
    overflow: hidden;
    zoom: 1
}

.wave-list-box ul li {
    height: 60px;
    width: 100%;
    float: left;
    line-height: 30px;
    list-style: none
}

.wave-box {
    position: relative;
    height: 60px;
    background: #fff
}

.autoWidth {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1200px
}

.auto {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1200px
}

.clearfix:after,
.clearfix:before {
    display: table;
    line-height: 0;
    content: ""
}

.clearfix:after {
    clear: both
}

.clear-float {
    clear: both
}

.footer {
    background-color: #009fd9;
    font-family: "Microsoft Yahei";
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 9;
}

.footer-floor1 {
    width: 100%;
    padding: 36px 0 60px
}

.footer-list {
    width: 69%;
    height: 100%;
    float: left
}

.footer-list ul {
    float: left;
    margin-right: 13%
}

.footer-list .flist-4 {
    margin-right: 0
}

.footer-list li {
    line-height: 32px
}

.footer-list li a {
    color: #b6e2f2;
    font-size: 12px;
    text-decoration: none
}

.footer-list li a:hover {
    text-decoration: underline;
    color: #fff
}

.footer-list .flist-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px
}

.footer-floor2 {
    width: 100%;
    border-top: 1px solid #4cc3ed;
    padding: 0px;
    text-align: center
}

.footer-floor2 p {
    text-align: center;
    color: #b6e2f2;
    font-size: 12px;
    line-height: 30px;
    padding: 3px 0px;
    margin: 0px;
}

.footer-floor2 p span {
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif
}

.footer-floor2 a {
    color: #b6e2f2
}

.footer-floor2 a:hover {
    color: #a8d0e0;
    text-decoration: underline
}

.foot-link {
    margin: 0 15px;
    text-decoration: none;
    color: #b6e2f2
}

.foot-link:hover {
    text-decoration: underline
}

.footer-right {
    width: 300px;
    float: right
}

.telephone {
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #fff
}

.telephone span {
    display: inline-block;
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 16%
}

.telephone .tel-number {
    font-size: 30px;
    font-weight: 400;
    text-align: right
}

.official-plat {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: relative
}

.official-plat ul {
    float: right;
    margin-top: 7px
}

.official-plat ul li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    float: left;
    margin-right: 12px
}

.official-plat ul li {
    height: 45px
}

.official-plat ul a {
    display: inline-block;
    height: 32px;
    width: 100%;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    font-size: 12px
}

.official-plat>p {
    display: inline-block;
    width: 132px;
    height: 132px;
    border: 1px solid #ddd;
    background-color: #fff
}

.official-plat .weixin {
    position: absolute;
    top: 0;
    left: 10px;
    background-image: url(../images/plat_qrcode.png);
    background-repeat: no-repeat;
    background-position: 0 0
}

.official-plat .weibo {
    position: absolute;
    top: 0;
    left: 10px;
    background-image: url(../images/plat_qrcode.png);
    background-repeat: no-repeat;
    background-position: -132px 0;
    display: none
}

#wx-corner {
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 12px;
    right: -20px;
    z-index: 10
}

#wb-corner {
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 58px;
    right: -20px;
    z-index: 10
}

.five-superiority {
    width: 100%;
    border-bottom: 1px solid #27aede;
    padding: 10px 0 20px
}

.five-superiority-list li {
    float: left;
    width: 20%;
    height: 36px;
    text-align: center;
    border-left: 1px solid #27aede
}

.five-superiority-list li:first-child {
    border-left: none
}

.five-superiority-list li a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: no-repeat 2% center;
    text-indent: 2em;
    color: #fff;
    font-size: 16px
}

.five-superiority-list li a:hover {
    color: #bfe7f5
}

.five-superiority-list li a.superiority-text {
    text-indent: 4em
}

.superiority-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10%;
    background-repeat: no-repeat;
    background-image: url(../images/footer_youshi.png)
}

.compensate_ico .superiority-icon {
    background-position: 0 0
}

.compensate_ico:hover .superiority-icon {
    background-position: 0 -50px
}

.retreat_ico .superiority-icon {
    background-position: 0 -100px
}

.retreat_ico:hover .superiority-icon {
    background-position: 0 -150px
}

.technology_ico .superiority-icon {
    background-position: 0 -200px
}

.technology_ico:hover .superiority-icon {
    background-position: 0 -250px
}

.prepare_ico .superiority-icon {
    background-position: 0 -300px
}

.prepare_ico:hover .superiority-icon {
    background-position: 0 -350px
}

.service_ico .superiority-icon {
    background-position: 0 -400px
}

.service_ico:hover .superiority-icon {
    background-position: 0 -450px
}

#ss_menu {
    bottom: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    position: fixed;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    right: 30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 9999;
}

#ss_menu>.menu {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#ss_menu>.menu .share {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#ss_menu>.menu .share .circle {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    margin-top: -6px;
    left: 12px;
    opacity: 1;
}

#ss_menu>.menu .share .circle:after,
#ss_menu>.menu .share .circle:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

#ss_menu>.menu .share .circle:after {
    left: 20.78461px;
    top: 12.0px;
}

#ss_menu>.menu .share .circle:before {
    left: 20.78461px;
    top: -12.0px;
}

#ss_menu>.menu .share .bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: 18px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#ss_menu>.menu .share .bar:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

#ss_menu>.menu .share.close .circle {
    opacity: 0;
}

#ss_menu>.menu .share.close .bar {
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -12px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

#ss_menu>.menu .share.close .bar:before {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
}

#ss_menu>.menu.ss_active {
    background: #00796B;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

#ss_menu>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    background: #00796B;
    border-radius: 50%;
    display: table;
}

#ss_menu>div i {
    display: table-cell;
    vertical-align: middle;
}

#ss_menu>div:hover {
    background: #009688;
    cursor: pointer;
}

#ss_menu div:nth-child(1) {
    top: 0px;
    left: -160px;
}

#ss_menu div:nth-child(2) {
    top: -80.0px;
    left: -138.56406px;
}

#ss_menu div:nth-child(3) {
    top: -138.56406px;
    left: -80.0px;
}

#ss_menu div:nth-child(4) {
    top: -160px;
    left: 0.0px;
}

.app-down {
    background-image: url(/img/app_android.jpg);
    background-repeat: no-repeat;
}

.app-login {
    background-image: url(/img/app_login.jpg);
}

#footer .wave-box ul {
    padding-left: 0px;
}

.check-text {
    float: right;
    margin: 2px 0 0 5px;
}


/* 修改密码窗口 */

.xwf_win_divWinMax {
    position: absolute;
    top: 5px !important;
    left: 5px !important;
}

html,
      body {
          overflow: hidden;
      }
      
      .form-group.form-operation {
          padding-top: 15px;
      }
      
      .form-group.form-operation::after {
          content: "";
          display: block;
          clear: both;
      }
      
      .login-info-item {
          text-align: center;
          font-size: 18px;
      }
      
       .w3lsg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.w3lsg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -160px;
	-webkit-animation: square 25s infinite;
	-moz-animation: square 25s infinite;
	-o-animation: square 25s infinite;
	-ms-animation: square 25s infinite;
	animation: square 25s infinite;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear; 
}
.w3lsg-bubbles li:nth-child(1) {
	left: 10%;
}
.w3lsg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 17s;
	-moz-animation-duration: 17s;
	-o-animation-duration: 17s;
	animation-duration: 17s;
}
.w3lsg-bubbles li:nth-child(3) {
	left: 25%;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.w3lsg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	-webkit-animation-duration: 22s;
	-moz-animation-duration: 22s;
	-o-animation-duration: 22s;
	-ms-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(255, 255, 255, 0.25);
}
.w3lsg-bubbles li:nth-child(5) {
	left: 70%;
}
.w3lsg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}
.w3lsg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	-o-animation-delay: 7s;
	-ms-animation-delay: 7s;
	animation-delay: 7s;
}
.w3lsg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s; 
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	-moz-animation-duration: 40s;
	animation-duration: 40s;
}
.w3lsg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}
.w3lsg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 11s;
	animation-delay: 11s;
}

@-webkit-keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg); 
		-o-transform: translateY(-700px) rotate(600deg); 
		-ms-transform: translateY(-700px) rotate(600deg); 
		transform: translateY(-700px) rotate(600deg);        
	}
}
@keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0); 
		-o-transform: translateY(0); 
		-ms-transform: translateY(0);
		transform: translateY(0);        
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg);
		-o-transform: translateY(-700px) rotate(600deg); 
		-ms-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);        
	}
}

.login-title{
	   text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
    font-size: 40px;
    color: #fff;
    letter-spacing: .15em;
	
}


