<!DOCTYPE html>
<html>
<head>
    <title>标签设计页面</title>
    <script src="../js/boot.js"></script>
    <script>
        importFrameworkRes("designer");
    </script>
</head>
<body>
    <div id="app"></div>
    <div id="vmToolbar">
        <el-row class="row-toolbar">
            <!-- new/import/save/export -->
            <el-button-group>
                <el-button type="info" onclick="blankLabel();" icon="alifont ali-icon-new" title="新建空白标签"></el-button>
                <el-button type="info" onclick="importLabel();" v-show="edgeWV" icon="alifont ali-icon-blank" title="打开标签"></el-button>
                <el-button type="info" onclick="fileImport.click();" v-show="!edgeWV" icon="alifont ali-icon-blank" title="打开标签"></el-button>
                <el-button type="success" onclick="saveLabel();" icon="alifont ali-icon-save" title="保存标签"></el-button>
                <el-button type="info" onclick="exportLabel();" v-show="edgeWV" icon="alifont ali-icon-saveas" title="导出标签 ..."></el-button>
                <el-button type="info" onclick="exportLabelByWeb();" v-show="!edgeWV" icon="alifont ali-icon-saveas" title="导出标签 ..."></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" onclick="pageSetup();" icon="alifont ali-icon-grid" title="页面设置"></el-button>
                <el-button type="warning" onclick="printSample();" icon="alifont ali-icon-print" title="打印样张"></el-button>
                <el-button type="info" v-show="false" icon="alifont ali-icon-preview" title="预览"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" onclick="copyElements()" icon="alifont ali-icon-copy" title="复制元素"></el-button>
                <el-button type="info" onclick="pasteElements()" icon="alifont ali-icon-paste" title="粘贴元素"></el-button>
                <el-button type="success" :disabled="true" icon="alifont ali-icon-back" title="撤销"></el-button>
                <el-button type="info" :disabled="true" icon="alifont ali-icon-redo" title="重做"></el-button>
            </el-button-group>

            <!-- add element -->
            <el-button-group>
                <el-button type="primary" onclick="addElement('text');" icon="alifont ali-icon-a" title="文本"></el-button>
                <el-button type="primary" onclick="addElement('barcode1D');" icon="alifont ali-icon-barcode" title="一维码"></el-button>
                <el-button type="primary" onclick="addElement('barcode2D');" icon="alifont ali-icon-qrcode" title="二维码"></el-button>
                <el-button type="primary" onclick="addElement('image');" icon="alifont ali-icon-image" title="图片"></el-button>
                <el-button type="primary" onclick="addElement('shape');" icon="alifont ali-icon-rectangle" title="形状"></el-button>
                <el-button type="primary" onclick="addElement('line');" icon="alifont ali-icon-line" title="直线"></el-button>
            </el-button-group>
            <!-- zoom -->
            <el-button-group>
                <el-button type="info" onclick="zoomIn()" icon="alifont ali-icon-zoomin" title="放大"></el-button>
                <el-button type="info" onclick="zoomOut()" icon="alifont ali-icon-zoomout" title="缩小"></el-button>
                <el-button type="info" onclick="zoomFit()" icon="alifont ali-icon-zoom" title="适应窗口大小"></el-button>
            </el-button-group>
            <!-- help/etc. -->
            <el-button-group>
                <el-button type="success" :disabled="true" icon="alifont ali-icon-help" title="帮助"></el-button>
                <el-button type="danger" onclick="exit();" icon="alifont ali-icon-exit" title="退出"></el-button>
            </el-button-group>

            <!-- example and debug -->
            <el-button-group v-show="showDebugToolbar">
                <el-button type="info" onclick="btnDemoLabel_click();" icon="alifont ali-icon-label" title="演示标签"></el-button>
                <el-button type="info" onclick="btnDebugLabel_click();" icon="alifont ali-icon-label" title="调试标签"></el-button>
            </el-button-group>
            <el-button-group v-show="false">
                <el-button type="success" onclick="testCross1()" v-show="true" icon="alifont ali-icon-test-ts" title="远程跨域测试1"></el-button>
                <el-button type="success" onclick="testCross2()" v-show="true" icon="alifont ali-icon-test-ts" title="内网跨域测试2"></el-button>
                <el-button type="warning" onclick="webPrintSample()" v-show="true" icon="alifont ali-icon-print" title="打印样张(WEB模式)"></el-button>
            </el-button-group>
        </el-row>
        <div style="height:5px;"></div>
    </div>
    <table id="tbMain" class="tbMain">
        <tr>
            <td id="tdProp" class="tdProp">
                <div id="vmProp" style="overflow-y:auto;">
                    <el-row v-show="false"><span style="color:yellow">元素选中数量：{{selectedCount}}</span></el-row>
                    <el-collapse v-model="activeNames" @change="propGroupChange" accordion>
                        <!-- label -->
                        <el-collapse-item name="labelHead" v-show="selectedCount==0">
                            <template slot="title">
                                <div class="divPropGrouName">标签 Label</div>
                                <i class="el-icon-collection-tag"></i>
                            </template>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">宽度</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="labelHead.width" @change="elementPropChange('labelHead.width')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">高度</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="labelHead.height" @change="elementPropChange('labelHead.height')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">打印机点数</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="labelHead.point" @change="elementPropChange('labelHead.point')" style="width:100%;">
                                        <el-option value="200" label="200"></el-option>
                                        <el-option value="300" label="300"></el-option>
                                        <el-option value="400" label="400"></el-option>
                                        <el-option value="600" label="600"></el-option>
                                        <el-option value="1200" label="1200"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">打印机</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="printerName" @change="printerChange" filterable style="width:100%;">
                                        <el-option v-for="printerName in printers" :key="printerName" :value="printerName" :label="printerName"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">图片根路径</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="labelHead.imageBaseUrl" @change="elementPropChange('labelHead.imageBaseUrl')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row style="margin-top:10px;">
                                <el-col :span="span[1]"><div class="divPropName">&nbsp;</div></el-col>
                                <el-col :span="span[2]" style="text-align:right">
                                    <el-button @click="onFieldsClick" type="primary" plain>标签变量集</el-button>
                                </el-col>
                            </el-row>
                            <el-row style="margin-top:15px;">
                                <el-col :span="span[1]"><div class="divPropName">&nbsp;</div></el-col>
                                <el-col :span="span[2]" style="text-align:right">
                                    <el-button @click="onScriptClick" type="primary" plain round title="标签脚本">&lt;script&gt; ... &lt;/script&gt;</el-button>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                        <!-- head -->
                        <el-collapse-item name="head" v-show="selectedCount>0">
                            <template slot="title">
                                <div class="divPropGrouName">元素 Element</div>
                            </template>
                            <el-row v-show="selectedCount==1">
                                <el-col :span="span[1]"><div class="divPropName">名称</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="head.name" @change="elementPropChange('head.name')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row v-show="selectedCount==1">
                                <el-col :span="span[1]"><div class="divPropName">类型</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="head.elementType" @change="elementPropChange('head.elementType')" :disabled="true" style="width:100%;">
                                        <el-option value="barcode" label="条形码"></el-option>
                                        <el-option value="text" label="文本"></el-option>
                                        <el-option value="image" label="图片"></el-option>
                                        <el-option value="shape" label="形状"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]"><div class="divPropName">符号体系</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="head.barcodeType" @change="elementPropChange('head.barcodeType')" filterable style="width:100%;">
                                        <el-option-group label="一维码">
                                            <el-option value="CODE_128" key="CODE_128" label="Code 128"></el-option>
                                            <el-option value="CODE_39" key="CODE_39" label="Code 39"></el-option>
                                            <el-option value="EAN_13" key="EAN_13" label="EAN13"></el-option>
                                            <el-option value="EAN_13_D" key="EAN_13_D" label="EAN_13"></el-option>
                                        </el-option-group>
                                        <el-option-group label="二维码">
                                            <el-option value="QR_CODE" key="QR_CODE" label="QR Code"></el-option>
                                            <el-option value="DATA_MATRIX" key="DATA_MATRIX" label="DataMatrix"></el-option>
                                            <el-option value="PDF_417" key="PDF_417" label="PDF_417" :disabled="true"></el-option>
                                        </el-option-group>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.pureBarcode" @change="elementPropChange('head.pureBarcode')">隐藏条码文本</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.gs1" @change="elementPropChange('head.gs1')">GS1条码</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.locked" @change="elementPropChange('head.locked')">锁定</el-checkbox>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                        <!-- position -->
                        <el-collapse-item name="position" v-show="selectedCount>0">
                            <template slot="title">
                                <div class="divPropGrouName">位置 Position</div>
                            </template>
                            <!-- hidden,layer,angle -->
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="position.hidden" @change="elementPropChange('position.hidden')">打印时隐藏</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">图层</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="position.layer" @change="elementPropChange('position.layer')" style="width:100%;">
                                        <el-option value="0" label="底层"></el-option>
                                        <el-option value="1" label="1层"></el-option>
                                        <el-option value="2" label="2层"></el-option>
                                        <el-option value="3" label="3层"></el-option>
                                        <el-option value="4" label="4层"></el-option>
                                        <el-option value="5" label="5层"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">旋转角度</div></el-col>
                                <el-col :span="span[2]">
                                    <!--<el-input v-model="position.angle" @change="elementPropChange('position.angle')"></el-input>-->
                                    <el-select v-model="position.angle" @change="elementPropChange('position.angle')" filterable allow-create default-first-option style="width:100%;">
                                        <el-option value="0" label="0"></el-option>
                                        <el-option value="90" label="90"></el-option>
                                        <el-option value="180" label="180"></el-option>
                                        <el-option value="270" label="270"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <!-- x,y,w,h-->
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">位置X</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.left" @change="elementPropChange('position.left')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">位置Y</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.top" @change="elementPropChange('position.top')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">宽度</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.width" @change="elementPropChange('position.width')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">高度</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.height" @change="elementPropChange('position.height')"></el-input>
                                </el-col>
                            </el-row>
                            <!-- textAlign,verticalAlign -->
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">水平位置</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="position.textAlign" @change="elementPropChange('position.textAlign')" style="width:100%;">
                                        <el-option value="left" label="居左"></el-option>
                                        <el-option value="center" label="居中"></el-option>
                                        <el-option value="right" label="居右"></el-option>
                                        <el-option value="justify" label="两端对齐"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">垂直位置</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="position.verticalAlign" @change="elementPropChange('position.verticalAlign')" style="width:100%;">
                                        <el-option value="top" label="居上"></el-option>
                                        <el-option value="middle" label="居中"></el-option>
                                        <el-option value="bottom" label="居下"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <!-- margin -->
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">左边距</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.marginLeft" @change="elementPropChange('position.marginLeft')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">上边距</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.marginTop" @change="elementPropChange('position.marginTop')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">右边距</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.marginRight" @change="elementPropChange('position.marginRight')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">下边距</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="position.marginBottom" @change="elementPropChange('position.marginBottom')"></el-input>
                                </el-col>
                            </el-row>

                        </el-collapse-item>
                        <!-- frame -->
                        <el-collapse-item name="frame" v-show="selectedCount>0">
                            <template slot="title">
                                <div class="divPropGrouName">边框 Frame</div>
                            </template>
                            <!-- type,width,color,fillColor -->
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">类型</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="frame.type" @change="elementPropChange('frame.type')" style="width:100%;">
                                        <el-option value="" label="无"></el-option>
                                        <el-option value="rectangle" label="矩形"></el-option>
                                        <el-option value="ellipse" label="椭圆" :disabled="true"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">粗细(mm)</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="frame.width" @change="elementPropChange('frame.width')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">边框颜色</div></el-col>
                                <el-col :span="span[2]">
                                    <el-color-picker v-model="frame.color" @change="elementPropChange('frame.color')"></el-color-picker>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">填充色</div></el-col>
                                <el-col :span="span[2]">
                                    <el-color-picker v-model="frame.fillColor" @change="elementPropChange('frame.fillColor')"></el-color-picker>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">圆角半径(mm)</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="frame.radius" @change="elementPropChange('frame.radius')"></el-input>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                        <!-- font -->
                        <el-collapse-item name="font" v-show="selectedCount>0 && head.elementType!='image'">
                            <template slot="title">
                                <div class="divPropGrouName">字体 Font</div>
                            </template>
                            <!-- type,width,color,fillColor -->
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">字体</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="font.name" @change="elementPropChange('font.name')" filterable default-first-option style="width:100%;">
                                        <el-option v-for="name in fontNames" :value="name" :label="name" :key="name">
                                            <slot>
                                                <div style="width:350px;">
                                                    <span style="float:left">{{name}}</span>
                                                    <span :style="'float:right;font-family:' + name">简体中文AaBbCc123</span>
                                                </div>
                                            </slot>
                                        </el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">字号(pt)</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="font.size" @change="elementPropChange('font.size')" filterable allow-create default-first-option style="width:100%;">
                                        <el-option v-for="size in fontSizes" :value="size" :label="size" :key="size"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">颜色</div></el-col>
                                <el-col :span="span[2]">
                                    <el-color-picker v-model="font.color" @change="elementPropChange('font.color')"></el-color-picker>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="font.bold" @change="elementPropChange('font.bold')">粗体</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="font.italic" @change="elementPropChange('font.italic')">斜体</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="font.wordWrap" @change="elementPropChange('font.wordWrap')">自动换行</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">行高</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="font.lineHeight" @change="elementPropChange('font.lineHeight')"></el-input>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                        <!-- image -->
                        <el-collapse-item name="image" v-show="selectedCount==1 && head.elementType=='image'">
                            <template slot="title">
                                <div class="divPropGrouName">图片 Image</div>
                            </template>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">图片</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="image.value" @change="elementPropChange('image.value')" clearable style="width:100%;">
                                        <el-option v-for="item in images" :value="item.k" :label="item.k" :key="item.k" :title="item.k + '  (' + item.v + ')'" style="height:52px;padding-top:2px;">
                                            <slot>
                                                <image :src="item.url" style="height:48px;" />
                                            </slot>
                                        </el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row v-show="false">
                                <el-col :span="span[1]"><div class="divPropName">url</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="image.url" @change="elementPropChange('image.url')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">尺寸选项</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="image.deformation" @change="elementPropChange('image.deformation')" style="width:100%;">
                                        <el-option value="stretch" label="拉伸填充"></el-option>
                                        <el-option value="zoom" label="同比缩放"></el-option>
                                        <el-option value="none" label="图片原始大小"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </td>
            <td id="tdCanvas" class="tdCanvas">
                <div id="divContainerParent" style="--background-color:blue;overflow:auto;">
                    <div id="divCanvas" class="doys_label_container"></div>
                </div>
            </td>
            <td id="tdAux" class="tdAux">
                <div id="vmAux" class="vmAux">
                    <el-row class="row-aux">
                        <el-button type="info" onclick="alignElements('top')" icon="alifont ali-icon-align-top" title="上对齐"></el-button>
                    </el-row>
                    <el-row class="row-toolbar">
                        <el-button type="info" onclick="alignElements('bottom')" icon="alifont ali-icon-align-bottom" title="下对齐"></el-button>
                    </el-row>
                    <el-row class="row-toolbar">
                        <el-button type="info" onclick="alignElements('left')" icon="alifont ali-icon-align-left" title="左对齐"></el-button>
                    </el-row>
                    <el-row class="row-toolbar">
                        <el-button type="info" onclick="alignElements('right')" icon="alifont ali-icon-align-right" title="右对齐"></el-button>
                    </el-row>
                    <el-row class="el-row-aux-space"></el-row>
                    <!-- 等间距(垂直、水平) -->
                    <el-row class="row-toolbar">
                        <el-button type="info" onclick="equidistantElements('vertical')" icon="alifont ali-icon-equidistant-v" title="垂直等间距"></el-button>
                    </el-row>
                    <el-row class="row-toolbar">
                        <el-button type="info" onclick="equidistantElements('horizontal')" icon="alifont ali-icon-equidistant-h" title="水平等间距"></el-button>
                    </el-row>
                    <el-row class="el-row-aux-space"></el-row>
                </div>
            </td>
        </tr>
    </table>
    <div style="display:none;">
        <input type="file" id="fileImport" onchange="importLabelByWeb()" accept="text/dlb" />
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {},
        methods: {}
    });
    var vmTollbar = new Vue({
        el: '#vmToolbar',
        data: {
            edgeWV: top.chrome && top.chrome.webview,      // -- 是否外壳(edge.webview2)环境 --
            showDebugToolbar: true
        },
        methods: {}
    });
    var vmProp = new Vue({
        el: '#vmProp',
        mounted() {
            crossLocal.getFontList().then((fonts) => {
                this.fontNames = fonts;
            });
            crossLocal.getPrinterList().then((res) => {
                if (res.ok) {
                    this.printers = res.data.printers;

                    this.printerName = getLocalItem(ckLatestPrinter);
                    lbl.setPrinterName(this.printerName);
                }
            })
        },
        data: {
            span: [24, 7, 17],
            activeNames: "labelHead",
            lastActiveNames: "labelHead",
            printers: [],
            printerName: "",

            labelHead: {
                width: null, height: null, point: null,
                imageBaseUrl: null
            },
            images: [],
            selectedCount: 0,
            fontNames: UtilFont.getNames(),
            fontSizes: UtilFont.getSizes(),
            head: {
                name: null,
                elementType: null,
                barcodeType: null,
                pureBarcode: false, gs1: false, locked: false
            },
            position: {
                layer: null, angle: 0, hidden: false,
                top: null, left: null, width: null, height: null,
                marginTop: null, marginLeft: null, marginRight: null, marginBottom: null,
                textAlign: null, verticalAlign: null
            },
            frame: {
                type: null, width: null, color: null, fillColor: null, radius: null
            },
            font: {
                name: null, size: 10.5, color: null,
                bold: false, italic: false, wordWrap: false, lineHeight: null
            },
            image: {
                value: null, url: null, deformation: null
            }
        },
        methods: {
            propGroupChange() {
                this.lastActiveNames = this.activeNames;
            },
            elementPropChange(name) {
                let element;
                let propGroupName = name.split(".")[0];
                let propName = name.split(".")[1];
                let propValue;
                // ----------------------------------------
                if (propGroupName.equals("labelHead")) {
                    lbl.head[propName] = this.labelHead[propName];
                    lbl.loadLabel(lbl.toJson());
                    lbl.compute(true);
                }
                else {
                    if (lbl.selectedCount > 1) {
                        for (let i = 0; i < lbl.elements.length; i++) {
                            element = lbl.elements[i];
                            if (element.head._selected) {
                                element[propGroupName][propName] = this[propGroupName][propName];

                                UtilElement.computeProp({ element: element });
                                UtilElement.computeValue({ element: element, fields: lbl.fields });
                                UtilElement.draw({ element: element });
                            }
                        }
                    }
                    else {
                        element = lbl.activatedElement;
                        propValue = this[propGroupName][propName];
                        if (propGroupName.equals("head")) {
                            if (propName.equals("name")) {
                                for (let i = 0; i < lbl.elements.length; i++) {
                                    if (lbl.elements[i]._canvasId != lbl.activatedElement._canvasId) {
                                        if (lbl.elements[i].head.name.equals(propValue)) {
                                            topWin.alert("已存在名称为 " + propValue + " 的元素，请检查。", "error");
                                            return;
                                        }
                                    }
                                }
                            }
                        }

                        element[propGroupName][propName] = propValue;

                        UtilElement.computeProp({ element: element });
                        UtilElement.computeValue({ element: element, fields: lbl.fields });
                        UtilElement.draw({ element: element });
                    }
                    lbl.showResize();
                }
            },
            onFieldsClick() {
                let prop = {
                    topWin: topWin,
                    url: g.x.getPath("/") + "label_field.html",
                    parent: window.win,
                    modal: true
                };
                let para = {
                    fields: lbl.fields,
                    callback: function (jsp) {
                        lbl.label.fields = jsp.fields;
                        lbl.fields = lbl.label.fields;

                        lbl.loadLabel(lbl.toJson());
                        lbl.compute(true);
                    },
                    _this: lbl
                };

                cWin.openWindow(prop, para);
            },
            onScriptClick() {
                let prop = {
                    topWin: topWin,
                    url: g.x.getPath() + "label_script.html",
                    parent: window.win,
                    modal: true
                };
                let para = {
                    scriptBeforeCompute: lbl.head.scriptBeforeCompute,
                    scriptAfterCompute: lbl.head.scriptAfterCompute,
                    callback: function (jsp) {
                        if (jsp.saveAction) {
                            lbl.head.scriptBeforeCompute = jsp.scriptBeforeCompute;
                            lbl.head.scriptAfterCompute = jsp.scriptAfterCompute;
                            lbl.loadLabel(lbl.toJson());
                            lbl.compute(true);
                        }
                    },
                    _this: lbl
                };
                cWin.openWindow(prop, para);
            },

            printerChange() {
                lbl.setPrinterName(this.printerName);
                setLocalItem(ckLatestPrinter, this.printerName);
            }
        }
    });
    var vmAux = new Vue({
        el: '#vmAux',
        data: {
        },
        methods: {}
    });
</script>

<!-- winLoad -->
<script>
    let tbMain = gId("tbMain");
    let tdProp = gId("tdProp");
    let tdCanvas = gId("tdCanvas");

    let divContainerParent = gId("divContainerParent");
    let divCanvas = gId("divCanvas");

    let labelId = 0, labelContent = "";
    let lbl;
    let elementsCopy = [];
    let ckLatestPrinter = "design_page_latest_printer";

    window.addEventListener("load", init, false);
    // ------------------------------------------------------------------------
    function winLoad() {
        if (win.para.menuPk && win.para.menuPk.equals("001005001")) {
            vmTollbar.showDebugToolbar = false;
        }
    }
    function winResize() {
        let hMax = document.documentElement.clientHeight;
        let height = (hMax - tbMain.offsetTop - 20);

        gId("vmProp").style.height = height + "px";

        divContainerParent.style.width = (tdCanvas.offsetWidth - g.x.getStyleValue(tdCanvas, "paddingLeft") - g.x.getStyleValue(tdCanvas, "paddingRight")) + "px";
        divContainerParent.style.height = (tdCanvas.offsetHeight - g.x.getStyleValue(tdCanvas, "paddingTop") - g.x.getStyleValue(tdCanvas, "paddingBottom")) + "px";
    }

    function init() {
        if (window.topWin && topWin.cWin) {
            window.cWin = topWin.cWin;
        }
        else {
            window.cWin = new window.xwf_window({
                jsVer: jsVer,
                zIndex: 1000
            });
        }
        crossLocal.addEventListener("importDLabel", onImportLabel, { p1: "abc", p2: "def" });
        winResize();

        lbl = getLabel();
    }
    function getLabel() {
        if (lbl == null) {
            lbl = new Label({ container: divCanvas, designMode: true });
            lbl.loadLabel("", {
                labelId: 0,
                fields: {},
                width: 80,
                height: 60,
                point: 600
            });
            lbl.compute(true);

            lbl.addEventListener("after-label-load", afterLabelLoad);
            lbl.addEventListener("on-select", onSelect);
        }
        return lbl;
    }
</script>
<!-- toolbar -->
<script>
    // -- blankLabel\import\save\export -------------------
    function blankLabel() {
        if (lbl.elements.length > 0) {
            topWin.confirm("当前标签已存在内容，确定要清空为空白标签吗？").then((ok) => {
                if (!ok) return;

                lbl.loadLabel("", { width: 80, height: 60, point: 600 });
            })
        }
    }

    function importLabel() {
        let para = {
            protocol: "2.0",
            action: "importDLabel"
        }
        crossLocal.invokeEdge(para);
    }
    function onImportLabel(para, jsp) {
        lbl.loadLabel(para.labelString);
        lbl.compute(true);
    }
    function importLabelByWeb() {
        const objFile = document.getElementById("fileImport");
        if (objFile.value === "") {
            return
        }
        const files = objFile.files;
        const reader = new FileReader();
        reader.onload = function (e) {
            const labelString = e.target.result;
            lbl.loadLabel(labelString);
            lbl.compute(true);
        }
        reader.readAsText(files[0], "UTF-8");

        objFile.value = "";
    }

    function saveLabel() {
        lbl.save();
    }
    function exportLabel() {
        let para = {
            protocol: "2.0",
            action: "exportDLabel",
            labelString: lbl.toJson()
        }
        crossLocal.invokeEdge(para);
    }
    function exportLabelByWeb() {
        let labelString = lbl.toJson();

        let blob = new Blob([labelString], { type: 'application/json' });
        let url = window.URL.createObjectURL(blob);
        let link = document.createElement("a");

        link.href = url;
        link.setAttribute("download", "标签文件.dlb");
        link.click();

        //window.open(url, "_blank");
    }

    // -- page\printer\preview ----------------------------
    function pageSetup() {
        let prop = {
            topWin: topWin,
            url: g.x.getPath("/") + "page_setup.html",
            parent: window.win,
            modal: true
        };
        let para = {
            page: lbl.label.page,
            callback: function (jsp) {
                if (jsp.saveAction) {
                    lbl.label.page = g.x.extendJSON(lbl.label.page, jsp.page);
                }
            }
        };

        cWin.openWindow(prop, para);
    }
    function printSample() {
        let datas = [];
        datas.push(lbl.getData());

        let labelString = lbl.toJson();
        let dataString = JSON.stringify(datas, null, " ");
        let para = {
            labelString: labelString,
            dataString: dataString,
            printerName: lbl.getPrinterName(),
            copies: 1
        }
        crossLocal.printLabel(para);
    }

    // -- 复制、黏贴 ----------------------------------------
    function copyElements() {
        if (vmProp.selectedCount == 0 && lbl.activatedElement == null) {
            topWin.message("请先选中要复制的元素。", "error");
            return;
        }

        elementsCopy = [];
        for (let i = 0; i < lbl.elements.length; i++) {
            if (lbl.elements[i].head._selected) {
                elementsCopy.push(lbl.elements[i]);
            }
        }
        if (elementsCopy.length == 0) {
            elementsCopy.push(lbl.activatedElement);
        }
        topWin.message("已复制 " + elementsCopy.length + " 个标签元素", "success");
    }
    function pasteElements() {
        if (elementsCopy.length == 0) {
            topWin.message("请先复制要粘贴的元素。", "error");
            return;
        }
        lbl.pasteElements(elementsCopy);
    }

    // -- addElement(text\barcode\image etc.) -------------
    function addElement(elementType) {
        lbl.addBlankTextElement(elementType);
    }

    // -- zoom --------------------------------------------
    function zoomIn() {
        lbl.zoomIn(1.2);
    }
    function zoomOut() {
        lbl.zoomOut(0.8);
    }
    function zoomFit() {
        lbl.zoomFit();
    }

    // -- exit/help ---------------------------------------
    function exit() {
        if (window.win) {
            win.close();
        }
        else {

        }
    }
</script>
<!-- aux -->
<script>
    function alignElements(align) {
        lbl.alignElements({ align: align });
    }
    function equidistantElements(align) {
        lbl.equidistantElements({ align: align });
    }
</script>

<!-- 属性区 -->
<script>
    function showElementProp() {
        let props = [], group, name, value;
        // -- head ----------------------------------------
        props.push({ group: "head", name: "name" });
        props.push({ group: "head", name: "elementType" });
        props.push({ group: "head", name: "barcodeType" });
        props.push({ group: "head", name: "pureBarcode" });
        props.push({ group: "head", name: "gs1" });
        props.push({ group: "head", name: "locked" });

        // -- position ------------------------------------
        props.push({ group: "position", name: "hidden" });
        props.push({ group: "position", name: "layer" });
        props.push({ group: "position", name: "angle" });
        props.push({ group: "position", name: "textAlign" });
        props.push({ group: "position", name: "verticalAlign" });
        props.push({ group: "position", name: "top" });
        props.push({ group: "position", name: "left" });
        props.push({ group: "position", name: "width" });
        props.push({ group: "position", name: "height" });
        props.push({ group: "position", name: "marginTop" });
        props.push({ group: "position", name: "marginLeft" });
        props.push({ group: "position", name: "marginRight" });
        props.push({ group: "position", name: "marginBottom" });

        // -- frame ---------------------------------------
        props.push({ group: "frame", name: "type" });
        props.push({ group: "frame", name: "width" });
        props.push({ group: "frame", name: "color" });
        props.push({ group: "frame", name: "fillColor" });
        props.push({ group: "frame", name: "radius" });

        // -- font ---------------------------------------
        props.push({ group: "font", name: "name" });
        props.push({ group: "font", name: "size" });
        props.push({ group: "font", name: "color" });
        props.push({ group: "font", name: "bold" });
        props.push({ group: "font", name: "italic" });
        props.push({ group: "font", name: "wordWrap" });
        props.push({ group: "font", name: "lineHeight" });

        // -- image ---------------------------------------
        props.push({ group: "image", name: "value" });
        props.push({ group: "image", name: "url" });
        props.push({ group: "image", name: "deformation" });

        // -- 循环获取属性值 ---------------------------------
        for (let i = 0; i < props.length; i++) {
            group = props[i].group;
            name = props[i].name;
            value = getPropValue(group, name);
            if (typeof (vmProp[group][name]) == "boolean") {
                if (typeof (value) == "string") {
                    value = value.equals("true");
                }
            }
            vmProp[group][name] = value;
        }
    }

    function getPropValue(propGroupName, propName) {
        let propValue, propGroup;
        let element;

        // -- 1. 获取首个元素(多个选中元素的第一个，或者当前ActivatedElement) --
        if (lbl.selectedCount > 1) {
            for (let i = 0; i < lbl.elements.length; i++) {
                if (lbl.elements[i].head._selected) {
                    element = lbl.elements[i];
                    break;
                }
            }
        }
        else {
            element = lbl.activatedElement;
        }
        if (!element) return "";

        // -- 2. 取首个元素属性值 ----------------------------
        if (!element[propGroupName]) return "";
        propValue = element[propGroupName][propName];
        if (!propValue) return "";

        // -- 3. 判断属性值在选中的多个元素中是否完全相同 ---------
        if (lbl.selectedCount > 1) {
            propValue = propValue.toString();
            for (let i = 1; i < lbl.elements.length; i++) {
                if (!lbl.elements[i].head._selected) continue;
                propGroup = lbl.elements[i][propGroupName];
                if (!propGroup) return "";

                if (propGroup[propName] == undefined) {
                    propGroup[propName] = "";
                }
                if (!propValue.equals(propGroup[propName].toString())) return "";
            }
        }
        return propValue;
    }
</script>
<!-- 事件 -->
<script>
    function afterLabelLoad(jsp = {}) {
        for (let key in vmProp.labelHead) {
            vmProp.labelHead[key] = lbl.head[key];
        }

        let k, v, url, images = [];
        for (k in lbl.fields) {
            v = lbl.fields[k];
            if (g.x.isImageUrl(v)) {
                url = v;
                if (!url.startsWith("http")) {
                    url = lbl.head.imageBaseUrl + v;
                }
                images.push({ k: k, v: v, url: url });
            }
        }
        vmProp.images = images;
    }
    function onSelect(jsp = {}) {
        let selectedCount = lbl.selectedCount;
        if (selectedCount == 0) {
            if (lbl.activatedElement) {
                selectedCount = 1;
            }
        }

        vmProp.selectedCount = selectedCount;
        if (vmProp.selectedCount == 0) {
            vmProp.lastActiveNames = vmProp.activeNames;
            vmProp.activeNames = "labelHead";
        }
        else {
            showElementProp();
            if (vmProp.lastActiveNames.equals("labelHead")) {
                vmProp.activeNames = "head";
            }
            else {
                vmProp.activeNames = vmProp.lastActiveNames;
            }

            if (lbl.activatedElement) {
                if (lbl.activatedElement.head.elementType.equals("image")) {
                    if (vmProp.activeNames.equals("font")) {
                        vmProp.activeNames = "image";
                    }
                }
                else {
                    if (vmProp.activeNames.equals("image")) {
                        vmProp.activeNames = "head";
                    }
                }
            }
        }
    }
</script>

<!-- debug and test -->
<script>
    // -- 加载样例标签 --
    function btnDemoLabel_click() {
        let labelKey = "demo1";
        let labelContent = DLbelExample.getExample(labelKey);

        lbl.loadLabel(labelContent, { designMode: true });
        if (labelKey.equals("demo1")) {
            lbl.setValue("price", "$1234.88");
        }
        else {

        }
        lbl.compute(true);
    }
    function btnDebugLabel_click() {
        let labelKey = "debug1";
        let labelContent = DLbelExample.getExample(labelKey);

        lbl.loadLabel(labelContent, { designMode: true });
        lbl.compute(true);
    }

    // -- 跨域测试 --
    async function testCross1() {
        let url = "http://124.71.181.137:5555/DoYsSV/test/AjaxCross/test1";
        let dataPost = {
            p1: "跨域请求外网地址 124.71.181.137:5555"
        };

        ajax.send(url, dataPost).then((res) => {
            if (res.ok) {
                topWin.message("当前操作成功，收到后台返回数据 result = " + res.result, "success");
            }
            else {
                topWin.alert("系统信息 ...", "error");
            }
        })
    }
    async function testCross2() {

        let url = "http://192.168.169.1:82/local";
        let dataPost = {
            protocol: "3.0"
        }

        axios({
            method: 'post',
            url: url,
            data: dataPost
        }).then((res) => {
            let printers = res.data.data.printers;

            alert(url + "<br /><br />" + printers.join("<br /><br />"));
        });
    }

    function webPrintSample() {
        let datas = [];
        datas.push(lbl.getData());

        let labelString = lbl.toJson();
        let dataString = JSON.stringify(datas, null, " ");
        let para = {
            labelString: labelString,
            dataString: dataString,
            printerName: "",
            copies: 1
        }
        crossLocal.printLabel(para);
    }
</script>