<!DOCTYPE html>
<html>
<head>
    <title>标签设计页面</title>
    <script src="../js/boot.js"></script>
</head>
<body>
    <div id="vmToolbar">
        <el-row class="row-toolbar">
            <el-button-group>
                <el-button type="info" onclick="btnBlankLabel_click();" icon="alifont ali-icon-new" title="新建空白标签"></el-button>
                <el-button type="info" icon="alifont ali-icon-blank" title="打开标签"></el-button>
                <el-button type="success" onclick="btnSaveLabel_click();" icon="alifont ali-icon-save" title="保存标签"></el-button>
                <el-button type="info" icon="alifont ali-icon-saveas" title="另存为"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" icon="alifont ali-icon-grid" title="页面设置"></el-button>
                <el-button type="info" onclick="btnPrint_click();" icon="alifont ali-icon-print" title="打印样张"></el-button>
                <el-button type="info" icon="alifont ali-icon-preview" title="预览"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" icon="alifont ali-icon-copy" title="复制元素"></el-button>
                <el-button type="info" icon="alifont ali-icon-paste" title="粘贴元素"></el-button>
                <el-button type="success" icon="alifont ali-icon-back" title="撤销"></el-button>
                <el-button type="info" icon="alifont ali-icon-redo" title="重做"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="primary" onclick="btnAddElement_click('text');" icon="alifont ali-icon-a" title="文本"></el-button>
                <el-button type="primary" icon="alifont ali-icon-barcode" title="一维码"></el-button>
                <el-button type="primary" icon="alifont ali-icon-qrcode" title="二维码"></el-button>
                <el-button type="primary" icon="alifont ali-icon-image" title="图片"></el-button>
                <el-button type="primary" icon="alifont ali-icon-rectangle" title="矩形"></el-button>
                <el-button type="primary" icon="alifont ali-icon-ellipse" title="椭圆"></el-button>
                <el-button type="primary" icon="alifont ali-icon-line" title="直线"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" icon="alifont ali-icon-zoomin" title="放大"></el-button>
                <el-button type="info" icon="alifont ali-icon-zoomout" title="缩小"></el-button>
                <el-button type="info" icon="alifont ali-icon-zoom" title="适应窗口大小"></el-button>
            </el-button-group>
            <el-button-group>
                <el-button type="info" onclick="btnExampleLabel_click();" icon="alifont ali-icon-label" title="样例标签"></el-button>
                <el-button type="success" icon="alifont ali-icon-help" title="帮助"></el-button>
            </el-button-group>
        </el-row>
        <div style="height:5px;"></div>
    </div>
    <table id="tbMain" class="tbMain">
        <tr>
            <td id="tdMainLeft" class="tdMain" style="padding-top:15px;padding-left:10px;">
                <div id="vmProp">
                    <el-collapse accordion>
                        <!-- head -->>
                        <el-collapse-item>
                            <template slot="title">
                                <div class="divPropGrouName">元素</div>
                                <i class="el-icon-news"></i>
                            </template>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">名称</div></el-col>
                                <el-col :span="span[2]">
                                    <el-input v-model="head.name" @change="propChangeHead('name')"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]"><div class="divPropName">类型</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="head.elementType" @change="propChangeHead('elementType')">
                                        <el-option value="barcode" label="条形码"></el-option>
                                        <el-option value="text" label="文本"></el-option>
                                        <el-option value="image" label="图片"></el-option>
                                        <el-option value="shape" label="形状"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]"><div class="divPropName">符号体系</div></el-col>
                                <el-col :span="span[2]">
                                    <el-select v-model="head.barcodeType" filterable>
                                        <el-option-group label="一维码">
                                            <el-option value="CODE_128" key="CODE_128" label="Code 128"></el-option>
                                            <el-option value="CODE_39" key="CODE_39" label="Code 39"></el-option>
                                        </el-option-group>
                                        <el-option-group label="二维码">
                                            <el-option value="QR_CODE" key="QR_CODE" label="QR Code"></el-option>
                                            <el-option value="DATA_MATRIX" key="DATA_MATRIX" label="DataMatrix"></el-option>
                                            <el-option value="PDF_417" key="PDF_417" label="PDF_417" :disabled="true"></el-option>
                                        </el-option-group>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.pureBarcode">隐藏条码文本</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row v-show="head.elementType=='barcode'">
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.gs1">GS1条码</el-checkbox>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="span[1]">&nbsp;</el-col>
                                <el-col :span="span[2]">
                                    <el-checkbox v-model="head.locked">锁定</el-checkbox>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                        <el-collapse-item title="字体 Font">
                            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                        </el-collapse-item>
                        <el-collapse-item title="边框 Frame">
                            <div>简化流程：设计简洁直观的操作流程；</div>
                            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                        </el-collapse-item>
                        <el-collapse-item title="位置 Position">
                            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </td>
            <td id="tdCanvas" class="tdMain" style="padding:15px;">
                <div id="divCanvas" class="doys_label_continer"></div>
            </td>
        </tr>
    </table>
</body>
</html>

<!-- appInit -->
<script>
    var vmTollbar = new Vue({
        el: '#vmToolbar',
        data: {},
        methods: {
            method1() {
                ajax.send("/", {}).then((res) => {
                    if (res.ok) {
                        topWin.message("当前操作成功");
                    }
                    else {
                        topWin.alert("系统信息 ...", "error");
                    }
                })
            }
        }
    });
    var vmProp = new Vue({
        el: '#vmProp',
        data: {
            span: [24, 7, 17],
            head: {

            }
        },
        methods: {
            propChangeHead(propName) {
                debugger;
                if (propName.equals("elementType")) {
                    debugger
                }                
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    let tbMain = gId("tbMain");
    let tdMainLeft = gId("tdMainLeft");
    let tdCanvas = gId("tdCanvas");

    let divCanvas = gId("divCanvas");

    let labelId = 0, labelContent = "";
    let lbl;

    window.addEventListener("load", init, false);
    // ------------------------------------------------------------------------
    function winLoad() {
        gId("btnClose").style.display = "";

        if (win.para.menuPk && win.para.menuPk.equals("001094")) {
            gId("btnExampleLabel").style.display = "";
        }
    }

    function init() {
        winResize();

        lbl = getLabel();
    }
    function winResize() {
        let width = document.documentElement.clientWidth;
        let heigth = document.documentElement.clientHeight;

        tdCanvas.style.width = (width - 350) + "px";
        tdCanvas.style.height = (heigth - tbMain.offsetTop - 40) + "px";
    }

    function getLabel() {
        if (lbl == null) {
            lbl = new Label({ container: divCanvas, env: "design" });
            lbl.loadLabel("", {
                labelId: 0,
                fields: {},
                width: 80,
                height: 60,
                point: 600
            });
            lbl.compute(true);
        }
        return lbl;
    }
</script>
<!-- toolbar -->
<script>
    function btnBlankLabel_click() {
        if (lbl.elements.length > 0) {
            if (!confirm("当前标签已存在内容，确定要清空为空白标签吗？")) {
                return;
            }
        }

        lbl.loadLabel("", { width: 80, height: 60 });
    }
    function btnAddElement_click() {
        lbl.addBlankTextElement();
    }
    function btnDelElement_click() {
        lbl.delElement();
    }
    function btnSaveLabel_click() {
        lbl.save();
    }

    function btnPrint_click() {
        let page = 0, pages = 2;
        let datas = [], dataString;
        // ------------------------------------------------
        try {
            if (labelId) {
                datas.push(lbl.getData());
            }
            else {
                // -- 模拟数据 --
                if (false) {
                    if (page++ < pages) {
                        lbl.setValue("零售价", "$138.00");
                        lbl.setValue("会员价", "$110.40");
                        lbl.setValue("图片01", "https://cn.vuejs.org/images/imooc-sponsor2.png");
                        lbl.setValue("条码", "888-" + page);

                        lbl.computeElements();
                        datas.push(lbl.getData());
                    }
                    if (page++ < pages) {
                        lbl.setValue("零售价", "$138.00");
                        lbl.setValue("会员价", "$110.40");
                        lbl.setValue("图片01", "http://www.masocloud.com/DoYsUI/project/aprint/image/main/doys.png");
                        lbl.setValue("条码", "888-" + page);

                        lbl.computeElements();
                        datas.push(lbl.getData());
                    }
                    lbl.computeElements(true);
                }
                else {
                    datas.push(lbl.getData());
                }
            }
            dataString = JSON.stringify(datas, null, " ");

            // --------------------------------------------
            let para = {
                protocol: "2.0",
                action: "printDLabel",
                labelString: lbl.toJson(),
                dataString: dataString,
                copies: 1
            }

            top.invokeEdge(para);
        }
        catch (e) {
            topWin.alert(e, "error");
        }
    }
</script>

<!-- 属性区 -->
<script>
    function onAngleKeydown(evt) {
        if (evt.key.equals("Enter")) {
            onAngleBlur();
        }
    }
    function onAngleBlur() {
        let txt = gId("txtPropAngle");
        let angle = txt.value.toInt();

        txt.value = lbl.setAngle(angle);
    }
</script>

<!-- debug and test -->
<script>
    let spanMessage = gId("spanMessage");

    function showInfo(message) {
        spanMessage.innerHTML = (new Date()).toTimeString("ss:ms") + "  " + message;
    }

    // -- 样例标签 --
    function btnExampleLabel_click() {
        let labelContent = getExampleLabelContent();

        lbl.loadLabel(labelContent);
        lbl.setValue("name", "一次性使用血浆胆红素吸附器");
        lbl.setValue("price", "$1234.56");
        lbl.compute(true);
    }
    function getExampleLabelContent() {
        return `
{
  "head": {
    "width": 80,
    "height": 60,
    "point": 600,
    "imageBaseUrl": "http://127.0.0.1/DoYsUI/framework/control/DLabel/image/"
  },
  "fields": {
    "gtin": "06938450873308",
    "mfg_date": "201016",
    "exp_date": "231015",
    "lot": "231015",
    "name": "一次性使用血浆胆红素吸附器",
    "price": "$5,678",
    "img01": "http://biosunmed.com/upload/2020/7/61552460.jpg",
    "img02": "02.png",
    "sn": "12340005"
  },
  "elements": [
    {
      "head": {
        "name": "doys_label_element_1",
        "elementType": "barcode",
        "barcodeType": "CODE_128",
        "gs1": true
      },
      "font": {
        "lineHeight": 0,
        "size": "8",
        "name": "宋体",
        "color": "#3300FF"
      },
      "frame": {
        "type": "",
        "width": 0,
        "color": "#04FF00"
      },
      "position": {
        "layer": 1,
        "top": 44.95934959349595,
        "left": "3.90",
        "width": "73.74",
        "height": "12.66",
        "angle": 0,
        "angleR": 0,
        "textAlign": "center",
        "verticalAlign": "bottom",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 73.74,
        "hC": 12.66,
        "P1": {
          "x": 0,
          "y": 0
        },
        "P2": {
          "x": 73.74,
          "y": 0
        },
        "P3": {
          "x": 73.74,
          "y": 12.66
        },
        "P4": {
          "x": 0,
          "y": 12.66
        },
        "P15": {
          "x": 36.87,
          "y": 0
        },
        "P25": {
          "x": 73.74,
          "y": 6.33
        },
        "P35": {
          "x": 36.87,
          "y": 12.66
        },
        "P45": {
          "x": 0,
          "y": 6.33
        },
        "offsetX": 0,
        "offsetY": 0,
        "leftText": 36.87,
        "topText": 12.66,
        "heightBarcode": 9.837777777777777,
        "widthBarcode": 73.74,
        "leftBarcode": 0,
        "topBarcode": 0
      },
      "env": "design",
      "point": 600,
      "segments": [
        {
          "pos": 0,
          "type": "fixed",
          "value": "01",
          "format": ""
        },
        {
          "pos": 1,
          "type": "field",
          "value": "gtin",
          "format": ""
        },
        {
          "pos": 2,
          "type": "fixed",
          "value": "11",
          "format": ""
        },
        {
          "pos": 3,
          "type": "field",
          "value": "mfg_date",
          "format": ""
        },
        {
          "pos": 4,
          "type": "fixed",
          "value": "17",
          "format": ""
        },
        {
          "pos": 5,
          "type": "field",
          "value": "exp_date",
          "format": ""
        },
        {
          "pos": 6,
          "type": "fixed",
          "value": "10",
          "format": ""
        },
        {
          "pos": 7,
          "type": "field",
          "value": "lot",
          "format": ""
        },
        {
          "pos": 8,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "sections": [
        {
          "pos": 0,
          "type": "fixed",
          "value": "(01)",
          "format": ""
        },
        {
          "pos": 1,
          "type": "field",
          "value": "gtin",
          "format": ""
        },
        {
          "pos": 2,
          "type": "fixed",
          "value": "(11)",
          "format": ""
        },
        {
          "pos": 3,
          "type": "field",
          "value": "mfg_date",
          "format": ""
        },
        {
          "pos": 4,
          "type": "fixed",
          "value": "(17)",
          "format": ""
        },
        {
          "pos": 5,
          "type": "field",
          "value": "exp_date",
          "format": ""
        },
        {
          "pos": 6,
          "type": "fixed",
          "value": "(10)",
          "format": ""
        },
        {
          "pos": 7,
          "type": "field",
          "value": "lot",
          "format": ""
        },
        {
          "pos": 8,
          "type": "",
          "value": "",
          "format": ""
        }
      ]
    },
    {
      "head": {
        "name": "doys_label_element_2",
        "elementType": "barcode",
        "barcodeType": "QR_CODE"
      },
      "sections": [
        {
          "pos": 0,
          "type": "field",
          "value": "sn",
          "format": ""
        },
        {
          "pos": 1,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "font": {
        "lineHeight": 0,
        "size": "8",
        "name": "微软雅黑",
        "color": "#ED1414"
      },
      "frame": {
        "type": "",
        "width": 0
      },
      "position": {
        "layer": 1,
        "top": "3.41",
        "left": "52.76",
        "width": 20,
        "height": "22.20",
        "angle": 270,
        "angleR": 4.71238898038469,
        "textAlign": "center",
        "verticalAlign": "bottom",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 22.200000000000003,
        "hC": 20.000000000000004,
        "P1": {
          "x": 3.673940397442059e-15,
          "y": 20.000000000000004
        },
        "P2": {
          "x": 0,
          "y": 4.0780738411606855e-15
        },
        "P3": {
          "x": 22.2,
          "y": 0
        },
        "P4": {
          "x": 22.200000000000003,
          "y": 20
        },
        "P15": {
          "x": 1.8369701987210296e-15,
          "y": 10.000000000000004
        },
        "P25": {
          "x": 11.1,
          "y": 2.0390369205803427e-15
        },
        "P35": {
          "x": 22.200000000000003,
          "y": 10
        },
        "P45": {
          "x": 11.100000000000003,
          "y": 20
        },
        "offsetX": 3.673940397442059e-15,
        "offsetY": 20.000000000000004,
        "leftText": 10,
        "topText": 22.2,
        "heightBarcode": 19.377777777777776,
        "widthBarcode": 19.377777777777776,
        "leftBarcode": 0.3111111111111118,
        "topBarcode": 0
      },
      "segments": [
        {
          "pos": 0,
          "type": "fixed",
          "value": "http://www.abc.com/?sn=",
          "format": ""
        },
        {
          "pos": 1,
          "type": "field",
          "value": "sn",
          "format": ""
        },
        {
          "pos": 2,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "env": "design",
      "point": 600
    },
    {
      "head": {
        "name": "doys_label_element_3",
        "elementType": "text"
      },
      "sections": [
        {
          "pos": 0,
          "type": "fixed",
          "value": "样张水印",
          "format": ""
        },
        {
          "pos": 1,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "font": {
        "lineHeight": 0,
        "size": 12,
        "name": "楷体",
        "color": "#00FF48"
      },
      "frame": {
        "type": "rectangle",
        "width": 0.3,
        "color": "#FFD000"
      },
      "position": {
        "layer": 1,
        "top": "23.82",
        "left": "31.71",
        "width": 20,
        "height": 8,
        "angle": 330,
        "angleR": 0,
        "textAlign": "center",
        "verticalAlign": "middle",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 20,
        "hC": 8,
        "P1": {
          "x": 0,
          "y": 0
        },
        "P2": {
          "x": 20,
          "y": 0
        },
        "P3": {
          "x": 20,
          "y": 8
        },
        "P4": {
          "x": 0,
          "y": 8
        },
        "P15": {
          "x": 10,
          "y": 0
        },
        "P25": {
          "x": 20,
          "y": 4
        },
        "P35": {
          "x": 10,
          "y": 8
        },
        "P45": {
          "x": 0,
          "y": 4
        },
        "offsetX": 0,
        "offsetY": 0,
        "leftText": 10,
        "topText": 4
      },
      "env": "design",
      "point": 600
    },
    {
      "head": {
        "name": "doys_label_element_4",
        "elementType": "text"
      },
      "sections": [
        {
          "pos": 0,
          "type": "field",
          "value": "name",
          "format": ""
        },
        {
          "pos": 1,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "font": {
        "lineHeight": 0,
        "size": "10"
      },
      "frame": {
        "type": "",
        "width": 0
      },
      "position": {
        "layer": 1,
        "top": "3.90",
        "left": "3",
        "width": "47.57",
        "height": 8,
        "angle": 0,
        "angleR": 0,
        "textAlign": "left",
        "verticalAlign": "top",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 47.57,
        "hC": 8,
        "P1": {
          "x": 0,
          "y": 0
        },
        "P2": {
          "x": 47.57,
          "y": 0
        },
        "P3": {
          "x": 47.57,
          "y": 8
        },
        "P4": {
          "x": 0,
          "y": 8
        },
        "P15": {
          "x": 23.785,
          "y": 0
        },
        "P25": {
          "x": 47.57,
          "y": 4
        },
        "P35": {
          "x": 23.785,
          "y": 8
        },
        "P45": {
          "x": 0,
          "y": 4
        },
        "offsetX": 0,
        "offsetY": 0,
        "leftText": 0,
        "topText": 0
      },
      "env": "design",
      "point": 600
    },
    {
      "head": {
        "name": "doys_label_element_5",
        "elementType": "text"
      },
      "sections": [
        {
          "pos": 0,
          "type": "fixed",
          "value": "单价：",
          "format": ""
        },
        {
          "pos": 1,
          "type": "field",
          "value": "price",
          "format": ""
        },
        {
          "pos": 2,
          "type": "",
          "value": "",
          "format": ""
        }
      ],
      "font": {
        "lineHeight": 0,
        "size": "9",
        "name": "微软雅黑",
        "italic": true
      },
      "frame": {
        "type": "rectangle",
        "width": 0,
        "fillColor": "#E7E580"
      },
      "position": {
        "layer": 1,
        "top": "12",
        "left": "3",
        "width": "37.31",
        "height": "7.87",
        "angle": 0,
        "angleR": 0,
        "textAlign": "left",
        "verticalAlign": "middle",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 37.31,
        "hC": 7.87,
        "P1": {
          "x": 0,
          "y": 0
        },
        "P2": {
          "x": 37.31,
          "y": 0
        },
        "P3": {
          "x": 37.31,
          "y": 7.87
        },
        "P4": {
          "x": 0,
          "y": 7.87
        },
        "P15": {
          "x": 18.655,
          "y": 0
        },
        "P25": {
          "x": 37.31,
          "y": 3.935
        },
        "P35": {
          "x": 18.655,
          "y": 7.87
        },
        "P45": {
          "x": 0,
          "y": 3.935
        },
        "offsetX": 0,
        "offsetY": 0,
        "leftText": 0,
        "topText": 3.935
      },
      "env": "design",
      "point": 600
    },
    {
      "head": {
        "name": "doys_label_element_6",
        "elementType": "image"
      },
      "font": {
        "lineHeight": 0,
        "size": 12
      },
      "frame": {
        "type": "",
        "width": 0,
        "color": "#B30A0A",
        "fillColor": "#00F7FF"
      },
      "position": {
        "layer": 1,
        "top": 21.05691056910569,
        "left": 2.93,
        "width": "24.79",
        "height": "22.52",
        "angle": 0,
        "angleR": 0,
        "textAlign": "left",
        "verticalAlign": "top",
        "marginLeft": 0,
        "marginRight": 0,
        "marginTop": 0,
        "marginBottom": 0,
        "wC": 24.79,
        "hC": 22.52,
        "P1": {
          "x": 0,
          "y": 0
        },
        "P2": {
          "x": 24.79,
          "y": 0
        },
        "P3": {
          "x": 24.79,
          "y": 22.52
        },
        "P4": {
          "x": 0,
          "y": 22.52
        },
        "P15": {
          "x": 12.395,
          "y": 0
        },
        "P25": {
          "x": 24.79,
          "y": 11.26
        },
        "P35": {
          "x": 12.395,
          "y": 22.52
        },
        "P45": {
          "x": 0,
          "y": 11.26
        },
        "offsetX": 0,
        "offsetY": 0,
        "leftText": 2,
        "topText": 2,
        "imgWidth": 20.79,
        "imgHeight": 20.79
      },
      "image": {
        "value": "img01",
        "deformation": "zoom",
        "url": "http://biosunmed.com/upload/2020/7/61552460.jpg"
      },
      "env": "design",
      "point": 600
    }
  ]
}
        `;
    }
</script>