<!DOCTYPE html>
<html>
<head>
    <title>元素数据定义</title>
    <script src="../js/boot.js"></script>
    <style type="text/css">
        body {
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px;height:500px;">
        <el-tabs v-model="activeTabName" type="card">
            <!-- 条码、文本 -->
            <el-tab-pane label="条码内容(机器识读)" name="segments" v-if="head.elementType=='barcode'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{head._segmentsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="segment in segments" :key="segment.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="segment.type" @change="segmentTypeChange(segment.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="segment.value" v-if="segment.type=='fixed'" type="textarea" @change="segmentValueChange(segment.pos)" autosize></el-input>
                        <el-select v-model="segment.value" v-if="segment.type=='field'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :segment="segment"></el-option>
                        </el-select>
                        <el-select v-model="segment.value" v-if="segment.type=='symbol'" @change="segmentValueChange(segment.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :segment="segment"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="segment.format" @change="segmentValueChange(segment.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="segment.type!=''" @click="segmentDelete(segment.pos)" :segment="segment" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="segment.pos<segments.length-1 && segment.pos>0" @click="segmentMoveUp(segment.pos)" :segment="segment" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="segment.pos<segments.length-2" @click="segmentMoveUp(segment.pos+1)" :segment="segment" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="文本内容" name="sections" v-if="head.elementType=='barcode' || head.elementType=='text'">
                <el-row :gutter="8" style="margin-bottom:12px;">
                    <el-col :span="19">
                        <el-tag>{{head._sectionsText}}</el-tag>
                    </el-col>
                </el-row>
                <el-row v-for="section in sections" :key="section.pos" :gutter="8" style="margin-bottom:5px;">
                    <el-col :span="5">
                        <el-select v-model="section.type" @change="sectionTypeChange(section.pos)">
                            <el-option v-for="st in sectionTypes" :value="st.k" :label="st.v" :key="st.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="9">
                        <el-input v-model="section.value" v-if="section.type=='fixed'" type="textarea" @change="sectionValueChange(section.pos)" autosize></el-input>
                        <el-select v-model="section.value" v-if="section.type=='field'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="f in fields" :value="f.k" :label="f.k" :key="f.k" :section="section"></el-option>
                        </el-select>
                        <el-select v-model="section.value" v-if="section.type=='symbol'" @change="sectionValueChange(section.pos)" style="width:100%">
                            <el-option v-for="s in symbols" :value="s.k" :label="s.v" :key="s.k" :section="section"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="section.format" @change="sectionValueChange(section.pos)"></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-button-group>
                            <el-button type="danger" v-if="section.type!=''" @click="sectionDelete(section.pos)" :section="section" title="删除" icon="el-icon-delete"></el-button>
                            <el-button type="primary" v-if="section.pos<sections.length-1 && section.pos>0" @click="sectionMoveUp(section.pos)" :section="section" title="上移" icon="el-icon-arrow-up"></el-button>
                            <el-button type="primary" v-if="section.pos<sections.length-2" @click="sectionMoveUp(section.pos+1)" :section="section" title="下移" icon="el-icon-arrow-down"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
            </el-tab-pane>
        </el-tabs>
        <hr />
        <el-button @click="reComputer();">preview</el-button>
        <el-button @click="test1();">测试一</el-button>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            activeTabName: "sections",

            fields: [],

            head: {},
            segments: [],
            sections: [],

            symbols: UtilElement.getAI(),
            sectionTypes: UtilElement.getSectionTypes(),

            remark: ""
        },
        methods: {
            sectionTypeChange(pos) {
                let section = this.sections[pos];
                if (section.type != "" && pos == this.sections.length - 1) {
                    let sectionBlank = UtilElement.getBlankSection({ pos: pos + 1 });
                    this.sections.push(sectionBlank);
                }

                this.reComputer();
            },
            sectionValueChange(pos) {
                this.reComputer();
            },
            sectionDelete(pos) {
                this.sections.splice(pos, 1);
                for (let i = 0; i < this.sections.length; i++) {
                    this.sections[i].pos = i;
                }

                this.reComputer();
            },
            sectionMoveUp(pos) {
                let section0 = this.sections.slice(pos - 1, pos)[0];
                let section1 = this.sections.slice(pos, pos + 1)[0];

                section0.pos = pos;
                section1.pos = pos - 1;

                this.sections.splice(pos - 1, 2, section1, section0);

                this.reComputer();
            },

            segmentTypeChange(pos) {
                let segment = this.segments[pos];
                if (segment.type != "" && pos == this.segments.length - 1) {
                    let segmentBlank = UtilElement.getBlankSegment({ pos: pos + 1 });
                    this.segments.push(segmentBlank);
                }

                this.reComputer();
            },
            segmentValueChange(pos) {
                this.reComputer();
            },
            segmentDelete(pos) {
                this.segments.splice(pos, 1);
                for (let i = 0; i < this.segments.length; i++) {
                    this.segments[i].pos = i;
                }

                this.reComputer();
            },
            segmentMoveUp(pos) {
                let segment0 = this.segments.slice(pos - 1, pos)[0];
                let segment1 = this.segments.slice(pos, pos + 1)[0];

                segment0.pos = pos;
                segment1.pos = pos - 1;

                this.segments.splice(pos - 1, 2, segment1, segment0);

                this.reComputer();
            },

            reComputer() {
                win.para.callback({
                    canvasId: win.para.canvasId,
                    head: app.head,
                    segments: app.segments,
                    sections: app.sections
                });
            },

            test1() {
                this.reComputer();
                topWin.message("test1 执行完毕");
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        let fields = [], k, v;
        for (k in win.para.fields) {
            v = win.para.fields[k];
            fields.push({ k: k, v: v });
        }
        app.fields = fields;

        app.head = win.para.head;
        app.segments = win.para.segments;
        app.sections = win.para.sections;

        if (app.head.elementType.equals("barcode")) {
            app.activeTabName = "segments";
        }
        else if (app.head.elementType.equals("text")) {
            app.activeTabName = "sections";
        }

        // ------------------------------------------------
        win.addEventListener("afterClose", () => {
            app.reComputer();
            app.$destroy();
        });
    }
</script>