<!DOCTYPE html>
<html>
<head>
    <title>接口换标打印</title>
    <script src="../../../../framework/core/boot.js"></script>

    <style type="text/css">
        body {
            overflow-y: scroll;
        }

        .divTitle {
            font-size: large;
            font-weight: bold;
        }
    </style>
    <!-- 标签预览区样式 -->
    <style type="text/css">
        #divPreview {
            background-color: #d0d0d0;
            vertical-align: top;
        }

        .tbIframe {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .tdIframe {
            border: solid 0px red;
            padding: 15px;
            overflow: hidden;
            vertical-align: top;
        }

        .ifrLabel {
            border: solid 0px blue;
            background-color: #c0c0c0;
            box-shadow: 2px 2px 15px gray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="span[1]">
                <el-form label-width="160px" label-position="left">
                    <el-form-item label="业务单据接口">
                        <el-select v-model="interfaceId" @change="interfaceChange" clearable default-first-option filterable style="width:100%;">
                            <el-option v-for="item in interfaces" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                <span>{{ item.code }}</span>
                                <span style="float:right;">{{ item.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="单据接口单号">
                        <el-input v-model="paraValue" ref="paraValue" @keyup.enter.native="onParaValueEnter" :disabled="!interfaceId" placeholder="请输入单据接口查询单号...">
                            <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
                        </el-input>
                    </el-form-item>

                    <hr />
                    <el-form-item v-for="item in scanCodes" :label="item.text">
                        <el-input v-model="item.value" :ref="'_sc_' + item.name"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="span[2]" style="padding-left:30px;padding-right:30px;border:solid 0px red;">
                <el-form label-width="210px" label-position="left">
                    <el-form-item label="套标标签模板组">
                        <el-select v-model="labelSetId" @change="labelSetChange" clearable default-first-option filterable style="width:100%;">
                            <el-option v-for="item in labelSets" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                <span style="float: left">{{ item.code }}</span>
                                <span style="float: right;">{{ item.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <hr />
                    <el-form-item v-for="label in labels" :label="label.name">
                        <el-select v-model="label.printer_name" default-first-option filterable :style="stylePrinter">
                            <el-option v-for="printerName in printers" :key="printerName" :value="printerName" :label="printerName"></el-option>
                        </el-select>
                        <el-input v-model="label.copies" :style="styleCopies" :disabled="true" title="打印份数"></el-input>
                        <el-button @click="manualPrint(label.id)" icon="el-icon-printer" style="float:right"></el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="span[3]">
                <el-form label-width="5px" label-position="left">
                    <el-form-item label="">
                        <el-button @click="manualPrint(0)" type="primary" plain>打 印</el-button>
                    </el-form-item>
                    <el-form-item label="">
                        <el-checkbox v-model="autoPrint">自动打印</el-checkbox>
                    </el-form-item>
                    <el-form-item label="">
                        <el-checkbox v-model="autoCalc">自动计算尾箱</el-checkbox>
                    </el-form-item>
                    <el-form-item label="">
                        总件数：{{itemCount}}，箱号：{{boxNo}} / {{boxCount}}
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>

        <el-collapse v-model="activeNames">
            <!-- 标签预览区 -->
            <el-collapse-item name="preview">
                <template slot="title">
                    <div class="divTitle">标签预览 <i class="el-icon-picture"></i></div>
                </template>
                <div id="divPreview" :style="styleDivPreview">
                    套标标签预览区...
                </div>
            </el-collapse-item>
            <!-- 标签数据区 -->
            <el-collapse-item name="grid">
                <template slot="title">
                    <div class="divTitle">标签数据 <i class="el-icon-s-data"></i></div>
                </template>
                <el-row>
                    <el-col :span="12">
                        <sub-view id="gridPack" ref="gridPack" style="height:350px;"></sub-view>
                    </el-col>
                    <el-col :span="12">
                        <sub-view id="gridProduct" ref="gridProduct" style="height:350px;"></sub-view>
                    </el-col>
                </el-row>
            </el-collapse-item>
        </el-collapse>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 9, 9, 6],
            activeNames: ["preview", "grid"],
            stylePrinter: "width:200px",
            styleCopies: "width:100px",


            interfaces: [],                     // -- 接口列表 --
            interfaceId: null,                  // -- 接口ID --
            interface: null,                    // -- 当前接口对象 --
            paraCode: "",                       // -- 业务接口查询字段 --
            paraValue: "",                      // -- 业务接口查询字段值 --
            labelSetCode: "",                   // -- 套标字段名称 --
            labelSetCodeValue: "",              // -- 套标字段值 --
            scanCodes: [                        // -- 换标扫码字段集合 --

            ],

            labelSets: [],                      // -- 标签模板组集合(id, code, name, qty0, qty1, qty2) --
            labelSetId: null,                   // -- 标签模板组ID --
            labelSet: null,                     // -- 标签模板对象 --
            labels: [],                         // -- 标签模板集合 --

            dtbItem: null,                      // -- 接口数据记录集 --
            itemCount: null,                    // -- 总件数 --
            boxNo: null,                        // -- 第几箱 --
            boxCount: null,                     // -- 总箱数 --

            autoPrint: true,                    // -- 自动打印 --
            autoCalc: true,                     // -- 自动打印尾箱 --

            printers: [],                       // -- 打印机数组 --
            styleDivPreview: "border:solid 0px red;"
        },
        mounted() {
            ajax.send("/aprint/print/quick/getInterfaces", {}).then(res => {
                this.interfaces = res.interfaces;
                if (this.interfaces.length == 1) {
                    this.interfaceId = this.interfaces[0].id;
                    this.interfaceChange();
                }
            });
            ajax.send("/aprint/print/interface_change/getLabelSetList", {}).then((res) => {
                this.labelSets = res.labelSets;
            })
        },
        methods: {
            manualPrint(labelId) {
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    if (labelId && labelId != label.id) {
                        continue;
                    }
                    let lbl = label.lbl;
                    lbl.print({
                        data: [lbl.getData()],
                        printerName: label.printer_name,
                        copies: label.copies
                    });
                }
                topWin.message(labelId, "success");
            },

            interfaceChange() {
                ajax.send("/aprint/juchen/getInterfaceById", { interfaceId: this.interfaceId }).then(res => {
                    this.clearLabelSet();

                    this.interface = res.interface;
                    this.paraCode = this.interface.para_code;
                    this.labelSetCode = this.interface.label_set_code;
                    this.labelSetCodeValue = "";
                    this.paraCode = this.interface.para_code;
                    this.paraValue = "MT-2108006";
                    this.$refs.paraValue.focus();                    

                    // ------------------------------------
                    let scanCodes = [];
                    let scanFields = res.scanFields;
                    if (scanFields.length > 0) {
                        for (let i = 0; i < scanFields.length; i++) {
                            scanCodes.push({
                                name: scanFields[i].name,
                                text: scanFields[i].name,
                                value: ""
                            });
                        }
                        this.scanCodes = scanCodes;
                    }
                    else {
                        this.scanCodes = [];
                    }
                });
            },
            async onParaValueEnter() {
                let dataPOST = {
                    interfaceId: this.interfaceId, 
                    paraValue: this.paraValue
                }
                let res = await ajax.send("/aprint/juchen/queryInterfaceData", dataPOST);
                this.dtbItem = res.dtbItem;
                if (this.dtbItem.rowCount == 0) {
                    topWin.message("没有查询到符合条件的接口数据。", "error");
                    return;
                }

                let labelSetId;
                let labelSetCodeValue = this.dtbItem.rows[0][this.labelSetCode].value;
                for (let i = 0; i < this.labelSets.length; i++) {
                    if (this.labelSets[i].code.equals(labelSetCodeValue)) {
                        labelSetId = this.labelSets[i].id;
                        break;
                    }
                }
                if (!labelSetId) return;
                this.labelSetId = labelSetId;
                await this.labelSetChange();

                this.itemCount = this.dtbItem.rowCount;
                this.boxNo = 1;
                this.boxCount = Math.ceil(this.itemCount / this.labelSet.qty0);
            },

            clearLabelSet() {
                this.labelSetId = null;
                this.labelSet = null;
                this.labels = [];
                divPreview.innerHTML = "套标标签预览区...";
            },
            async labelSetChange() {
                if (this.labelSetId) {
                    for (let i = 0; i < this.labelSets.length; i++) {
                        if (this.labelSets[i].id == this.labelSetId) {
                            this.labelSet = this.labelSets[i];
                            break;
                        }
                    }

                    await this.getLabels();
                }
                else {
                    this.clearLabelSet();
                }
            },
            async getLabels() {
                let res = await ajax.send("/aprint/print/interface_change/getLabelList", { labelSetId: this.labelSetId });
                this.labels = res.labels;

                await this.initLabels();

            },
            async initLabels() {
                await this.createIFrames();
                for (let i = 0; i < this.labels.length; i++) {
                    let iframe = this.labels[i].iframe;

                    iframe.src = g.path.framework + "/control/DLabel/form/preview.html?summary=0&v=" + top.jsVer;
                    iframe.addEventListener("load", function (evt) {
                        // -- 获取 Label控件 实例 --
                        let label = app.labels[iframe.labelIndex];
                        let lbl = iframe.contentWindow.getLabel();
                        lbl.loadLabel(label.content, { designMode: false });
                        lbl.compute(true);
                        label.lbl = lbl;
                    }, false);
                }
            },
            async createIFrames() {
                let widthAll = 0;
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];

                    widthAll += label.width;
                }

                let arrHtml = [];
                arrHtml.push("<table class='tbIframe'><tr>")
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];

                    label.widthPercent = 100 * label.width / widthAll;
                    arrHtml.push("<td class='tdIframe' style='width:" + label.widthPercent + "%'>");
                    arrHtml.push("<iframe id='ifr_" + label.id + "' class='ifrLabel'></iframe>")
                    arrHtml.push("</td > ");
                }
                arrHtml.push("</tr></table>")
                divPreview.innerHTML = arrHtml.join("");

                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    let idIfr = "ifr_" + label.id;
                    let ifr = gId(idIfr);


                    ifr.labelIndex = i;
                    ifr.style.width = (ifr.parentElement.clientWidth - 30) + "px";
                    ifr.style.height = ifr.offsetWidth * (label.height / label.width) + "px";

                    label.iframe = ifr;
                }
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    let divPreview = gId("divPreview");
    // ------------------------------------------------------------------------
    function winLoad() {
        top.crossLocal.getPrinterList().then((res) => {
            if (res.ok) {
                app.printers = res.data.printers;
            }
        });

        let spanRight = Math.ceil(24 * (250 / win.p.maxWidth));
        let spanLeft = Math.floor((24 - spanRight) / 2) - 2;
        let spanMiddle = 24 - spanRight - spanLeft;

        app.span[1] = spanLeft;
        app.span[2] = spanMiddle;
        app.span[3] = spanRight;

        let widthMiddle = spanMiddle / 24 * win.p.maxWidth - 210 - 60 - 75;
        let widthCopies = 45;
        let widthPrinter = widthMiddle - widthCopies;

        app.styleCopies = "width:" + widthCopies + "px;";
        app.stylePrinter = "width:" + widthPrinter + "px;";
    }
</script>