<!DOCTYPE html>
<html>
<head>
    <title>接口换标打印</title>
    <script src="../../../../framework/core/boot.js"></script>

    <style type="text/css">
        body {
            overflow-y: scroll;
        }

        .divTitle {
            font-size: large;
            font-weight: bold;
        }
    </style>
    <!-- 标签预览区样式 -->
    <style type="text/css">
        #divPreview {
            background-color: #d0d0d0;
            vertical-align: top;
        }

        .tbIframe {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .tdIframe {
            border: solid 0px red;
            padding: 15px;
            overflow: hidden;
            vertical-align: top;
        }

        .ifrLabel {
            border: solid 0px blue;
            background-color: #c0c0c0;
            box-shadow: 2px 2px 15px gray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="span[1]">
                <el-form label-width="160px" label-position="left">
                    <el-form-item label="业务单据接口">
                        <el-select v-model="interfaceId" @change="interfaceChange" clearable default-first-option filterable style="width:100%;">
                            <el-option v-for="item in interfaces" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                <span>{{ item.code }}</span>
                                <span style="float:right;">{{ item.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="单据接口单号">
                        <el-input v-model="paraValue" ref="paraValue" @keyup.enter.native="onParaValueEnter" :disabled="!interfaceId" placeholder="请输入单据接口查询单号...">
                            <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
                        </el-input>
                    </el-form-item>

                    <hr />
                    <el-form-item v-for="(item,index) in scanCodes" :label="item.text">
                        <el-input v-model="item.value" :ref="'_sc_' + index" @keyup.enter.native="onBarcodeScan(index)"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="span[2]" style="padding-left:30px;padding-right:30px;border:solid 0px red;">
                <el-form label-width="210px" label-position="left">
                    <el-form-item label="套标标签模板组">
                        <el-select v-model="labelSetId" @change="labelSetChange" clearable default-first-option filterable style="width:100%;">
                            <el-option v-for="item in labelSets" :key="item.id" :value="item.id" :label="item.code + '    ' + item.name">
                                <span style="float: left">{{ item.code }}</span>
                                <span style="float: right;">{{ item.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <hr />
                    <el-form-item v-for="label in labels" :label="label.name">
                        <el-select v-model="label.printer_name" default-first-option filterable :style="stylePrinter">
                            <el-option v-for="printerName in printers" :key="printerName" :value="printerName" :label="printerName"></el-option>
                        </el-select>
                        <el-input v-model="label.copies" :style="styleCopies" :disabled="true" title="打印份数"></el-input>
                        <el-button @click="manualPrint(label.id)" icon="el-icon-printer" style="float:right"></el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="span[3]">
                <el-form label-width="5px" label-position="left">
                    <el-form-item label="">
                        <el-button @click="resetPackData" type="warning" plain>重置装箱数据</el-button>
                    </el-form-item>
                    <el-form-item label="">
                        <el-checkbox v-model="flagSimulatePrint" @change="onFlagSimulatePrintChange">模拟打印</el-checkbox>
                    </el-form-item>
                    <el-form-item label="">
                        <el-checkbox v-model="flagAutoPrintOuterLabel" @change="onFlagAutoPrintOuterLabelChange">满箱时自动打印外箱标签</el-checkbox>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>

        <el-collapse v-model="activeNames">
            <!-- 标签数据区 -->
            <el-collapse-item name="gridScan">
                <template slot="title">
                    <div class="divTitle">扫码装箱数据 <i class="el-icon-s-help"></i></div>
                </template>
                <el-row>
                    <el-col :span="12">
                        <el-row style="margin-bottom:10px;">
                            <el-button @click="printItem" type="primary" :disabled="!labelSetId">打印单品标签</el-button>
                        </el-row>
                        <el-table :data="dataForPack" style="width:100%">
                            <el-table-column prop="$row_no" label="行号" width="70"></el-table-column>
                            <el-table-column v-for="item in scanCodes" :prop="item.name" :label="item.text" width="180"></el-table-column>
                        </el-table>
                    </el-col>
                    <el-col :span="12">
                        <el-row style="margin-bottom:10px;">
                            当前箱号：
                            <el-input v-model="packIndex" @change="onPackIndexEnter" @keyup.enter.native="onPackIndexEnter" style="width:55px;"></el-input>
                            /
                            <el-input v-model="packCount" style="width:55px;" :disabled="true"></el-input>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <el-button @click="printPacking" type="success" :disabled="!labelSetId || dataPacking.length==0">打印外箱标签</el-button>
                        </el-row>
                        <el-table :data="dataPacking" @row-click="onRowClick_dataPacking" style="width:100%">
                            <el-table-column prop="$row_no" label="行号" width="70"></el-table-column>
                            <el-table-column v-for="item in scanCodes" :prop="item.name" :label="item.text" width="180"></el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-collapse-item>
            <!-- 标签预览区 -->
            <el-collapse-item name="preview">
                <template slot="title">
                    <div class="divTitle">标签预览 <i class="el-icon-picture"></i></div>
                </template>
                <div id="divPreview" :style="styleDivPreview">
                    套标标签预览区...
                </div>
            </el-collapse-item>
            <!-- 接口单据数据区 -->
            <el-collapse-item name="gridAll">
                <template slot="title">
                    <div class="divTitle">接口单据数据 <i class="el-icon-s-data"></i></div>
                </template>
                <el-row>
                    <sub-view id="gridAll" ref="gridAll" style="height:540px;"></sub-view>
                </el-row>
            </el-collapse-item>
        </el-collapse>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 9, 9, 6],
            //activeNames: ["preview", "gridScan", "gridAll"],
            activeNames: ["gridScan", "preview", "gridAll"],
            stylePrinter: "width:200px",
            styleCopies: "width:100px",

            interfaces: [],                     // -- 接口列表 --
            interfaceId: null,                  // -- 接口ID --
            interface: null,                    // -- 当前接口对象 --
            paraCode: "",                       // -- 业务接口查询字段 --
            paraValue: "",                      // -- 业务接口查询字段值 --
            labelSetCode: "",                   // -- 套标字段名称 --
            labelSetCodeValue: "",              // -- 套标字段值 --
            scanCodes: [                        // -- 换标扫码字段集合 --

            ],
            dataForPack: [],                    // -- 待装箱记录集 --
            dataPacking: [],                    // -- 正在装箱记录集 --
            packIndex: 0,                       // -- 当前箱号 --
            packCount: 0,                       // -- 总箱数 --

            labelSets: [],                      // -- 标签模板组集合(id, code, name, qty0, qty1, qty2) --
            labelSetId: null,                   // -- 标签模板组ID --
            labelSet: null,                     // -- 标签模板对象 --
            labels: [],                         // -- 标签模板集合 --

            dtbItem: null,                      // -- 接口数据记录集 --
            itemCount: null,                    // -- 总件数 --

            flagSimulatePrint: true,            // -- 模拟打印 --
            flagAutoPrintOuterLabel: false,     // -- 满箱时自动打印外箱标签 --

            printers: [],                       // -- 打印机数组 --
            styleDivPreview: "border:solid 0px red;"
        },
        mounted() {
            ajax.send("/aprint/print/quick/getInterfaces", {}).then(res => {
                this.interfaces = res.interfaces;
                if (this.interfaces.length == 1) {
                    this.interfaceId = this.interfaces[0].id;
                    this.interfaceChange();
                }
            });
            ajax.send("/aprint/print/interface_change/getLabelSetList", {}).then((res) => {
                this.labelSets = res.labelSets;
            })
        },
        methods: {
            manualPrint(labelId) {
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    if (labelId && labelId != label.id) {
                        continue;
                    }
                    let lbl = label.lbl;
                    lbl.print({
                        data: [lbl.getData()],
                        printerName: label.printer_name,
                        copies: label.copies
                    });
                }
            },
            resetPackData() {
                topWin.confirm("确定要重置当前装箱记录吗？").then((ok) => {
                    if (!ok) return;

                    let dataPOST = {
                        interfaceId: this.interfaceId,
                        paraCode: this.paraCode,
                        paraValue: this.paraValue
                    };
                    ajax.send("/aprint/juchen/resetPackData", dataPOST).then(res => {
                        this.onParaValueEnter();
                    });
                })
            },

            interfaceChange() {
                ajax.send("/aprint/juchen/getInterfaceById", { interfaceId: this.interfaceId }).then(res => {
                    this.clearLabelSet();

                    this.interface = res.interface;
                    this.paraCode = this.interface.para_code;
                    this.labelSetCode = this.interface.label_set_code;
                    this.labelSetCodeValue = "";
                    this.paraCode = this.interface.para_code;
                    this.paraValue = g.debug ? "MT-2111012" : "";
                    this.$refs.paraValue.focus();

                    // ------------------------------------
                    let scanCodes = [];
                    let scanFields = res.scanFields;
                    if (scanFields.length > 0) {
                        for (let i = 0; i < scanFields.length; i++) {
                            scanCodes.push({
                                name: scanFields[i].name,
                                text: scanFields[i].name,
                                value: ""
                            });
                        }
                        this.scanCodes = scanCodes;
                    }
                    else {
                        this.scanCodes = [];
                    }
                });
            },
            async onParaValueEnter() {
                let dataPOST = {
                    interfaceId: this.interfaceId,
                    paraValue: this.paraValue
                }
                let res = await ajax.send("/aprint/juchen/queryInterfaceData", dataPOST);
                this.dtbItem = res.dtbItem;
                if (this.dtbItem.rowCount == 0) {
                    topWin.alert("没有查询到符合条件的接口数据。", "warning");
                    this.labelSetId = null;
                    return;
                }
                this.dtbItem.sort("$row_no");

                let labelSetId, labelSetIdDefault;
                let labelSetCodeValue = this.dtbItem.rows[0][this.labelSetCode].value;
                for (let i = 0; i < this.labelSets.length; i++) {
                    if (this.labelSets[i].code.equals(labelSetCodeValue)) {
                        labelSetId = this.labelSets[i].id;
                        break;
                    }
                    if (this.labelSets[i].code.equals("default")) {
                        labelSetIdDefault = this.labelSets[i].id;
                    }
                }
                if (!labelSetId) {
                    if (labelSetIdDefault) {
                        labelSetId = labelSetIdDefault;
                    }
                    else {
                        topWin.alert("缺少默认套标。", "error");
                        return;
                    }
                }

                this.labelSetId = labelSetId;
                await this.labelSetChange();

                this.itemCount = this.dtbItem.rowCount;
                this.initGridAll();
                this.$refs["_sc_0"][0].focus();
                this.dataForPack = [];
                this.dataPacking = [];
                this.packIndex = this.getPackIndex() + 1;
                this.packCount = Math.ceil(this.itemCount / this.labelSet.qty0);
            },
            onBarcodeScan(index, a, b) {
                if (index < this.scanCodes.length - 1) {
                    this.$refs["_sc_" + (index + 1)][0].focus();
                }

                let matchCount = 0;
                let dataForPack = [];
                for (let i = 0; i < this.dtbItem.rowCount; i++) {
                    let dataRow = this.dtbItem.rows[i];
                    if (dataRow["$pack_index"].value > 0) continue;

                    let match = true;
                    let data = {
                        $id: dataRow["$id"].value,
                        $row_no: dataRow["$row_no"].value
                    };
                    for (let j = 0; j < this.scanCodes.length; j++) {
                        let scanCode = this.scanCodes[j];
                        scanCode.value = scanCode.value.trim();
                        if (scanCode.value) {
                            let value = dataRow[scanCode.name].value;
                            if (!scanCode.value.equals(value)) {
                                match = false;
                                break;
                            }
                        }
                        data[scanCode.name] = dataRow[scanCode.name].value;
                    }
                    if (match) {
                        matchCount++;
                        dataForPack.push(data);
                    }
                }
                this.dataForPack = dataForPack;
                if (matchCount == 0) {
                    topWin.alert("没有符合条件的数据行。", "error");
                }
            },
            async printItem() {
                // -- 至少扫码 orilot1 和 qty1 两个检索项 --
                for (let i = 0; i < this.scanCodes.length; i++) {
                    let scanCode = this.scanCodes[i];
                    if (scanCode.name.equals("orilot1") || scanCode.name.equals("qty1")) {
                        if (scanCode.value.equals("")) {
                            topWin.alert("扫描项 " + scanCode.name + " 不能为空，请扫码。", "warning");
                            this.$refs["_sc_" + i].focus();
                            return;
                        }
                    }
                }

                if (this.dataForPack.length == 0) {
                    topWin.alert("没有符合条件的待装箱数据，请检查。", "error");
                    return;
                }
                if (!this.checkPackIndex()) {
                    return;
                }

                if (this.dataPacking.length >= this.labelSet.qty0) {
                    topWin.alert("当前箱已满箱，请检查。", "error");
                    return;
                }

                // ----------------------------------------
                let row = this.dataForPack[0];
                let rowNo = row["$row_no"].toInt();
                for (let i = 0; i < this.dtbItem.rowCount; i++) {
                    let dataRow = this.dtbItem.rows[i];
                    if (dataRow["$row_no"].value == rowNo) {
                        dataRow["$pack_index"].value = this.packIndex;
                        dataRow["$pack_seq"].value = this.dataPacking.length + 1;

                        let extProps = this.getLabelsExtProps();
                        if (extProps.length > 0) {
                            let postDATA = {
                                interfaceId: this.interfaceId,
                                extProps: extProps,
                                $id: dataRow["$id"].value,
                                owner: dataRow["lot1"].value
                            }
                            let res = await ajax.send("/aprint/juchen/addItemToPacking", postDATA);
                            if (res.ok) {
                                dataRow["sn"].value = res.sn;
                            }
                            else {
                                return;
                            }
                        }

                        let data = [];
                        for (let j = 0; j < this.dtbItem.columnCount; j++) {
                            let columnName = this.dtbItem.columns[j].name;
                            if (columnName.startsWith("$")) continue;
                            data[columnName] = dataRow[columnName].value;
                        }
                        this.printItemLabel(data, {
                            printToPrinter: !this.flagSimulatePrint
                        });
                        if (this.flagSimulatePrint) {
                            topWin.message("标签模拟打印完成。", "success");
                        }
                        break;
                    }
                }

                this.resetScan();
                this.fillDataPacking();

                // -- 自动打印外箱标签 --
                let needPrintOuterLabel = false;
                if (this.flagAutoPrintOuterLabel) {
                    if (this.dataPacking.length >= this.labelSet.qty0) {
                        needPrintOuterLabel = true;         // -- 满箱 --
                    }
                    else {
                        if ((this.packIndex - 1) * this.labelSet.qty0 + this.dataPacking.length >= this.itemCount) {
                            needPrintOuterLabel = true;     // -- 尾箱不满箱，但已经全部装箱 --
                        }
                    }
                }

                if (needPrintOuterLabel) {
                    this.printPacking();                    // -- 打印外箱贴 --
                }
                else {
                    let data = this.calcPacking();          // -- 预览外箱贴 --
                    this.previewPacking(data, {
                        printToPrinter: false
                    });
                }
            },
            printItemLabel(data, jsp = { printToPrinter: false }) {
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    if (label.level != 0) continue;

                    let lbl = label.lbl;
                    for (let key in data) {
                        let value = data[key];
                        lbl.setValue(key, value, true);
                    }
                    lbl.compute(true);

                    if (jsp.printToPrinter) {
                        lbl.print({
                            data: [lbl.getData()],
                            printerName: label.printer_name,
                            copies: label.copies
                        });
                    }
                }
            },

            printPacking() {
                // -- 计算外箱数据 --
                let data = this.calcPacking();
                if (data == undefined) return;

                if (this.dataPacking.length < this.labelSet.qty0) {
                    if ((this.packIndex - 1) * this.labelSet.qty0 + this.dataPacking.length < this.itemCount) {
                        // -- 不满箱，并且没全部装箱 --
                        topWin.alert("尚未满箱，不能打印外箱标签，请继续装箱。", "error");
                        return;
                    }
                }

                // -- 打印外箱标签 --
                this.previewPacking(data, {
                    printToPrinter: !this.flagSimulatePrint
                });
                if (this.flagSimulatePrint) {
                    topWin.message("外箱标签模拟打印完成。", "success");
                }

                // -- 保存装箱记录 --
                this.savePacking();
            },
            calcPacking() {
                if (this.dataPacking.length == 0) {
                    topWin.message("没有装箱记录明细，不能打印箱标，请检查。");
                    return;
                }

                // -- 数据准备1 --
                let data = {};
                let row = this.dataPacking[0];
                let rowNo = row["$row_no"].toInt();
                let rowIndex = this.dtbItem.find([rowNo]);
                let dataRow = this.dtbItem.rows[rowIndex];
                for (let j = 0; j < this.dtbItem.columnCount; j++) {
                    let columnName = this.dtbItem.columns[j].name;
                    if (columnName.startsWith("$")) continue;
                    data[columnName] = dataRow[columnName].value;
                }

                // -- 数据准备2 --
                for (let j = 1; j <= 5; j++) {
                    data["line" + j + "_lot"] = "";
                    data["line" + j + "_lot2"] = "";
                    data["line" + j + "_qty"] = "";
                    data["line" + j + "_dc"] = "";
                    data["line" + j + "_sn"] = "";
                }
                
                let totalQuantiy = 0, lots = {}, mfgDates = [];
                for (let i = this.dataPacking.length - 1; i >= 0; i--) {
                    let lineNo = this.dataPacking.length - i;

                    row = this.dataPacking[i];
                    rowNo = row["$row_no"].toInt();
                    rowIndex = this.dtbItem.find([rowNo]);
                    dataRow = this.dtbItem.rows[rowIndex];

                    data["line" + lineNo + "_lot"] = dataRow["lot1"].value;
                    data["line" + lineNo + "_lot2"] = dataRow["lot2"].value;
                    data["line" + lineNo + "_qty"] = dataRow["quantity"].value;
                    data["line" + lineNo + "_dc"] = dataRow["dc1"].value;
                    data["line" + lineNo + "_sn"] = dataRow["sn"].value;

                    for (let j = 1; j <= 2; j++) {
                        let lot = dataRow["lot" + j].value;
                        let qty = dataRow["qty" + j].value.toInt();
                        let dc = dataRow["dc" + j].value;
                        if (!lot) continue;

                        if (lots[lot]) {
                            lots[lot].qty += qty;
                        }
                        else {
                            lots[lot] = { qty: qty, dc: dc }
                        }

                        totalQuantiy += qty;
                        if (dc) mfgDates.push(dc);
                    }
                }

                let i = 1;
                for (let key in lots) {
                    data["lot_box" + i] = key;
                    data["qty_box" + i] = lots[key].qty;
                    data["dc_box" + i] = lots[key].dc;
                    i++;
                }
                for (; i <= 5; i++) {
                    data["lot_box" + i] = "";
                    data["qty_box" + i] = 0;
                    data["dc_box" + i] = "";
                }

                data["consignment_date"] = (new Date()).toString("yy/MM/dd");
                data["expired_date"] = (new Date().add(720, "day")).toString("yy/MM/dd");
                data["total_quantity"] = totalQuantiy;
                mfgDates.sort();
                data["mfg_date_min"] = mfgDates[0].toDateByFromat("yyww");
                data["pack_index"] = this.packIndex;
                data["pack_count"] = this.packCount;

                console.log(data);
                return data;
            },
            previewPacking(data, jsp = { printToPrinter: false }) {
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    if (label.level != 1) continue;

                    let lbl = label.lbl;
                    for (let key in data) {
                        let value = data[key];
                        lbl.setValue(key, value, true);
                    }
                    lbl.compute(true);

                    if (jsp.printToPrinter) {
                        lbl.print({
                            data: [lbl.getData()],
                            printerName: label.printer_name,
                            copies: label.copies
                        });
                    }
                }
            },
            savePacking() {
                let dataPOST = {
                    interfaceId: this.interfaceId,
                    dataPacking: this.dataPacking,
                    packIndex: this.packIndex
                };
                ajax.send("/aprint/juchen/savePacking", dataPOST).then(res => {
                    this.packIndex++;

                    this.fillDataPacking();
                    this.refreshGridAll();
                });
            },
            onPackIndexEnter() {
                if (!this.checkPackIndex()) {
                    return;
                }

                this.fillDataPacking();

                let data = this.calcPacking();
                this.previewPacking(data, {
                    printToPrinter: false
                });
            },

            clearLabelSet() {
                this.labelSetId = null;
                this.labelSet = null;
                this.labels = [];
                divPreview.innerHTML = "套标标签预览区...";
            },
            async labelSetChange() {
                if (this.labelSetId) {
                    for (let i = 0; i < this.labelSets.length; i++) {
                        if (this.labelSets[i].id == this.labelSetId) {
                            this.labelSet = this.labelSets[i];
                            break;
                        }
                    }

                    await this.getLabels();
                }
                else {
                    this.clearLabelSet();
                }
            },
            async getLabels() {
                let res = await ajax.send("/aprint/print/interface_change/getLabelList", { labelSetId: this.labelSetId });
                this.labels = res.labels;

                await this.initLabels();

            },
            async initLabels() {
                await this.createIFrames();
                for (let i = 0; i < this.labels.length; i++) {
                    let iframe = this.labels[i].iframe;

                    iframe.src = g.path.framework + "/control/DLabel/form/preview.html?summary=0&v=" + top.jsVer;
                    iframe.addEventListener("load", function (evt) {
                        // -- 获取 Label控件 实例 --
                        let label = app.labels[iframe.labelIndex];
                        let lbl = iframe.contentWindow.getLabel();
                        lbl.loadLabel(label.content, { 
                            imageBaseUrl: topWin.cfg.labelVariableImageBaseUrl,
                            readonly: true
                        });
                        lbl.compute(true);
                        label.lbl = lbl;
                    }, false);
                }
            },
            async createIFrames() {
                let includePreview = this.activeNames.includes("preview");
                if (!includePreview) {
                    this.activeNames.push("preview");
                    await sleep(10);
                }

                let arrHtml = [];
                for (let level = 0; level <= 1; level++) {
                    arrHtml.push("<table class='tbIframe'><tr>")
                    let widthAll = 0;
                    for (let i = 0; i < this.labels.length; i++) {
                        let label = this.labels[i];
                        if (label.level != level) continue;

                        widthAll += label.width;
                    }

                    let widthRemain = 100;
                    for (let i = 0; i < this.labels.length; i++) {
                        let label = this.labels[i];
                        if (label.level != level) continue;

                        label.widthPercent = Math.min(100 * label.width / widthAll, 50);
                        widthRemain -= label.widthPercent;
                        arrHtml.push("<td class='tdIframe' style='width:" + label.widthPercent + "%'>");
                        arrHtml.push("<iframe id='ifr_" + label.id + "' class='ifrLabel'></iframe>")
                        arrHtml.push("</td > ");
                    }
                    if (widthRemain > 5) {
                        arrHtml.push("<td class='tdIframe' style='width:" + widthRemain + "%'>&nbsp;<td>");
                    }
                    arrHtml.push("</tr></table>");
                }
                divPreview.innerHTML = arrHtml.join("");

                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    let idIfr = "ifr_" + label.id;
                    let ifr = gId(idIfr);

                    ifr.labelIndex = i;
                    ifr.style.width = (ifr.parentElement.clientWidth - 30) + "px";
                    ifr.style.height = ifr.offsetWidth * (label.height / label.width) + "px";

                    label.iframe = ifr;
                }
            },

            resetScan() {
                for (let i = 0; i < this.scanCodes.length; i++) {
                    let scanCode = this.scanCodes[i];
                    scanCode.value = "";
                }

                this.$refs["_sc_0"][0].focus();
                this.dataForPack = [];
            },
            checkPackIndex() {
                let blResult = true;
                this.packIndex = this.packIndex.toInt();
                if (this.packIndex <= 0) {
                    topWin.alert("请输入正确的箱号。", "error");
                    blResult = false;
                }

                let maxPackIndex = this.getPackIndex();
                if (this.packIndex > maxPackIndex + 1) {
                    topWin.alert("输入的箱号不能大于当前箱号，请检查。", "error");

                    blResult = false;
                }

                if (!blResult) {
                    this.packIndex = 0;
                    this.dataPacking = [];
                }
                return blResult;
            },
            getPackIndex() {
                let maxPackIndex = 0;
                for (let i = 0; i < this.dtbItem.rowCount; i++) {
                    maxPackIndex = Math.max(maxPackIndex, this.dtbItem.rows[i]["$pack_index"].value);
                }
                return maxPackIndex;
            },
            fillDataPacking() {
                let dataPacking = [];
                let packIndex = this.packIndex.toInt();

                for (let i = 0; i < this.dtbItem.rowCount; i++) {
                    let dataRow = this.dtbItem.rows[i];
                    if (dataRow["$pack_index"].value == packIndex) {
                        let row = {
                            "$id": dataRow["$id"].value,
                            "$row_no": dataRow["$row_no"].value,
                            "$pack_seq": dataRow["$pack_seq"].value
                        };
                        for (let j = 0; j < this.scanCodes.length; j++) {
                            let scanCode = this.scanCodes[j];
                            row[scanCode.name] = dataRow[scanCode.name].value;
                        }
                        dataPacking.push(row);
                    }
                }

                // -- 按照pack_seq倒序排序 --
                dataPacking.sort(function (a, b) {
                    return b["$pack_seq"] - a["$pack_seq"];
                });

                this.dataPacking = dataPacking;
            },
            getLabelsExtProps() {
                let extProps = [];
                for (let i = 0; i < this.labels.length; i++) {
                    let label = this.labels[i];
                    if (label.level != 0) continue;
                    let lbl = label.lbl;
                    let Fields = lbl.label.Fields;
                    for (let fieldName in Fields) {
                        let field = Fields[fieldName];
                        for (let propName in field) {
                            if (propName.equals("ext_prop")) {
                                if (field[propName]) {
                                    extProps.push({
                                        name: field.name,
                                        extProp: field[propName]
                                    });
                                }
                            }
                        }
                    }
                }
                return extProps;
            },

            onRowClick_dataPacking(row, column, event) {
                let rowIndex = this.dtbItem.find([row["$row_no"]]);
                let dataRow = this.dtbItem.rows[rowIndex];
                let data = [];
                for (let j = 0; j < this.dtbItem.columnCount; j++) {
                    let columnName = this.dtbItem.columns[j].name;
                    if (columnName.startsWith("$")) continue;
                    data[columnName] = dataRow[columnName].value;
                }
                this.printItemLabel(data, { printToPrinter: false });
            },
            initGridAll() {
                var para = {
                    viewPk: "x_idata_juchen",
                    controller: "/aprint/project/juchen/x_idata_juchen_view",
                    filter: this.paraCode + " = '" + this.paraValue + "'",
                    extUserDef: {
                        interfaceId: this.interfaceId
                    }
                }
                this.$refs.gridAll.init(para);
            },
            refreshGridAll() {
                this.$refs.gridAll.setFilter(this.paraCode + " = '" + this.paraValue + "'");
            },

            onFlagSimulatePrintChange() {
                setPageCookie("flagSimulatePrint", this.flagSimulatePrint ? "true" : "false");
            },
            onFlagAutoPrintOuterLabelChange() {
                setPageCookie("flagAutoPrintOuterLabel", this.flagAutoPrintOuterLabel ? "true" : "false");
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    let divPreview = gId("divPreview");
    // ------------------------------------------------------------------------
    function winLoad() {
        top.crossLocal.getPrinterList().then((res) => {
            if (res.ok) {
                app.printers = res.data.printers;
            }
        });

        let spanRight = Math.ceil(24 * (250 / win.p.maxWidth));
        let spanLeft = Math.floor((24 - spanRight) / 2) - 2;
        let spanMiddle = 24 - spanRight - spanLeft;

        app.span[1] = spanLeft;
        app.span[2] = spanMiddle;
        app.span[3] = spanRight;

        let widthMiddle = spanMiddle / 24 * win.p.maxWidth - 210 - 60 - 75;
        let widthCopies = 45;
        let widthPrinter = widthMiddle - widthCopies;

        app.styleCopies = "width:" + widthCopies + "px;";
        app.stylePrinter = "width:" + widthPrinter + "px;";

        // ------------------------------------------------
        app.flagSimulatePrint = getPageCookie("flagSimulatePrint", "true").equals("true");
        app.flagAutoPrintOuterLabel = getPageCookie("flagAutoPrintOuterLabel", "false").equals("true");
    }
</script>