@charset "UTF-8";
/**
 * 
 * @authors Dujing (1198994896@qq.com)
 * @date    2018-12-17 22:32:01
 * @version 1.0.0
 */

html,body,
.dashboard .panel-first {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-40 {
  height: 40%;
}
.dashboard .p-0 {
  padding: 0;
  box-sizing: border-box;
}
.dashboard .p-rt-10 {
  padding-right: 10px;
  box-sizing: border-box;
}
.dashboard .p-bm-10 {
  padding-bottom: 10px;
  box-sizing: border-box;
}
.dashboard .m-0 {
  margin: 0;
}
.dashboard {
  padding: 10px;
  box-sizing: border-box;
}
.dashboard .panel-heading {
  line-height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
}
.dashboard .tab-box::after {
  content: "";
  display: inline-block;
  clear: both;
}
.dashboard .tab-item {
  float: left;
  height: 32px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 0 5px 0 12px;
  box-sizing: border-box;
}
.dashboard .tab-item.active {
  color: #3c8dbc;
  border-bottom: solid 2px #3c8dbc;
}
.dashboard .title {
  font-size: 16px;
  font-weight: 400;
  color: #383838;
}
.dashboard .title-small {
  font-size: 14px;
  font-weight: 400;
  color: #b6b6b6;
  margin-left: 10px;
}
.dashboard .panel-first {
  display: none;
}
.dashboard .panel-first.active {
  display: block;
}
.dashboard .panel-body {
  padding: 10px;
  box-sizing: border-box;
}
.dashboard .panel-body .chart-tips {
  padding: 10px 0;
  box-sizing: border-box;
}
.dashboard .panel-body .chart-tips::after {
  content: "";
  display: inline-block;
  clear: both;
}
.dashboard .tip-item {
  float: left;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  margin-right: 18px;
  margin-bottom: 10px;
}
.dashboard .tip-item > span {
  float: left;
  width: 50px;
  height: 20px;
  margin-right: 6px;
  border-radius: 8px;
}
.dashboard .tip-item > span.need-confirm-bar {
  background-color: #F9664C;
}
.dashboard .tip-item > span.need-distribution-bar {
  background-color: #3288ED;
}
.dashboard .tip-item > span.need-stock-bar {
  background-color: #44DCC2;
}
.dashboard .panel-body .myChart {
  margin-top: 50px;
}
.dashboard .cert {
  border-bottom: solid 1px #e5e5e5;
}
.dashboard .progress-box {
  height: 32px;
}
.dashboard .progress {
  display: inline-block;
  width: 80%;
  margin-top: 4px;
}
.dashboard .cert-item label {
  font-weight: 400;
}
.dashboard .progress-value,
.customer .customer-value {
  display: inline-block;
  float: right;
  font-size: 21px;
  color: #3c8dbc;
}
.dashboard .panel-body .customer {
  margin-top: 20px;
}
.customer-label,
.customer-label .icon.icon-group {
  font-size: 15px;
}
.customer-label .icon.icon-group {
  margin-right: 10px;
}
.dashboard .panel.flow {
  display: inline-block;
  width: 120px;
  height: 136px;
  border: none;
  margin: 15px 40px;
  cursor: pointer;
}
.dashboard .panel.flow.finished-in-stock {
  visibility: hidden;
}
.dashboard .panel.flow .icon.icon-double-angle-right {
  position: absolute;
  right: -50px;
}
.dashboard .flow .panel-heading {
  padding: 0;
  height: 60px;
  line-height: 70px;
  text-align: center;
  color: #fff;
}
.dashboard .flow .panel-heading.panel-warning {
  background-color: #F9664C;
}
.dashboard .flow .panel-heading.panel-primary {
  background-color: #3280fc;
}
.dashboard .flow .panel-heading.panel-success {
  background-color: #38B03F;
}
.dashboard .flow .panel-heading .icon {
  font-size: 32px;
}
.dashboard .flow .panel-body {
  top: 60px;
  border: solid 1px #ddd;
  border-top: solid 1px transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}
.flow .flow-label {
  color: #666;
}
.flow .flow-context {
  font-size: 12px;
  color: #383838;
}
.flow .badge {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  background-color: red;
  border-radius: 50%;
}
.cert,
.customer {
  display: none;
}
.service-box {
  position: absolute;
  right: 0;
  bottom: 100px;
}
.service-box .service-nav {
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  margin-right: -40px;
  transition: all .2s;
}
.service-box .service-nav:hover {
  margin-right: 0;
}
.service-box .icon.icon-wechat {
  font-size: 50px;
  color: #45B349;
}
.service-box .service-main {
  position: absolute;
  width: 200px;
  top: -200px;
  left: 100px;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  transition: all .2s;
}
.service-nav:hover + .service-main {
  top: -200px;
  left: -133px;
}
.service-box .service-main > img {
  width: 200px;
}
