/* -- 顶级布局网格 -- */
.xwf_toolbar_tbLayout {
    border-collapse: collapse;
}

.xwf_toolbar_tdLayout {
    padding: 0px;
    overflow: hidden;
    border-collapse: collapse;
    border: dotted 0px red;
}

.xwf_toolbar_tbBars {
    padding: 0px;
    overflow: hidden;
    border-collapse: collapse;
}

.xwf_toolbar_tbBarsRight {
    float: right;
}

.xwf_toolbar_tdBars {
    padding: 0px;
    border-collapse: collapse;
}

/* -- bars -- */
.xwf_toolbar_button, .xwf_toolbar_buttonHL, .xwf_toolbar_buttonDisabled, .xwf_toolbar_text, .xwf_toolbar_textDisabled {
    cursor: pointer;
    font-size: 11pt;
    font-family: 微软雅黑;
    border: 0px;
    background-color: transparent;
}

.xwf_toolbar_buttonDisabled, .xwf_toolbar_textDisabled {
    color: Gray;
    cursor: not-allowed;
}

/* -- button -- */
.xwf_toolbar_button {
    border: 1px solid LightGray;
    background-color: #f7f7f7;
    font-family: 微软雅黑;
    font-size: 9pt;
    color: black;
    height: 30px;
    cursor: pointer;
}

    .xwf_toolbar_button:hover {
        background-color: white;
        font-size: 10pt;
    }

.xwf_toolbar_buttonGrid {
    background-color: white;
}

    .xwf_toolbar_buttonGrid:hover {
        background-color: #f7f7f7;
    }


/* -- text -- */
.xwf_toolbar_text, xwf_toolbar_textDisabled {
    margin: 0px 8px 0px 8px;
    border: solid 1px Gray;
    border-radius: 0.3em;
    padding: 0px 5px 0px 5px;
}

    .xwf_toolbar_text:hover {
        border: solid 1px Green;
    }

/* -- alink -- */
.xwf_toolbar_alink {
    color: Green;
    text-decoration: none;
}

    .xwf_toolbar_alink:hover {
        color: red;
    }