/* -- gridview.layout ---------------------------------- */

.xwf_gridview_tbMain {
    table-layout: fixed;
    border-collapse: collapse;
}

.xwf_gridview_tdMain {
    padding: 0px;
    overflow: hidden;
    vertical-align: top;
}

.xwf_gridview_divTree {
    overflow: auto;
    border: solid 1px #c0c0c0;
    background-color: White;
}

.xwf_gridview_divGrid {
    overflow: hidden;
}


/* -- gridview.toolBar ------------------------------- */

.xwf_gridview_divToolbar {
    border: dotted 0px red;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/* -- gridview.bottomBar ------------------------------- */

.xwf_gridview_divStatusBar {
    border-top: solid 0px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    margin-top: -2px;
}

.xwf_gridview_tbStatusBar {
    border-collapse: collapse;
}

.xwf_gridview_tbStatusBar td {}

.xwf_gridview_tdPageRefresh {
    color: Gray;
    cursor: pointer;
    font-size: 12pt;
    font-family: 微软雅黑;
    text-align: center;
    border: dotted 0px green;
    padding: 4px 5px 5px 10px;
}

.xwf_gridview_tdPageRefresh:hover {
    color: Blue;
}

.xwf_gridview_tdPageMove {
    color: Gray;
    cursor: pointer;
    font-size: 14pt;
    font-family: 微软雅黑;
    text-align: center;
    padding: 4px 0px 5px 15px;
}

.xwf_gridview_tdPageMove:hover {
    color: Blue;
}

.xwf_gridview_tdPageNum {
    padding: 4px 0px 5px 15px;
}

.xwf_gridview_txtPageNum {
    color: Gray;
    width: 20px;
    font-size: 10pt;
    font-family: 微软雅黑;
    text-align: center;
    border: 0px;
    background-color: transparent;
}

.xwf_gridview_txtPageNum:hover {
    color: Blue;
    background-color: White;
}

.xwf_gridview_tdPageSummary {
    padding: 4px 0px 5px 20px;
    color: Gray;
    font-size: 10pt;
    font-family: 微软雅黑;
}


/* -- grid --------------------------------------------- */


/* 布局用主表格（3行3列） */

.xwf_grid_tbLayout {
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid 1px #c0c0c0;
    background-color: White;
    background-repeat: repeat-x;
    background-position: left top;
}

.xwf_grid_tbLayout td {
    padding: 0px;
    overflow: hidden;
    font-size: 10pt;
    font-family: 微软雅黑;
    white-space: nowrap;
}

.xwf_grid_tdLayout {
    overflow: hidden;
    vertical-align: top;
}

.xwf_grid_tbLayout_trH {
    color: Black;
}


/* 表头区及数据区表格 */

.xwf_grid_tbHeader {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: White;
}

.xwf_grid_tbHeader td {
    --border-top: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    background-position: center top;
    background-repeat: no-repeat;
}

.xwf_grid_tbHeader span {
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

.xwf_grid_tbData {
    table-layout: fixed;
    border-collapse: collapse;
}

.xwf_grid_tbData td {
    height: 32px;
    vertical-align: middle;
    border-right: solid 1px #c0c0c0;
}

.xwf_grid_divCell {
    width: 100%;
    padding-top: 1px;
    overflow: hidden;
}

.xwf_grid_tbData span {
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

.xwf_grid_divCell span {}


/* -- 单元格、交叉行、高亮行、功能列 -- */

.xwf_grid_tdToolbar {
    border: solid 1px red;
}

.xwf_grid_trBgColorB {
    background-color: White;
}

.xwf_grid_trBgColorA {
    background-color: #FCFCFC;
}

.xwf_grid_trHighlight {
    background-color: #d0e6f5;
}

.xwf_grid_spanFN {
    color: Blue;
    cursor: pointer;
}


/* -- 编辑文本框 --------------------------------------- */

.xwf_grid_txtCell {
    width: 100%;
    border: solid 0px;
    /* 受uvform.css影响不生效 */
    background: none;
    text-align: center;
}

.xwf_grid_txtCell:focus {
    background-color: White;
}


/* -- 高亮单元格字体颜色 ------------------------------- */

.cellColor_Dead {
    color: White;
    background-color: Red;
}

.cellColor_Red {
    color: Red;
}

.cellColor_Blue {
    color: Blue;
}