<!DOCTYPE html>
<html>
<head>
    <title>房间定义</title>
    <script src="../../../../framework/core/doys.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="区域名称">
                        <el-input v-model="form.area_name" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="建筑名称">
                        <el-input v-model="form.building_name" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="楼层名称">
                        <el-input v-model="form.floor_name" :disabled="true" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">                    
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="房间名称" required>
                        <el-input v-model="form.name" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="序号">
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {}
        },

        methods: {
            beforeAddnew: function () {
                if (!win.para.floor_id) {
                    topWin.alert("请先选择左侧导航区的楼层节点。", "warning", () => {
                        win.close();
                    });
                    return false;
                }
                return true;
            },
            afterAddnew: function () {
                this.form.floor_id = win.para.floor_id;
            },
            beforeSave: function () {
                if (!this.form.name) {
                    topWin.alert("请输入房间名称。", "warning");
                    return false;
                }
                return true;
            }
        }
    });
</script>