<!DOCTYPE html>
<html>
<head>
	<title>客户参数维护</title>
	<script src="../../../../framework/core/doys.js"></script>
	<script src="../../../../framework/control/view-form-bar/view-form-bar.js"></script>
</head>
<body>
	<div id="app" style="width:600px;">
		<view-form-bar id="vf" ref="vf"></view-form-bar>
		<el-form :model="form" ref="form" label-width="145px" label-position="left">
			<el-row>
				<el-col>
					<el-form-item label="参数" required>
						<el-input v-model="form.para_code" placeholder="参数" />
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col>
					<el-form-item label="参数值" required>
						<el-input v-model="form.para_value" placeholder="参数值" />
					</el-form-item>
				</el-col>
			</el-row>
		</el-form>
	</div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			form: {}
		}
	});
</script>