<!DOCTYPE html>
<html>
<head>
    <title>图档维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
    <style type="text/css">
        body {
            overflow: hidden;
        }
        /** .el-upload--picture-card 控制加号部分 */
        .disabled .el-upload--picture-card {
            display: none !important;
        }
    </style>
    <!-- 文件缩略图 -->
    <style type="text/css">
        .thumbnail {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
        }

        .unknown {
            background-image: url('../../../../framework/images/thumbnail/unknown.png');
        }

        .image {
            background-image: url('../../../../framework/images/thumbnail/image.png');
        }

        .pdf {
            background-image: url('../../../../framework/images/thumbnail/pdf.png');
        }
        .ai {
            background-image: url('../../../../framework/images/thumbnail/ai.png');
        }

        .word {
            background-image: url('../../../../framework/images/thumbnail/word.png');
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="目录">
                        <el-input placeholder="请选择图档目录" v-model="form.catalog_fullname">
                            <el-button slot="append" icon="el-icon-search" @click="selectCatalog"></el-button>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="代码">
                        <el-input v-model="form.code" placeholder="图档代码" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="名称" required>
                        <el-input v-model="form.name" ref="name" placeholder="图档名称" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="版本">
                        <el-input v-model="form.version" placeholder="图档版本" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="客户">
                        <el-select v-model="form.customer_id" filterable :popper-append-to-body="false">
                            <el-option v-for="item in ds.customer_id" :key="item.id" :value="item.id" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <el-upload :action="actionUpload"
                   :file-list="fileList" :with-credentials="true" :disabled="!allowUpload"
                   list-type="picture-card"
                   :limit="maxFile"
                   :data="dataUpload"
                   :before-upload="beforeUpload"
                   :on-success="onSuccess"
                   :on-preview="onPreview"
                   :class="{disabled:disableUpload}">
            <div slot="file" slot-scope="{file}" :class="getCss(file)" style="color:#67C23A;height:100%;">
                <div style="padding:5px;">{{file.originalName}}</div>
                <!--<img class="el-upload-list__item-thumbnail" :src="file.url" alt="" v-show="false">-->
                <span class="el-upload-list__item-actions">
                    <span class="el-upload-list__item-preview" @click="onPreview(file)">
                        <i class="el-icon-zoom-in"></i>
                    </span>
                    <span v-if="allowUpload" class="el-upload-list__item-delete" @click="onRemove(file)">
                        <i class="el-icon-delete"></i>
                    </span>
                </span>
            </div>
            <i class="el-icon-plus"></i>
        </el-upload>
        <div style="height:10px;"></div>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 14, 10],
            form: {
                catalog_id: 0,
                customer_id: 0
            },
            ds: {},
            idParent: 0,

            actionUpload: g.prefix + "/aprint/aid/draft_file/upload",
            allowUpload: true,              // -- 允许操作文件上传或删除 --
            disableUpload: false,           // -- 禁止上传操作 --
            maxFile: 5,
            dataUpload: {},
            fileList: [],
            fileCount: 0,
            urlBase: "",
        },
        mounted() {
            this.urlBase = g.path.resRun + "/" + topWin.tenantId + "/aprint/draft_file/";
        },
        watch: {
            fileCount(valueNew, valueOld) {
                this.disableUpload = (this.fileCount >= this.maxFile || !this.allowUpload);
            }
        },
        methods: {
            afterAddnew: function () {
                let nodeNav = this.$refs.vf.view.$refs.treeNav.selectedNode;
                this.form.catalog_id = nodeNav.data.value;
            },
            beforeSave: function () {
                return true;
            },
            afterMove: function () {
                let draftId = this.$refs.vf.getId();

                this.dataUpload = {
                    draftId: draftId
                };
                ajax.send("/aprint/aid/draft_file/getFiles", { draftId: draftId }).then(res => {
                    for (let i = 0; i < res.files.length; i++) {
                        res.files[i].url = this.urlBase + res.files[i].name;
                    }
                    this.fileList = res.files;
                    this.fileCount = this.fileList.length;
                })

                this.allowUpload = this.$refs.vf.getButtonStatus("save");
            },

            selectCatalog: function () {
                var prop = {
                    url: g.path.project + "/.aid/html/public/select_catalog.html",
                    parent: win,
                    modal: true
                };
                var para = {
                    controller: "/aprint/aid/catalog",
                    catalogType: "draft",
                    callback: (para) => {
                        this.form.catalog_id = para.catalogId;
                        this.form.catalog_fullname = para.catalogFullname;
                    }
                };
                topWin.openWindow(prop, para);
            },

            beforeUpload(file) {
                //debugger
                //debugger
            },
            onSuccess(res, file, fileList) {
                file.name = res.filename;
                file.url = this.urlBase + file.name;
                file.originalName = res.originalName;
                file.sizeText = res.sizeText;
                file.extName = res.extName;

                this.fileList = fileList;
                this.fileCount++;
            },
            onRemove(file, fileList) {
                topWin.confirm("确定要删除当前已生成的打印数据吗？").then((ok) => {
                    if (ok) {
                        ajax.send("/aprint/aid/draft_file/delete", { filename: file.name }).then(_ => {
                            for (let i = 0; i < this.fileList.length; i++) {
                                if (this.fileList[i].name.equals(file.name)) {
                                    this.fileList.splice(i, 1);
                                    break;
                                }
                            }
                            this.fileCount--;
                        })
                    }
                })
            },
            onPreview(file, fileList) {
                topWin.message("预览文件", "success");
                let url = this.urlBase + file.name;
                let extName = file.extName;
                window.open(url, "_blank");
                debugger
            },
            getCss(file) {
                let cssName = "thumbnail ";
                let extName = file.extName;

                if (extName.equals("png") || extName.equals("jpg")) {
                    cssName += "image";
                }
                else if (extName.equals("pdf")) {
                    cssName += "pdf";
                }
                else if (extName.equals("ai")) {
                    cssName += "ai";
                }
                else if (extName.equals("doc") || extName.equals("docx")) {
                    cssName += "word";
                }
                else {
                    cssName += "unknown";
                }

                return cssName;
            }
        }
    });
</script>