<!DOCTYPE html>
<html>
<head>
    <title>标签定义窗口</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" style="width:900px;margin-bottom:10px;height:485px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-tabs ref="tab" v-model="activeTabName" @tab-click="onTabClick">
            <el-tab-pane name="baseInfo" :key="0" label="基本信息">
                <el-form :model="form" label-width="135px" label-position="left">
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="产品名称">
                                <el-select v-model="form.product_id" filterable :popper-append-to-body="false">
                                    <el-option v-for="item in ds.product_id" :key="item.id" :value="item.id" :label="item.name"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="标签分类">
                                <el-input placeholder="请选择标签分类" v-model="form.category_fullname">
                                    <el-button slot="append" icon="el-icon-search" @click="selectCategory"></el-button>
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="标签代码" required>
                                <el-input v-model="form.code" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="类型" required>
                                <el-select v-model="form.type">
                                    <el-option value="DLabel" label="DLabel">
                                        <span style="float: left">DLabel</span>
                                        <span style="float: right;">新版码尚</span>
                                    </el-option>
                                    <el-option value="MASO" label="MASO" :disabled="true">
                                        <span style="float: left">MASO</span>
                                        <span style="float: right;">已停用</span>
                                    </el-option>
                                    <el-option value="BarTender" label="BarTender"></el-option>
                                    <el-option value="NiceLabel" label="NiceLabel" :disabled="true"></el-option>
                                    <el-option value="PDF" label="PDF" :disabled="true"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="标签名称">
                                <el-input v-model="form.name" placeholder="标签名称" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="打印机点数">
                                <el-select v-model="form.point">
                                    <el-option value="200" label="200"></el-option>
                                    <el-option value="300" label="300"></el-option>
                                    <el-option value="400" label="400"></el-option>
                                    <el-option value="600" label="600"></el-option>
                                    <el-option value="1200" label="1200"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="宽度(毫米)">
                                <el-input v-model="form.width" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="高度(毫米)">
                                <el-input v-model="form.height" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="备注">
                                <el-input v-model="form.remark" type="textarea" :rows="4" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane name="labelVariable" :key="1" label="标签变量">
                <sub-view id="grid" ref="grid" view-height="370" @onaddnew="onGridAddnew"></sub-view>
            </el-tab-pane>
            <el-tab-pane name="labelFile" :key="2" v-if="form.type.equals('BarTender')" :label="form.type + ' 标签文件'">
                <el-row>
                    <el-col :span="12">
                        <el-upload class="upload-demo"
                                   accept=".btw"
                                   :action="actionUploadLabelFile_BarTender"
                                   :before-upload="beforeUpload1"
                                   :on-success="afterUpload1"
                                   :with-credentials="true"
                                   :show-file-list="false">
                            <el-button type="primary">上传标签文件 (.btw)</el-button>
                        </el-upload>
                    </el-col>
                    <el-col :span="12">
                        <el-upload class="upload-demo"
                                   accept=".csv,.txt"
                                   :action="actionUploadDataFile_BarTender"
                                   :before-upload="beforeUpload2"
                                   :on-success="afterUpload2"
                                   :with-credentials="true"
                                   :show-file-list="false">
                            <el-button type="primary">上传数据源模板文件 (.csv, .txt)</el-button>
                        </el-upload>
                    </el-col>
                </el-row>
                <el-row>
                    &nbsp;
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-link type="primary" v-if="urlLabelFile_BarTender" :href="urlLabelFile_BarTender" icon="el-icon-postcard" target="_blank">标签模板文件</el-link>
                    </el-col>
                    <el-col :span="12">
                        <el-link type="primary" v-if="urlDataFile_BarTender" :href="urlDataFile_BarTender" icon="el-icon-notebook-2" target="_blank">数据模板文件</el-link>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane name="jsAfterCompute" :key="3" label="Script:AfterCompute">
                <el-tag>function afterCompute(jsp) {...}</el-tag>
                <el-tag>示例1: jsp = { trigger: "varChange", varName: varName }</el-tag>
                <el-tag>示例2: jsp = { trigger: "refChange", ref: "customer" }</el-tag>
                <el-input v-model="form.js_after_compute" type="textarea" :rows="15" spellcheck="false" style="margin-top:6px;" />
            </el-tab-pane>
        </el-tabs>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            activeTabName: "baseInfo",
            form: {
                type: ""
            },
            ds: {},
            actionUploadLabelFile_BarTender: "",    // -- 上传标签文件 Action（BarTender）--
            actionUploadDataFile_BarTender: "",     // -- 上传数据文件 Action（BarTender）--
            urlLabelFile_BarTender: "",             // -- 标签模板文件（BarTender）--
            urlDataFile_BarTender: ""               // -- 数据模板文件（BarTender）--
        },
        methods: {
            onTabClick: function (tab, evt) {
                this.showGrid();
            },
            onGridAddnew: function (callback) {
                if (!this.form.type.equals("DLabel")) {
                    callback(true);
                    topWin.alert("当前标签的变量从标签文件中自动获取，无需手工定义。", "warning");
                    return;
                }

                if (!this.$refs.vf.status.equals("view")) {
                    callback(true);
                    topWin.alert("请先保存主表。", (val) => {
                        win.flashTitle("请先保存主表");
                    });
                }
                else {
                    if (this.$refs.vf.dtbFormData.rows[0]["astatus"].value != 0) {
                        callback(true);
                        topWin.alert("非制单状态下不能新增标签变量。", (val) => {
                            win.flashTitle("非制单状态下不能新增标签变量");
                        });
                    }
                }
            },
            showGrid: function () {
                if (this.activeTabName.equals("labelVariable")) {
                    let labelId = this.$refs.vf.getId();
                    let filter = "label_id = " + labelId;
                    if (this.$refs.grid.initialized) {
                        this.$refs.grid.setFilter(filter);
                    }
                    else {
                        var para = {
                            viewPk: "label_variable",
                            flowPks: "'sys_crud'",
                            filter: filter,
                            vfUrl: g.path.project + "/aprint/html/base/label_variable.html"
                        }
                        this.$refs.grid.init(para);
                    }
                }
            },

            afterMove: function () {
                let labelId = this.$refs.vf.getId();
                let labelFileName = this.$refs.vf.getValue("label_file_name");
                let dataFileName = this.$refs.vf.getValue("data_file_name");

                // ----------------------------------------
                this.actionUploadLabelFile_BarTender = g.prefix + "/aprint/labels/BarTenderFile/uploadLabelFile?labelId=" + labelId;
                this.actionUploadDataFile_BarTender = g.prefix + "/aprint/labels/BarTenderFile/uploadDataFile?labelId=" + labelId;

                if (labelFileName) {
                    this.urlLabelFile_BarTender = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + labelFileName;
                }
                else {
                    this.urlLabelFile_BarTender = "";
                }
                if (dataFileName) {
                    this.urlDataFile_BarTender = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + dataFileName;
                }
                else {
                    this.urlDataFile_BarTender = "";
                }

                // ----------------------------------------
                this.showGrid();
            },

            afterAddnew: function (jsp) {
                let nodeNav = this.$refs.vf.view.$refs.treeNav.selectedNode;
                this.form.category_id = nodeNav.data.value;

                if (!jsp.copy) {
                    this.form.product_id = (win.para.product_id ? "" + win.para.product_id : "0");
                    this.form.type = "DLabel";
                    this.form.version = "1";

                    this.form.width = "80";
                    this.form.height = "60";
                    this.form.point = "600";
                }

                this.form.code = "";
                this.form.name = "";
            },
            beforeSave: function () {
                if (!this.form.code) {
                    topWin.alert("请输入标签代码", "warning");
                    return false;
                }
                delete this.form.content;
                return true;
            },
            afterSave: function (jsp) {
                if (jsp.copy) {
                    // -- 拷贝方式的新记录需要再保存一次，用于后台根据拷贝的标签变量自动创建x_label_xxx表字段 --
                    this.$refs.vf.save();
                }
            },
            beforeDelete: function () {
                //this.$message("页面判断，允许删除");
                return true;
            },
            afterDelete: function () {
                //this.$message("after delete");
            },

            beforeFlowClick: function () {
                //this.$message("beforeClick");
                return true;
            },
            afterFlowClick: function () {
                //this.$message("afterClick");
            },
            onClick: function (button) {
                if (button.name.equals("label_design")) {
                    if (this.form.type.equals("DLabel")) {
                        this.openDLabelDesign();
                    }
                    else if (this.form.type.equals("BarTender")) {
                        topWin.message("请使用BarTender软件设计标签。");
                    }
                    else {

                    }
                }
                else {
                    topWin.alert("name = " + button.name + ", text = " + button.text);
                }
            },

            selectCategory: function () {
                var prop = {
                    url: g.path.project + "/aprint/html/select/select_category.html",
                    parent: win,
                    modal: true
                };
                var para = {
                    callback: (para) => {
                        this.form.category_id = para.categoryId;
                        this.form.category_fullname = para.categoryFullname;
                    }
                };
                topWin.openWindow(prop, para);
            },
            beforeUpload1: function () {
                //this.uploadAction = g.prefix + "/aprint/labels/BarTenderFile/uploadFile?labelId=" + this.$refs.vf.getId() + "&labelType=BarTender&fileType=label";
            },
            afterUpload1: function (a, b, c) {
                topWin.message("BarTender标签文件上传成功", "success");
                this.urlLabelFile_BarTender = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + a.filename;
            },
            beforeUpload2: function () {
                //this.uploadAction = g.prefix + "/aprint/labels/BarTenderFile/uploadFile?labelId=" + this.$refs.vf.getId() + "&labelType=BarTender&fileType=data";
            },
            afterUpload2: function (res, b, c) {
                if (res.ok) {
                    win.flashTitle("数据源模板文件上传成功", "success");
                    this.urlDataFile_BarTender = g.path.resRun + "/" + topWin.tenantId + "/aprint/label_file/" + res.filename;
                    this.showGrid();
                }
                else {
                    topWin.alert(res.error, "error");
                }
            },

            openDLabelDesign: function () {
                let labelId = this.form.id;
                ajax.send("/aprint/dlabel/getLabelForDesign", { labelId: labelId }).then(res => {
                    let _this = this;
                    let dtbLabel = res.dtbLabel;
                    let dtbLabelVariable = res.dtbLabelVariable;
                    let labelContent = dtbLabel.rows[0]["content"].value;

                    // ------------------------------------
                    let variables = {}, name, value;
                    for (let i = 0; i < dtbLabelVariable.rowCount; i++) {
                        name = dtbLabelVariable.rows[i]["name"].value;
                        value = dtbLabelVariable.rows[i]["value"].value;
                        variables[name] = value;
                    }
                    // ------------------------------------
                    let prop = {
                        url: g.path.framework + "/control/DLabel/form/designer.html",
                        parent: win,
                        modal: false
                    };
                    let para = {
                        menuPk: win.para.menuPk
                    };
                    let jspLabel = {
                        fields: variables,
                        width: dtbLabel.rows[0]["width"].value,
                        height: dtbLabel.rows[0]["height"].value,
                        point: dtbLabel.rows[0]["point"].value,
                        imageBaseUrl: topWin.cfg.labelVariableImageBaseUrl
                    }
                    let winDesinger = topWin.openFullWindow(prop, para);
                    winDesinger.addEventListener("afterLoad", function (winOpen) {
                        lbl = winOpen.window.getLabel();
                        lbl.loadLabel(labelContent, jspLabel);
                        lbl.compute(true);

                        // -- 注册并监听标签保存事件 --
                        lbl.addEventListener("onSave", _this.saveDLabelContent, { labelId: _this.form.id });
                    }, false);
                });
            },
            saveDLabelContent: function (jsp) {
                let postData = {
                    id: jsp.labelId,
                    content: lbl.toJson()
                };

                ajax.send("/aprint/dlabel/saveLabelForDesign", postData).then(res => {
                    topWin.message("标签保存成功。", "success");
                });
            }
        }
    });
</script>

<!-- javascript block -->
<script>
    let lbl;
    function getLabelId() {
        return app.$refs.vf.getId();
    }
</script>