<!DOCTYPE html>
<html>
<head>
    <title>标签变量定义</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:900px;height:555px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="变量名称" required>
                        <el-input v-model="form.name" ref="name" d-validate="dbFieldName" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="类型" required>
                        <el-select v-model="form.type" @change="typeChange">
                            <el-option value="string" label="字符串"></el-option>
                            <el-option value="date" label="日期"></el-option>
                            <el-option value="image" label="图片"></el-option>
                            <el-option value="seq" label="序列"></el-option>
                            <el-option value="chaos" label="防伪追溯码"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]" v-if="!'image'.equals(form.type)">
                    <el-form-item label="变量值">
                        <el-input v-model="form.value" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[1]" v-if="'image'.equals(form.type)">
                    <el-form-item label="图片">
                        <el-collapse>
                            <el-collapse-item title="变量图片" name="image">
                                <el-upload class="upload-demo"
                                           accept=".png,.jpg,.jpeg,.bmp"
                                           :action="actionUploadVariableImage"
                                           :before-upload="beforeUploadVariableImage"
                                           :on-success="afterUploadVariableImage"
                                           :with-credentials="true"
                                           :show-file-list="false">
                                    <el-button type="primary" @click="beforeUploadVariableImage0">上传变量图片 (.png, .jpg, .jpeg, .bmp)</el-button>
                                </el-upload>
                                <el-image style="width:100px;height:100px;margin-top:15px;" :src="imageUrl" fit="contain"></el-image>
                            </el-collapse-item>
                        </el-collapse>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="引用来源" required>
                        <el-select v-model="form.quote_from" @change="quoteFromChange" :disabled="form.type!='string' && form.type!='image'">
                            <el-option value="" label="无"></el-option>
                            <el-option value="product" label="产品参数"></el-option>
                            <el-option value="customer" label="客户参数"></el-option>
                            <el-option value="supplier" label="供应商参数"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 长度、引用参数 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="长度">
                        <el-input v-model="form.value_len" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="引用参数">
                        <el-select v-model="form.quote_name" filterable allow-create default-first-option style="width:100%;" :disabled="form.quote_from==''">
                            <el-option v-for="refPara in refParas" :key="refPara.code" :value="refPara.code" :label="refPara.code + ' (' + refPara.name + ')'">
                                <span style="float: left">{{ refPara.code }}</span>
                                <span style="float: right;">{{ refPara.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <div v-if="'date'.equals(form.type)">
                <el-row>
                    <el-col :span="span[1]">
                        <el-form-item label="偏移量">
                            <el-col :span="12">
                                <el-input v-model="form.rule_date_offset" />
                            </el-col>
                            <el-col :span="12" style="padding-right:0px;">
                                <el-select v-model="form.rule_date_offset_unit" placeholder="请选择">
                                    <el-option label="天" value="DAY"></el-option>
                                    <el-option label="周" value="WEEK"></el-option>
                                    <el-option label="月" value="MONTH"></el-option>
                                    <el-option label="年" value="YEAR"></el-option>
                                </el-select>
                            </el-col>
                        </el-form-item>
                    </el-col>
                    <el-col :span="span[2]">
                        <el-form-item label="格式化模板">
                            <el-input v-model="form.rule_date_format" placeholder="示例: yyyy-MM-dd" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div v-if="'seq'.equals(form.type)">
                <el-row>
                    <el-col :span="span[1]">
                        <el-form-item label="序列初始值选项">
                            <el-checkbox v-model="form.flag_seq_reset">允许手工设置序列初始值</el-checkbox>
                        </el-form-item>
                    </el-col>                    
                </el-row>
                <el-row>
                    <el-col :span="span[0]">
                        <el-form-item label="序列归零条件">
                            <el-card>
                                <el-checkbox-group v-model="checkedLabelVariables">
                                    <el-checkbox v-for="name in labelVariables" :label="name" :key="name">{{name}}</el-checkbox>
                                </el-checkbox-group>
                            </el-card>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="修改选项">
                        <el-checkbox v-model="form.flag_manual_modify">允许打印前手工修改变量值</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="序号">
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row v-show="false">
                <el-input v-model="form.seq_fields" placeholder="form.seq_fields"></el-input>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 13, 11],
            form: {},

            imageUrl: "",
            actionUploadVariableImage: "",

            checkedLabelVariables: [],
            labelVariables: [],

            refParas: [],                       // -- 变量引用参数集 --
            productParas: [],                   // -- 产品参数定义集 --
            customerParas: [],                  // -- 客户参数定义集 --
            supplierParas: []                   // -- 供应商参数定义集 --            
        },
        mounted() {
            ajax.send("/aprint/label_variable/getVariableRefDataSource", {}).then(res => {                
                this.productParas = res.productParas;
                this.customerParas = res.customerParas;
                this.supplierParas = res.supplierParas;
            })
        },
        methods: {
            typeChange() {
                if (!this.form.type.equals("string") && !this.form.type.equals("image")) {
                    this.form.quote_from = "";
                    this.form.quote_name = "";
                }
            },
            quoteFromChange() {
                if (this.form.quote_from.equals("product")) {
                    this.refParas = this.productParas;
                }
                else if (this.form.quote_from.equals("customer")) {
                    this.refParas = this.customerParas;
                }
                else if (this.form.quote_from.equals("supplier")) {
                    this.refParas = this.supplierParas;
                }
                else {
                    this.refParas = [];
                    this.form.quote_name = "";
                }
            },
            afterAddnew: function () {
                this.form.label_id = labelId;
                this.form.type = "string";
                this.form.flag_manual_modify = true;
                this.form.sequence = "999";
            },
            beforeSave: function () {
                if (!this.form.value) this.form.value = "";
                if (!this.form.value_len) this.form.value_len = "1";

                if (this.form.value.length > this.form.value_len.toInt()) {
                    this.form.value_len = "" + this.form.value.length;
                }
                if (this.form.value_len.toInt() <= 0) {
                    this.form.value_len = "1";
                }

                let arrTemp = new Array();
                for (let i = 0; i < this.checkedLabelVariables.length; i++) {
                    if (this.checkedLabelVariables[i]) {
                        arrTemp.push(this.checkedLabelVariables[i]);
                    }
                }
                arrTemp.sort();
                this.form.seq_fields = arrTemp.join(",");
                return true;
            },

            afterMove: function () {
                let labelVariableId = this.$refs.vf.getId();

                this.imageUrl = topWin.cfg.labelVariableImageBaseUrl + this.form.value;
                this.actionUploadVariableImage = g.prefix + "/aprint/dlabel/uploadLabelVariableImage?labelVariableId=" + labelVariableId;

                this.checkedLabelVariables = this.form.seq_fields.split(",");

                this.quoteFromChange();
            },

            beforeUploadVariableImage0: async function (evt) {
                let result;
                if (!this.form.id) {
                    result = await this.$refs.vf.save();
                    if (!result) {
                        evt.stopPropagation();
                        return false;
                    }
                }
                return true;
            },
            beforeUploadVariableImage: function () {
                if (!this.form.id) {
                    return false;
                }
            },
            afterUploadVariableImage: function (res, b, c) {
                if (res.ok) {

                    this.form.value = res.filename;
                    this.imageUrl = topWin.cfg.labelVariableImageBaseUrl + this.form.value;
                    win.flashTitle("标签变量图片上传成功", "success");
                }
                else {
                    topWin.alert(res.error, "error");
                }
            }
        }
    });
</script>
<!-- winLoad -->
<script>
    let labelId;
    let winParent;
    // ------------------------------------------------------------------------
    function winLoad() {
        labelId = win.parentWindow.getLabelId();

        let labelVariables = [];
        let post = { labelId: labelId };

        ajax.send("/aprint/label/getLabelVariable", post).then(res => {
            let dtbLabelVariable = res.dtbLabelVariable;
            for (let i = 0; i < dtbLabelVariable.rowCount; i++) {
                let dataRow = dtbLabelVariable.rows[i];
                labelVariables.push(dataRow["name"].value);
            }
        })
        app.labelVariables = labelVariables;
    }
</script>