<!DOCTYPE html>
<html>
<head>
    <title>标签定义窗口</title>
    <script src="../../../../framework/core/doys.js?v=20200701"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" style="width:810px;margin-bottom:10px;height:480px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-tabs ref="tab" v-model="activeTabName" @tab-click="onTabClick">
            <el-tab-pane name="baseInfo" :key="0" label="基本信息">
                <el-form :model="form" label-width="145px" label-position="left">
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="产品名称" required>
                                <el-select v-model="form.product_id" filterable :popper-append-to-body="false">
                                    <el-option v-for="item in ds.product_id" :key="item.id" :value="item.id" :label="item.name"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="版本" required>
                                <el-input v-model="form.version" :disabled="true" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="代码(料号)" required>
                                <el-input v-model="form.code" placeholder="标签代码（PN料号）" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="标签名称">
                                <el-input v-model="form.name" placeholder="标签名称" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="类型" required>
                                <el-select v-model="form.type">
                                    <el-option value="MASO" label="MASO"></el-option>
                                    <el-option value="BarTender" label="BarTender"></el-option>
                                    <el-option value="NiceLabel" label="NiceLabel" :disabled="true"></el-option>
                                    <el-option value="PDF" label="PDF" :disabled="true"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="打印机点数" required>
                                <el-select v-model="form.point">
                                    <el-option value="300" label="300"></el-option>
                                    <el-option value="600" label="600"></el-option>
                                    <el-option value="1200" label="1200"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[1]">
                            <el-form-item label="宽度(毫米)">
                                <el-input v-model="form.width" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="span[2]">
                            <el-form-item label="高度(毫米)">
                                <el-input v-model="form.height" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="span[0]">
                            <el-form-item label="备注">
                                <el-input v-model="form.remark" type="textarea" :rows="4" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane name="labelVariable" :key="1" label="标签变量">
                <sub-view id="grid" ref="grid" style="height:370px;" @onaddnew="onGridAddnew"></sub-view>
            </el-tab-pane>
            <el-tab-pane name="labelFile" :key="2" v-if="form.type.equals('BarTender')" :label="form.type + ' 标签文件'">
                <el-row>
                    <el-col :span="12">
                        <el-upload class="upload-demo"
                                   :action="uploadAction1"
                                   :before-upload="beforeUpload1"
                                   :on-success="afterUpload1"
                                   :with-credentials="true"
                                   :show-file-list="false">
                            <el-button type="primary">上传标签文件 (.bwt)</el-button>
                        </el-upload>
                    </el-col>
                    <el-col :span="12">
                        <el-upload class="upload-demo"
                                   :action="uploadAction2"
                                   :before-upload="beforeUpload2"
                                   :on-success="afterUpload2"
                                   :with-credentials="true"
                                   :show-file-list="false">
                            <el-button type="primary">上传数据源模板文件 (.xls;.xlsx)</el-button>
                        </el-upload>
                    </el-col>
                </el-row>
                <el-row>
                    &nbsp;
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-link type="primary" v-if="urlLabelFile" :href="urlLabelFile" icon="el-icon-postcard" target="_blank">标签文件</el-link>
                    </el-col>
                    <el-col :span="12">
                        <el-col :span="8">
                            <el-link type="primary" v-if="urlDataFile" :href="urlDataFile" target="_blank">数据源模板</el-link>
                        </el-col>
                    </el-col>
                </el-row>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            activeTabName: "baseInfo",
            form: {
                type: ""
            },
            ds: {},
            uploadAction: "",
            urlLabelFile: "",
            urlDataFile: ""
        },
        mounted() {
            //this.uploadAction = g.prefix + "/aprint/labels/bartender/upload";
        },
        methods: {
            onTabClick: function (a, b, c) {
                this.initGrid();
            },
            onGridAddnew: function (callback) {
                if (!this.$refs.vf.status.equals("view")) {
                    callback(true);
                    topWin.alert("请先保存主表。", (val) => {
                        win.flashTitle("请先保存主表");
                    });
                }
                else {
                    if (this.$refs.vf.dtbFormData.rows[0]["astatus"].value != 0) {
                        callback(true);
                        topWin.alert("非制单状态下不能新增标签变量。", (val) => {
                            win.flashTitle("非制单状态下不能新增标签变量");
                        });
                    }
                }
            },
            initGrid: function () {
                if (!this.activeTabName.equals("labelVariable")) return;

                let labelId = this.$refs.vf.getId();
                let filter = "label_id = " + labelId;
                if (this.$refs.grid.initialized) {
                    this.$refs.grid.setFilter(filter);
                }
                else {
                    var para = {
                        viewPk: "label_variable",
                        flowPks: "'sys_crud'",
                        filter: filter,
                        vfUrl: g.path.project + "/aprint/html/base/label_variable.html"
                    }
                    this.$refs.grid.init(para);
                }
            },

            afterMove: function () {
                let labelId = this.$refs.vf.getId();
                let labelFileName = this.$refs.vf.getValue("label_file_name");
                let dataFileName = this.$refs.vf.getValue("data_file_name");

                // ----------------------------------------
                this.uploadAction1 = g.prefix + "/aprint/labels/bartender/upload?labelId=" + labelId + "&labelType=BarTender&fileType=label";
                this.uploadAction2 = g.prefix + "/aprint/labels/bartender/upload?labelId=" + labelId + "&labelType=BarTender&fileType=data";
                
                if (labelFileName) {
                    this.urlLabelFile = g.path.resRun + "/aprint/label_file/" + labelFileName;
                }
                else {
                    this.urlLabelFile = "";
                }
                if (dataFileName) {
                    this.urlDataFile = g.path.resRun + "/aprint/label_file/" + dataFileName;
                }
                else {
                    this.urlDataFile = "";
                }

                // ----------------------------------------
                this.initGrid();
            },

            beforeAddnew: function () {
                //this.$message("页面判断，允许添加");
                return true;
            },
            afterAddnew: function () {
                this.form.product_id = (win.para.product_id ? "" + win.para.product_id : "0");
                this.form.type = "MASO";
                this.form.version = "1";

                this.form.width = "80";
                this.form.height = "40";
                this.form.point = "600";
            },
            beforeSave: function () {
                if (!this.form.code) {
                    topWin.alert("请输入标签代码", "warning");
                    return false;
                }
                delete this.form.content;
                return true;
            },
            afterSave: function () {
                //this.$message("after save");
            },
            beforeDelete: function () {
                //this.$message("页面判断，允许删除");
                return true;
            },
            afterDelete: function () {
                //this.$message("after delete");
            },

            beforeFlowClick: function () {
                //this.$message("beforeClick");
                return true;
            },
            afterFlowClick: function () {
                //this.$message("afterClick");
            },
            onClick: function (button) {
                if (button.name.equals("label_design")) {
                    if (this.form.type.equals("MASO")) {
                        top.openMasoDesigner({ labelId: this.form.id });
                    }
                    else if (this.form.type.equals("BarTender")) {
                        topWin.message("请使用BarTender软件设计标签。");
                    }
                    else {

                    }
                }
                else {
                    topWin.alert("name = " + button.name + ", text = " + button.text);
                }
            },

            beforeUpload1: function () {
                //this.uploadAction = g.prefix + "/aprint/labels/bartender/upload?labelId=" + this.$refs.vf.getId() + "&labelType=BarTender&fileType=label";
            },
            afterUpload1: function (a, b, c) {
                this.urlLabelFile = g.path.resRun + "/aprint/label_file/" + a.filename;
            },
            beforeUpload2: function () {
                //this.uploadAction = g.prefix + "/aprint/labels/bartender/upload?labelId=" + this.$refs.vf.getId() + "&labelType=BarTender&fileType=data";
            },
            afterUpload2: function (a, b, c) {
                this.urlDataFile = g.path.resRun + "/aprint/label_file/" + a.filename;
            }
        }
    });
</script>

<!-- javascript block -->
<script>
    function getLabelId() {
        return app.$refs.vf.getId();
    }
</script>