<!DOCTYPE html>
<html>
<head>
    <title>产品定义</title>
    <script src="../../../../framework/core/doys.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf" aaattrs="viewProps"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="产品代码" required>
                        <el-input v-model="form.code" placeholder="产品代码" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="产品名称" required>
                        <el-input v-model="form.name" placeholder="产品名称" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <sub-view id="grid" ref="grid" style="height:350px;" @onaddnew="onGridAddnew"></sub-view>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {},
            ds: {}
        },

        methods: {
            onGridAddnew: function (callback) {
                if (!this.$refs.vf.status.equals("view")) {
                    callback(true);
                    topWin.alert("请先保存主表。", (val) => {
                        win.flashTitle("请先保存主表");
                    });
                }
            },

            afterMove: function () {
                let productId = this.$refs.vf.getId();
                let filter = "product_id = " + productId;
                if (this.$refs.grid.initialized) {
                    this.$refs.grid.setFilter(filter);
                }
                else {
                    var para = {
                        viewPk: "product_para",
                        flowPks: "'sys_crud'",
                        filter: filter,
                        vfUrl: g.path.project + "/aprint/html/base/product_para.html"
                    }
                    this.$refs.grid.init(para);
                }
            },
            beforeSave: function () {
                if (!this.form.name) {
                    this.$message("请输入产品名称。");
                    return false;
                }
                return true;
            }
        }
    });
</script>

<script>
    function getProductId() {
        return app.$refs.vf.getId();
    }
</script>