<!DOCTYPE html>
<html>
<head>
    <title>供应商资料维护</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="供应商代码" required>
                        <el-input v-model="form.code" placeholder="供应商代码" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="简称" required>
                        <el-input v-model="form.shortname" placeholder="简称" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="供应商名称" required>
                        <el-input v-model="form.name" ref="name" placeholder="供应商全称" />
                    </el-form-item>
                </el-col>
            </el-row>
            <!-- 供应商账户 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="供应商账户">
                        <el-select v-model="form.user_pk" clearable filterable default-first-option style="width:100%;">
                            <el-option v-for="user in ds.user_pk" :key="user.pk" :value="user.pk" :label="user.pk + '    ' + user.name">
                                <span style="float: left">{{ user.pk }}</span>
                                <span style="float: right;">{{ user.name }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="span[1]">
                    &nbsp;
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <sub-view id="grid" ref="grid" style="height:300px;"></sub-view>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {},
            ds: {}
        },

        methods: {
            afterMove: function () {
                let filter = "supplier_id = " + this.$refs.vf.getId();
                if (this.$refs.grid.initialized) {
                    this.$refs.grid.setFilter(filter);
                }
                else {
                    var para = {
                        viewPk: "supplier_para",
                        flowPks: "'sys_crud'",
                        filter: filter,
                        vfUrl: g.x.getPath() + "supplier_para.html"
                    }
                    this.$refs.grid.init(para);
                }
            },
            beforeSave: function () {
                if (!this.form.shortname) {
                    this.form.shortname = this.form.name;
                    this.form.shortname = this.form.shortname.replaceAll("有限公司", "").replaceAll("公司", "");
                    if (this.form.shortname.length > 20) {
                        this.form.shortname = this.form.shortname.substring(0, 20);
                    }
                }
                return true;
            }
        }
    });
</script>