<!DOCTYPE html>
<html>
<head>
    <title>空白窗口</title>
    <script src="../../../../framework/core/doys.js"></script>

    <style type="text/css">
        .el-row {
            margin-bottom: 20px;
            vertical-align: middle
        }
    </style>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col>
                <el-button @click="refreshDatabase">刷新数据库</el-button>
                <el-button @click="clearGarbageData">清除无效数据</el-button>
                <el-button onclick="win.close();">关闭</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <el-input v-model="viewPk" placeholder="请输入viewPk" style="width:200px;"></el-input>
                <el-button @click="refreshView">刷新视图</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <el-input v-model="nMaxCount" placeholder="请输入循环次数" style="width:400px;"></el-input>
                <el-button @click="testDataTable">测试DataTable</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <el-input v-model="mockTableName" placeholder="请输入 table_pk" style="width:295px;"></el-input>
                <el-input v-model="mockRowCount" placeholder="记录条数" style="width:100px;"></el-input>
                <el-select v-model="mockMode" placeholder="模拟方式">
                    <el-option key="0" value="0" label="追加生成"></el-option>
                    <el-option key="1" value="1" label="删除旧记录，重新生成"></el-option>
                </el-select>
                <el-button @click="generateMockData">生成模拟数据</el-button>
            </el-col>
        </el-row>
    </div>
</body>
</html>

<!-- winLoad -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            viewPk: "",
            nMaxCount: 1,
            mockMode: "0",
            mockTableName: "",
            mockRowCount: ""
        },
        methods: {
            refreshDatabase() {
                ajax.send("/system/database/refresh", {}).then((res) => {
                    if (res.ok) {
                        this.$message("刷库成功");
                    }
                    else {
                        this.$alert(res.error, { type: "error", title: "系统信息 ..." });
                    }
                })
            },
            clearGarbageData() {
                ajax.send("/system/common/clearGarbageData", {}).then((res) => {
                    if (res.ok) {
                        this.$message("垃圾数据清除成功");
                    }
                    else {
                        this.$alert(res.error, { type: "error", title: "系统信息 ..." });
                    }
                })
            },

            refreshView() {
                ajax.send("/system/view/refresh", { viewPk: this.viewPk }).then((res) => {
                    if (res.ok) {
                        this.$message("视图刷新成功");
                    }
                    else {
                        this.$alert(res.error, { type: "error", title: "系统信息 ..." });
                    }
                })
            },
            testDataTable() {
                ajax.send("/once/a", { nMaxCount: this.nMaxCount }).then((res) => {
                    if (res.ok) {
                        this.$message("测试完成");
                    }
                    else {
                        this.$alert(res.error, { type: "error", title: "系统信息 ..." });
                    }
                })
            },
            generateMockData() {
                ajax.send("/system/mock/generate_data", { tablePk: this.mockTableName, rowCount: this.mockRowCount, mockMode: this.mockMode }).then((res) => {
                    if (res.ok) {
                        this.$message("模拟数据生成完毕");
                    }
                    else {
                        this.$alert(res.error, { type: "error", title: "系统信息 ..." });
                    }
                })
            }
        }
    });

    // ------------------------------------------------------------------------
    function winLoad() {

    }
</script>