<!DOCTYPE html>
<html>
<head>
    <title>修改用户登录密码</title>
    <script src="../../../../framework/core/boot.js"></script>
</head>
<body>
    <div id="app" style="width:400px;padding:15px;">
        <el-form label-width="130px" label-position="left">
            <el-row>
                <el-form-item label="旧密码" required>
                    <el-input v-model="oldPassword" ref="oldPassword" prefix-icon="el-icon-lock" show-password placeholder="请输入旧密码" />
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="新密码" required>
                    <el-input v-model="newPassword" ref="newPassword" prefix-icon="el-icon-key" show-password placeholder="请输入新密码" />
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="确认密码" required>
                    <el-input v-model="newPassword2" ref="newPassword2" prefix-icon="el-icon-key" show-password placeholder="请再次输入新密码" />
                </el-form-item>
            </el-row>
            <el-row style="text-align:right">
                <el-button @click="win.close();" type="primary">放弃</el-button>
                <el-button @click="confirmModify" type="primary">确认修改</el-button>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            oldPassword: "",
            newPassword: "",
            newPassword2: ""
        },
        mounted() {
            this.$refs.oldPassword.focus();
        },
        methods: {
            confirmModify() {
                if (!this.checkBeforeSubmit()) return;

                let posdDATA = {
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword
                }
                ajax.send("/user_password/changePassword", posdDATA).then((res) => {
                    topWin.alert("登录密码已修改成功，请牢记。", "success", () => {
                        win.close();
                    });
                })
            },
            checkBeforeSubmit() {
                if (this.oldPassword.equals("")) {
                    topWin.message("请输入旧密码", "error");
                    this.$refs.oldPassword.focus();
                    return false;
                }

                // -- 检查新密码是否符合要求 --
                if (this.newPassword.equals("")) {
                    topWin.message("请输入新密码", "error");
                    this.$refs.newPassword.focus();
                    return false;
                }
                if (this.newPassword.equals(this.oldPassword)) {
                    topWin.message("新密码不能和旧密码一样，请检查", "error");
                    this.$refs.newPassword.select();
                    this.$refs.newPassword.focus();
                    return false;
                }

                if (this.newPassword.length < 6 || this.newPassword.length > 20) {
                    topWin.message("密码长度至少6位，至多20位，请检查", "error");
                    this.$refs.newPassword.select();
                    this.$refs.newPassword.focus();
                    return false;
                }

                let regExp = new RegExp("(?=.*[0-9])(?=.*[a-zA-Z]).{6,20}");
                if (!regExp.test(this.newPassword)) {
                    topWin.message("密码复杂度太低（必须包含字母和数字），请修改", "error");
                    this.$refs.newPassword.select();
                    this.$refs.newPassword.focus();
                    return false;
                }

                // -- 二次输入新密码 --
                if (this.newPassword2.equals("")) {
                    topWin.message("请再次输入新密码", "error");
                    this.$refs.newPassword2.focus();
                    return false;
                }
                if (this.newPassword != this.newPassword2) {
                    topWin.message("两次输入的新密码不一致，请检查", "error");
                    this.$refs.newPassword2.select();
                    this.$refs.newPassword2.focus();
                    return false;
                }

                return true;
            }
        }
    });
</script>