<!DOCTYPE html>
<html>
<head>
    <title>用户组维护</title>
    <script src="../../../../framework/core/doys.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="用户标识" required>
                        <el-input v-model="form.pk" placeholder="用户代码" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="密码" required>
                        <el-input v-model="form.password" show-password />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="姓名" required>
                        <el-input v-model="form.name" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="停用" required>
                        <el-checkbox v-model="form.flag_disabled">账户停用</el-checkbox>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="3" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {}
        },

        methods: {
            beforeSave: function () {
                return true;
            }
        }
    });
</script>