@charset "UTF-8";
html,body {
	height: 100%;
}

ul,li {
	list-style: none;
}

.login-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #16a085;
    /* background: url("/img/login-bg.jpg") no-repeat;
    background-size: cover;
    
     */
}

.login-topbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding:0 100px;
}

.login-topbar{
position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
	opacity: 0.1;
  filter:alpha(opacity=10);
  filter:"alpha(opacity=10)";
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
}

.login-topbar a {
	color: #3280fc;
	font-size: 22px;
	font-weight: 600;
	line-height: 50px;
	letter-spacing: 2px;
}

.login-topbar a:hover {
	text-decoration: none;
}

.login-topbar-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.login-main {
	width: 780px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -390px;
	margin-top: -200px;
	overflow:hidden;
	border-radius: 4px;
}

.login-left,.login-right {
	float: left;
	height: 100%;
	text-align: center; 
	display: table;
}

.login-left {
	width: 55%;
	background: url("../images/login-info-bg.png") no-repeat;
	background-size: cover; 
}

.login-right {
	width: 45%;
	background:#fff;
	padding: 40px;
}

.login-info, .login-form {
	display: table-cell;
	vertical-align: middle;
}

.login-info h2{
	margin: 10px 0  30px 0;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    letter-spacing: 2px;
}

.login-info-item {
	font-size: 14px;
    line-height: 2.5;
    color: #fff;
}

.login-form {
	width: 100%;
}

.login-form h2 {
	margin-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px;
    color: #3280fc;
}

.login-form .form-control {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;
    height: 38px;
    background: #fff;
    color: #333;
    font-size: 14px;
}
.login-form .input-control .help-block  {
    position: absolute;
    top: 0;
    right: 0;
    color: #EA644A;
}

.login-form input:FOCUS{
	 border-color: #145ccd;
	 border-bottom: 0px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(20,92,205,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(20,92,205,.6)
}
.login-form .form-control:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-form .input-control-icon-left, .login-form .input-control-icon-right {
	height: 38px;
	line-height: 38px;
}

.login-form .login-btn {
	margin-top: 30px;
}

.login-form .login-btn .btn {
	padding: 10px 12px;
	font-size: 16px;
	letter-spacing: 2px;
  box-shadow: rgba(152, 22, 244, 0.19);
  -webkit-box-shadow: rgba(152, 22, 244, 0.19) 0px 5px 10px 2px;
}


.marquee-box {
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}
.marquee {
	width: 8000%;
	height: 60px
}
.wave-list-box {
	float: left
}
.wave-list-box ul {
	float: left;
	height: 60px;
	overflow: hidden;
	zoom: 1
}
.wave-list-box ul li {
	height: 60px;
	width: 100%;
	float: left;
	line-height: 30px;
	list-style: none
}
.wave-box {
	position: relative;
	height: 60px;
	background: #fff
}

.autoWidth {
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1200px
}
.auto {
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1200px
}

.clearfix:after, .clearfix:before {
	display: table;
	line-height: 0;
	content: ""
}
.clearfix:after {
	clear: both
}
.clear-float {
	clear: both
}
.footer {
	background-color: #009fd9;
	font-family: "Microsoft Yahei";
	position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 9;
}
.footer-floor1 {
	width: 100%;
	padding: 36px 0 60px
}
.footer-list {
	width: 69%;
	height: 100%;
	float: left
}
.footer-list ul {
	float: left;
	margin-right: 13%
}
.footer-list .flist-4 {
	margin-right: 0
}
.footer-list li {
	line-height: 32px
}
.footer-list li a {
	color: #b6e2f2;
	font-size: 12px;
	text-decoration: none
}
.footer-list li a:hover {
	text-decoration: underline;
	color: #fff
}
.footer-list .flist-title {
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px
}
.footer-floor2 {
	width: 100%;
	border-top: 1px solid #4cc3ed;
	padding: 0px;
	text-align: center
}
.footer-floor2 p {
	text-align: center;
	color: #b6e2f2;
	font-size: 12px;
	line-height: 30px;
	    padding: 3px 0px;
    margin: 0px;
}
.footer-floor2 p span {
	font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif
}
.footer-floor2 a {
	color: #b6e2f2
}
.footer-floor2 a:hover {
	color: #a8d0e0;
	text-decoration: underline
}
.foot-link {
	margin: 0 15px;
	text-decoration: none;
	color: #b6e2f2
}
.foot-link:hover {
	text-decoration: underline
}
.footer-right {
	width: 300px;
	float: right
}
.telephone {
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff
}
.telephone span {
	display: inline-block;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 16%
}
.telephone .tel-number {
	font-size: 30px;
	font-weight: 400;
	text-align: right
}
.official-plat {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	position: relative
}
.official-plat ul {
	float: right;
	margin-top: 7px
}
.official-plat ul li span {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	float: left;
	margin-right: 12px
}
.official-plat ul li {
	height: 45px
}
.official-plat ul a {
	display: inline-block;
	height: 32px;
	width: 100%;
	line-height: 32px;
	color: #fff;
	text-decoration: none;
	font-size: 12px
}
.official-plat>p {
	display: inline-block;
	width: 132px;
	height: 132px;
	border: 1px solid #ddd;
	background-color: #fff
}
.official-plat .weixin {
	position: absolute;
	top: 0;
	left: 10px;
	background-image: url(../images/plat_qrcode.png);
	background-repeat: no-repeat;
	background-position: 0 0
}
.official-plat .weibo {
	position: absolute;
	top: 0;
	left: 10px;
	background-image: url(../images/plat_qrcode.png);
	background-repeat: no-repeat;
	background-position: -132px 0;
	display: none
}
#wx-corner {
	border: 10px solid transparent;
	border-left: 10px solid #fff;
	position: absolute;
	top: 12px;
	right: -20px;
	z-index: 10
}
#wb-corner {
	border: 10px solid transparent;
	border-left: 10px solid #fff;
	position: absolute;
	top: 58px;
	right: -20px;
	z-index: 10
}
.five-superiority {
	width: 100%;
	border-bottom: 1px solid #27aede;
	padding: 10px 0 20px
}
.five-superiority-list li {
	float: left;
	width: 20%;
	height: 36px;
	text-align: center;
	border-left: 1px solid #27aede
}
.five-superiority-list li:first-child {
	border-left: none
}
.five-superiority-list li a {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background: no-repeat 2% center;
	text-indent: 2em;
	color: #fff;
	font-size: 16px
}
.five-superiority-list li a:hover {
	color: #bfe7f5
}
.five-superiority-list li a.superiority-text {
	text-indent: 4em
}
.superiority-icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 10%;
	background-repeat: no-repeat;
	background-image: url(../images/footer_youshi.png)
}
.compensate_ico .superiority-icon {
	background-position: 0 0
}
.compensate_ico:hover .superiority-icon {
	background-position: 0 -50px
}
.retreat_ico .superiority-icon {
	background-position: 0 -100px
}
.retreat_ico:hover .superiority-icon {
	background-position: 0 -150px
}
.technology_ico .superiority-icon {
	background-position: 0 -200px
}
.technology_ico:hover .superiority-icon {
	background-position: 0 -250px
}
.prepare_ico .superiority-icon {
	background-position: 0 -300px
}
.prepare_ico:hover .superiority-icon {
	background-position: 0 -350px
}
.service_ico .superiority-icon {
	background-position: 0 -400px
}
.service_ico:hover .superiority-icon {
	background-position: 0 -450px
}

#ss_menu {
  bottom: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  right: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 9999;
}
#ss_menu > .menu {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
#ss_menu > .menu .share {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
#ss_menu > .menu .share .circle {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  margin-top: -6px;
  left: 12px;
  opacity: 1;
}
#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  opacity: 1;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}
#ss_menu > .menu .share .circle:after {
  left: 20.78461px;
  top: 12.0px;
}
#ss_menu > .menu .share .circle:before {
  left: 20.78461px;
  top: -12.0px;
}
#ss_menu > .menu .share .bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 18px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#ss_menu > .menu .share .bar:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#ss_menu > .menu .share.close .circle {
  opacity: 0;
}
#ss_menu > .menu .share.close .bar {
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}
#ss_menu > .menu .share.close .bar:before {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}
#ss_menu > .menu.ss_active {
  background: #00796B;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
#ss_menu > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  background: #00796B;
  border-radius: 50%;
  display: table;
}
#ss_menu > div i {
  display: table-cell;
  vertical-align: middle;
}
#ss_menu > div:hover {
  background: #009688;
  cursor: pointer;
}
#ss_menu div:nth-child(1) {
  top: 0px;
  left: -160px;
}
#ss_menu div:nth-child(2) {
  top: -80.0px;
  left: -138.56406px;
}
#ss_menu div:nth-child(3) {
  top: -138.56406px;
  left: -80.0px;
}
#ss_menu div:nth-child(4) {
  top: -160px;
  left: 0.0px;
}

.app-down{
	background-image: url(/img/app_android.jpg);
	background-repeat: no-repeat;
}

.app-login{
	background-image: url(/img/app_login.jpg);
}


#footer  .wave-box ul{
	padding-left:0px;
}

/* 修改密码窗口 */
.xwf_win_divWin{
	position: absolute;
	left: 40%;
	background-color: #F9F9F9;
	height:240px;
}