<!DOCTYPE html>
<html>
<head>
    <title>数据接口字段定义</title>
    <script src="../../../../framework/core/boot.js"></script>
    <script>
        importFrameworkRes("view-form-bar");
    </script>
</head>
<body>
    <div id="app" style="width:800px;">
        <view-form-bar id="vf" ref="vf"></view-form-bar>
        <el-form :model="form" ref="form" label-width="145px" label-position="left">
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="字段名称" required>
                        <el-input v-model="form.name" ref="name" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    <el-form-item label="长度" required>
                        <el-input v-model="form.size" ref="size" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="接口查询字段">
                        <el-checkbox v-model="form.flag_fk" ref="flag_fk">是接口查询字段</el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="span[1]">
                    <el-form-item label="检索字段标志">
                        <el-checkbox v-model="form.flag_ix" ref="flag_ix">是检索字段</el-checkbox>
                    </el-form-item>
                </el-col>
            </el-row>
            <!--
                <el-row>
                    <el-col :span="span[1]">
                       &nbsp;
                    </el-col>
                    <el-col :span="span[1]">
                        <el-form-item label="唯一索引字段标志">
                            <el-checkbox v-model="form.flag_ux" ref="flag_ux">是唯一索引字段</el-checkbox>
                        </el-form-item>
                    </el-col>
                </el-row>
            -->
            <!-- 序号、备注 -->
            <el-row>
                <el-col :span="span[1]">
                    <el-form-item label="序号">
                        <el-input v-model="form.sequence" />
                    </el-form-item>
                </el-col>
                <el-col :span="span[2]">
                    &nbsp;
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="span[0]">
                    <el-form-item label="备注">
                        <el-input v-model="form.remark" type="textarea" :rows="2" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</body>
</html>

<!-- vue.init -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 12, 12],
            form: {
                data_interface_id: null
            },
            parentId: null
        },

        methods: {
            afterAddnew() {
                this.form.data_interface_id = this.parentId;
                this.form.size = 30;
                this.form.flag_fk = false;
                this.form.flag_ux = false;
            },
            beforeSave: function () {
                this.form.name = this.form.name.toLowerCase();
                return true;
            }
        }
    });
</script>

<!-- winLoad -->
<script>
    function winLoad() {
        app.parentId = win.parentWindow.app.$refs.vf.getId();
    }
</script>