<!DOCTYPE html>
<html>
<head>
    <title>工业互联网标识解析-二级节点账号配置</title>
    <script src="../../../../framework/core/boot.js"></script>
    <style type="text/css">
        .qtyBlue {
            color: #409EFF;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
        }

        .qtyRed {
            color: #F56C6C;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
        }

        .message {
            color: red;
            font-size: large;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-form label-width="150px" label-position="left" style="width:500px;">
            <el-row>
                <el-form-item label="api_base_url" required>
                    <el-input v-model="apiBaseUrl" />
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="api_key" required>
                    <el-input v-model="apiKey" />
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="api_secret" required>
                    <el-input v-model="apiSecret" />
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="prefix" required>
                    <el-input v-model="prefix" />
                </el-form-item>
            </el-row>
            <el-row style="text-align:right;">
                <el-button type="primary" @click="saveAccountConfig">保存账号配置</el-button>
            </el-row>
        </el-form>
        <br />

        <el-divider content-position="left">手工上传元数据</el-divider>
        <div style="width:500px;">
            <el-row type="flex" justify="center" align="middle" style="margin-bottom:5px;">
                <el-col :span="span[1]" style="text-align:left">
                    当前<span class="qtyBlue">{{qtyMeta}}条元数据</span>待上传。
                </el-col>
                <el-col :span="span[2]" style="text-align:right">
                    <el-button type="primary" v-show="qtyMeta" @click="uploadMetaData">立即上传</el-button>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" align="middle" style="margin-bottom:5px;">
                <el-col :span="span[1]" style="text-align:left">
                    存在<span class="qtyRed">{{qtyMetaFail}}条元数据</span>上传失败，请检查。
                </el-col>
                <el-col :span="span[2]" style="text-align:right">
                    &nbsp;
                </el-col>
            </el-row>
        </div>
        <el-divider content-position="left">手工上传标识数据</el-divider>
        <div style="width:500px;">
            <el-row type="flex" justify="center" align="middle" style="margin-bottom:5px;">
                <el-col :span="span[1]" style="text-align:left">
                    当前<span class="qtyBlue">{{qtyId}}条标识数据</span>待上传。
                </el-col>
                <el-col :span="span[2]" style="text-align:right">
                    <el-button type="primary" v-show="qtyId" @click="uploadIdData">立即上传</el-button>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" align="middle" style="margin-bottom:5px;">
                <el-col :span="span[1]" style="text-align:left">
                    存在<span class="qtyRed">{{qtyIdFail}}条标识数据</span>上传失败，请检查。
                </el-col>
                <el-col :span="span[2]" style="text-align:right">
                    &nbsp;
                </el-col>
            </el-row>
        </div>

        <el-row> 
            <ul>
                <li v-for="message in messages">{{message}}</li>
            </ul>
        </el-row>
    </div>
</body>
</html>

<!-- appInit -->
<script>
    var app = new Vue({
        el: '#app',
        data: {
            span: [24, 18, 6],

            apiBaseUrl: "",
            apiKey: "",
            apiSecret: "",
            prefix: "",

            qtyMeta: 0, qtyMetaFail: 0,         // -- 元数据待上传数量，上传失败数量 --
            qtyId: 0, qtyIdFail: 0,             // -- 标识待上传数量，上传失败数量 --

            messages: []
        },
        mounted() {
            ajax.send("/aprint/cfg/iot2_account/getAccount", {}).then((res) => {
                let dtb = res.dtbAccount;
                if (dtb.rowCount == 1) {
                    this.apiBaseUrl = dtb.rows[0]["api_base_url"].value;
                    this.apiKey = dtb.rows[0]["api_key"].value;
                    this.apiSecret = dtb.rows[0]["api_secret"].value;
                    this.prefix = dtb.rows[0]["prefix"].value;
                }
            });

            this.getQueueSummary();
        },
        methods: {
            getQueueSummary() {
                ajax.send("/aprint/thirdparty/iot2/getQueueSummary", {}).then((res) => {
                    this.qtyMeta = res.qtyMeta;
                    this.qtyMetaFail = res.qtyMetaFail;
                    this.qtyId = res.qtyId;
                    this.qtyIdFail = res.qtyIdFail;
                });
            },
            saveAccountConfig() {
                let dataPOST = {
                    apiBaseUrl: this.apiBaseUrl,
                    apiKey: this.apiKey,
                    apiSecret: this.apiSecret,
                    prefix: this.prefix
                }
                ajax.send("/aprint/cfg/iot2_account/saveAccount", dataPOST).then((res) => {
                    topWin.message("数据保存成功。", "success");
                });
            },

            uploadMetaData() {
                this.messages = [];
                ajax.send("/aprint/thirdparty/iot2/uploadMetaData", {}).then((res) => {
                    let list = res.list;
                    if (list && list.length > 0) {
                        this.messages = list;
                        topWin.message("有错误信息返回，请注意查看。", "warning");
                    }
                    else {
                        topWin.message("当前操作成功", "success");
                    }

                    this.getQueueSummary();
                })
            },
            uploadIdData() {
                this.messages = [];
                ajax.send("/aprint/thirdparty/iot2/uploadIdData", {}).then((res) => {
                    let list = res.list;
                    if (list && list.length > 0) {
                        this.messages = list;
                        topWin.message("有错误信息返回，请注意查看。", "warning");
                    }
                    else {
                        topWin.message("当前操作成功", "success");
                    }

                    this.getQueueSummary();
                })
            }
        }
    });
</script>